include ../../mixins/service-custom/service-custom-checkbox

section.calculator_project
	.center_block
		h2 Дополнительные услуги
		.calculator_block
			.ad_checkbox_block
				button.button_white.ad_button: span Копирайт
				button.button_white.ad_button: span Корпоративные носители
				button.button_white.ad_button: span Наружная реклама
				.service_full_block
					.service_full_list
						.service_full_item
							.service_price_title_block
								.title Название
								.price.price_icon 3 000
							.bc_buttons
								button.button_white.sub: span: img(src="pic/minus.svg" alt="Минус")
								input(type="number" value="1" disabled)
								button.button_white.add: span: img(src="pic/plus.svg" alt="Плюс")
						.service_full_item
							.service_price_title_block
								.title Дескриптор
								.price.price_icon 5 000
							.bc_buttons
								button.button_white.sub: span: img(src="pic/minus.svg" alt="Минус")
								input(type="number" value="1" disabled)
								button.button_white.add: span: img(src="pic/plus.svg" alt="Плюс")
						.service_full_item
							.service_price_title_block
								.title Слоган
								.price.price_icon 25 000
							.bc_buttons
								button.button_white.sub: span: img(src="pic/minus.svg" alt="Минус")
								input(type="number" value="1" disabled)
								button.button_white.add: span: img(src="pic/plus.svg" alt="Плюс")
					.service_full_submit: button.button_blue: span Добавить
				button.button_white.ad_button: span Оформление транспорта
				button.button_white.ad_button: span Полиграфия
				button.button_white.ad_button: span Представительская продукция
				button.button_white.ad_button: span Сувенирная продукция
				button.button_blue.ad_button: span Рекламные POS
				button.button_white.ad_button: span Упаковочные сервисные материалы
				.service_full_block.center
					.service_full_list
						.service_full_item
							.service_price_title_block
								.title Название
								.price.price_icon 3 000
							.bc_buttons
								button.button_white.sub: span: img(src="pic/minus.svg" alt="Минус")
								input(type="number" value="1" disabled)
								button.button_white.add: span: img(src="pic/plus.svg" alt="Плюс")
						.service_full_item
							.service_price_title_block
								.title Дескриптор
								.price.price_icon 5 000
							.bc_buttons
								button.button_white.sub: span: img(src="pic/minus.svg" alt="Минус")
								input(type="number" value="1" disabled)
								button.button_white.add: span: img(src="pic/plus.svg" alt="Плюс")
						.service_full_item
							.service_price_title_block
								.title Слоган
								.price.price_icon 25 000
							.bc_buttons
								button.button_white.sub: span: img(src="pic/minus.svg" alt="Минус")
								input(type="number" value="1" disabled)
								button.button_white.add: span: img(src="pic/plus.svg" alt="Плюс")
					.service_full_submit: button.button_blue: span Добавить
				button.button_white.ad_button: span Фирменная одежда и аксессуары
				button.button_white.ad_button: span Digital
				button.button_blue.ad_button: span Разработка упаковки
				.service_full_block.right
					.service_full_list
						.service_full_item
							.service_price_title_block
								.title Шаблон электронного письма
								.price.price_icon 3 000
							.bc_buttons
								button.button_white.sub: span: img(src="pic/minus.svg" alt="Минус")
								input(type="number" value="1" disabled)
								button.button_white.add: span: img(src="pic/plus.svg" alt="Плюс")
						.service_full_item
							.service_price_title_block
								.title Экран прелоадера мобильного приложения
								.price.price_icon 5 000
							.bc_buttons
								button.button_white.sub: span: img(src="pic/minus.svg" alt="Минус")
								input(type="number" value="1" disabled)
								button.button_white.add: span: img(src="pic/plus.svg" alt="Плюс")
						.service_full_item
							.service_price_title_block
								.title Концепция дизайна мобильного приложения
								.price.price_icon 25 000
							.bc_buttons
								button.button_white.sub: span: img(src="pic/minus.svg" alt="Минус")
								input(type="number" value="1" disabled)
								button.button_white.add: span: img(src="pic/plus.svg" alt="Плюс")
						.service_full_item
							.service_price_title_block
								.title Иконка мобильного приложения
								.price.price_icon 10 000
							.bc_buttons
								button.button_white.sub: span: img(src="pic/minus.svg" alt="Минус")
								input(type="number" value="1" disabled)
								button.button_white.add: span: img(src="pic/plus.svg" alt="Плюс")
						.service_full_item
							.service_price_title_block
								.title Пример оформления электронной рассылки
								.price.price_icon 7 000
							.bc_buttons
								button.button_white.sub: span: img(src="pic/minus.svg" alt="Минус")
								input(type="number" value="1" disabled)
								button.button_white.add: span: img(src="pic/plus.svg" alt="Плюс")

					.service_full_pagination
						ul
							li 1
							li 3
						button.button_white: span: img(src="pic/next-pagination.svg" alt="Следующая страница")
					.service_full_submit: button.button_blue: span Добавить
			.calculator_block_total.ad_checkbox
				#additional_items_list.bc_block_total
					.bc_block_total_item
						span Оформление транспорта:
						span.price_icon 10 000
					.bc_block_total_item
						span Упаковочные сервисные материалы:
						span.price_icon 10 000
				#additional_items_list_total.bc_block_total_item_total
					span Доп. услуги на сумму:
					#ad_block_total.price_icon 20 000
