section.calculator_project#calc_first
	.center_block
		h2 Основа проекта
		.calculator_block
			#logo_item.basics_custom_block_item(data-price=60000 data-item="logo")
				.logo_title
					.bc_logo: img(src="pic/bc-logo.svg" alt="Основа проекта")
					.bc_title
						span Фирменный стиль
						span#logo_calc_description
				.bc_line
				.bc_buttons_price
					.bc_buttons
						button.button_white.sub: span: img(src="pic/minus.svg" alt="Минус")
						input#logos_count(type="number" value="1" disabled)
						button.button_white.add: span: img(src="pic/plus.svg" alt="Плюс")
					.bc_price#logo_price.price_icon 60 000

			#package_item.basics_custom_block_item(data-price=70000 data-item="package")
				.logo_title
					.bc_logo: img(src="pic/bc-package.svg" alt="Упаковка")
					.bc_title
						span Дизайн упаковки
						span#package_calc_description
				.bc_line
				.bc_buttons_price
					.bc_buttons
						button.button_white.sub: span: img(src="pic/minus.svg" alt="Минус")
						input#package_count(type="number" value="2" disabled)
						button.button_white.add: span: img(src="pic/plus.svg" alt="Плюс")
					.bc_price#package_price.price_icon 140 000

			.calculator_block_total
				.bc_block_total
					span Основные услуги на сумму:
					#bc_block_total.price_icon 200 000
