section.calculator_project
	.center_block
		h2 Ваш заказ:
		.calculator_block.total_cart
			.total_title Основные услуги
			#basic_services_list.total_line
				#basic_logo
					.total_item
						.title Логотип. Разработка 1 варианта
						.price_button
							.price.price_icon 60 000
							button.delete: img(src="pic/delete-icon.svg" alt="Удалить")

				#basic_package
					.total_item.confirm
						.title Упаковка. Разработка 2 вариантов
						.confirm_buttons
							button.delete_confirm_service.button_white
								span
									img(src="pic/confirm-delete.svg" alt="Удалить")
									p Удалить
							button.cancel.button_white: span Отменить

			.total_title Дополнительные услуги
			#additional_services.total_line
				.total_item
					.title Оформление транспорта
					.price_button
						.price.price_icon + 10 000
						button.delete: img(src="pic/delete-icon.svg" alt="Удалить")
				.total_item
					.title Упаковочные сервисные материалы
					.price_button
						.price.price_icon + 10 000
						button.delete: img(src="pic/delete-icon.svg" alt="Удалить")
			//#promo_code_service
			//	.total_title Есть промокод?
			//	.promo_position
			//		.promo_left Введите и получите скидку
			//		.promo_form
			//			input(type="text" name="promo_code")
			//			button.button_white: span Применить
			//			.success Промокод принят
			#total_service
				.total_service_position
					.total_service_left
						form
							button#submit_custom.button_blue: span Заказать пакет Кастом
					.total_service_right
						.item
							.title Все услуги:
							.price.price_icon 220 000
						.item
							.title Скидка:
							.price.price_icon -20 000
						#cart_total_price.price_icon 220 000




