.breadcrumbs_block{
	margin-top: 40px;
}

.breadcrumbs_block ul{
	display: flex;
	li, li a{
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #959595;
		transition: all 0.3s ease-in-out;
	}
	li a:hover{
		color: #3C3C3B;
		transition: all 0.3s ease-in-out;
	}
	li:after{
		content: '—';
		margin: 0 5px;
	}
	li:last-child:after{
		content: '';
		margin: 0;
	}
}
