.rainbow_slider{
	width: 100%;
	margin: -20px 7px 0 7px;
	span.irs-min, span.irs-max{
		display: none;
	}
	.irs--flat .irs-line{
		background: linear-gradient(90deg, #FF7A7A 6.73%, #FFB91B 53.37%, #A7FF99 100%), #C4C4C4;
		border-radius: 21px;
	}
	.irs--flat .irs-bar{
		background: transparent;
	}
	.irs--flat .irs-handle{
		background: transparent;
		width: 29px;
		height: 29px;
		top: 17px;
		cursor: pointer;
		border: 9px solid #ffffff;
		box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.8), 7px 7px 14px rgba(144, 165, 194, 0.65);
		border-radius: 50px;
		i{
			display: none !important;
		}
	}
	.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
		background: #FFFFFF;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
		border-radius: 6px;
		width: 90px;
		height: 44px;
		color: #1859FF;
		font-size: 14px;
		line-height: 133.19%;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 60px;
		cursor: pointer;
	}
	.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before{
		content: url("../pic/modal-rib-small.svg");
		border: none;
		top: -10px;
		overflow: auto;
		bottom: auto;
		width: auto;
		height: auto;
		margin-left: -13px;
		z-index: 10;
	}
	.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:after{
		content: '₽';
		margin-left: 5px;
	}
	.rainbow_slider_title_position{
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		.item{
			span{
				display: block;
			}
			span:first-child{
				font-weight: 500;
				font-size: 13px;
				line-height: 15px;
				color: #000000;
			}
			span:last-child{
				font-size: 13px;
				line-height: 15px;
				color: #959595;
				margin: 1px 0 0 0;
			}
			&:nth-child(2){
				text-align: center;
				span:last-child{
					font-weight: 500;
					font-size: 13px;
					line-height: 15px;
					color: #000000;
				}
			}
			&:last-child{
				text-align: right;
			}
		}

	}
}

.blue_slider{
	width: 100%;
	margin: -20px 7px 0 7px;
	span.irs-min, span.irs-max{
		display: none;
	}
	.irs--flat .irs-line{
		background: linear-gradient(358.94deg, #FEFEFF 12.98%, #C6CEDA 91.82%);
		border-radius: 21px;
	}
	.irs--flat .irs-handle{
		i{
			display: none !important;
		}
	}
	.irs--flat .irs-bar{
		background: #1859FF;
		border-radius: 21px;
	}
	.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
		background: linear-gradient(134.17deg, #BBCEFF 4.98%, #1859FF 94.88%);
		box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
		border-radius: 38px;
		width: 38px;
		height: 38px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 20;
		font-weight: 500;
		font-size: 14px;
		line-height: 133.19%;
		color: #FFFFFF;
		top: 10px;
		cursor: pointer;
		&:before{
			content: none;
		}
	}
	.blue_slider_position{
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		span{
			display: block;
			font-weight: 500;
			font-size: 13px;
			line-height: 15px;
			color: #000000;
		}
	}
}

.gray_slider_position{
	margin-top: 64px;
	max-width: 934px;
	width: 100%;
}

.gray_slider{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 64px;
	.irs--flat .irs-handle{
		background: linear-gradient(134.17deg, #BBCEFF 4.98%, #1859FF 94.88%);
		box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(166, 180, 200, 0.7);
		border-radius: 38px;
		width: 38px;
		height: 38px;
		top: 10px;
		cursor: pointer;
		i{
			display: none !important;
		}
	}
	.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
		background-color: transparent;
		color: transparent;
		font-size: 0;
		line-height: 0;
	}
	.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before{
		content: none;
	}
	.irs--flat .irs-bar{
		background: transparent;
	}
	.irs--flat .irs-line{
		background: linear-gradient(358.99deg, #FEFEFF 12.98%, #C6CEDA 91.82%);
		border-radius: 21px;
	}
	.irs--flat .irs-handle{
		i{
			display: none !important;
		}
	}
	span.irs-min, span.irs-max{
		display: none;
	}
	.input{
		width: calc(100% - 264px);
		margin: -20px 20px 0 20px;
	}
	span.title{
		width: 132px;
		display: block;
		color: #1859FF;
		font-size: 14px;
		line-height: 133.19%;
		&.first{
			text-align: right;
		}
	}
	&:last-child{
		margin-bottom: 0;
	}
	&:first-child{
		margin-top: 40px;
	}
}
