@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap');
@import "variables";
@import "init";
@import "styled-buttons";
@import "breif-sliders";
@import "buttons";

.dev_cont {
	position: fixed;
	right: 0;
	top: 0;
	background-color: #FFFFFF;
	padding: 10px;
	box-sizing: border-box;
	z-index: 9999;

	li {
		line-height: 25px;

		a {
			font-size: 16px;
			font-weight: bold;
		}
	}
}

section.full_height_position {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
}

@media only screen and (max-width: 768px) {

	html, body {
		zoom: .9;
		-moz-transform: scale(.9);
	}

}

@media only screen and (max-width: 670px) {

	html, body {
		zoom: .8;
		-moz-transform: scale(.8);
	}

}

@media only screen and (max-width: 520px) {

	html, body {
		zoom: .7;
		-moz-transform: scale(.7);
	}

	.value_grid{
		zoom: .9;
		-moz-transform: scale(.9);
	}

}

@media only screen and (max-width: 430px) {

	.value_grid{
		zoom: .85;
		-moz-transform: scale(.85);
	}

}

@media only screen and (max-width: 400px) {

	html, body {
		zoom: .64;
		-moz-transform: scale(.64);
	}

}


header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 110px;
	margin-bottom: 40px;

	nav ul, .header_right {
		display: flex;
		align-items: center;
	}

	nav ul li {
		margin: 0 25px;

		a {
			font-size: 16px;
			line-height: 140%;
			color: #3C3C3B;
		}
	}

	.notification {
		position: relative;
		margin-right: 50px;

		span {
			display: block;
			width: 8px;
			height: 8px;
			background: #1859FF;
			border-radius: 50%;
			position: absolute;
			top: -2px;
			right: -2px;
		}
	}

	.user {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		overflow: hidden;
	}
}

a {
	text-decoration: none;
}

footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 35px 0 30px 0;
	box-sizing: border-box;
	margin-top: 60px;

	.footer_item {
		display: flex;
		align-items: center;

		.footer_nav ul {
			display: flex;
			align-items: center;
			margin-left: 70px;

			li {
				margin: 0 12px;

				a {
					font-size: 18px;
					line-height: 110%;
					color: #000000;
				}
			}
		}
	}

	ul.footer_social {
		display: flex;
		align-items: center;

		li {
			margin-left: 10px;
		}
	}

	.footer_copyright {
		width: 100%;
		margin-top: 13px;
	}
}

h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

.position_justify {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content_block {
	min-height: 100%;
	height: 100%;

	.content_item {
		h1 {
			font-weight: bold;
			font-size: 36px;
			line-height: 110%;
		}

		p {
			width: 289px;
			font-size: 18px;
			line-height: 135%;
			margin: 25px 0 0 0;
		}
	}

	.background {
		background: linear-gradient(134.17deg, #EFF2F8 4.98%, #F3F5F8 17.62%, #FCFCFC 94.88%);
		box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.8), 7px 7px 14px rgba(144, 165, 194, 0.65);
		border-radius: 15px;
		padding: 60px 40px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100%;
	}
}

.content_grid_items {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;

	.item {
		width: 330px;

		p:first-child {
			font-size: 14px;
			line-height: 135%;
			text-transform: uppercase;
			color: #1859FF;
		}

		p:last-child {
			font-size: 18px;
			line-height: 135%;
			margin: 5px 0 0 0;
		}
	}
}

.content_button {
	margin-top: 35px;
}

.content_block.center {
	.pic {
		display: flex;
		justify-content: center;
		margin-bottom: 35px;
	}

	h1 {
		font-size: 34px;
		line-height: 124%;
		font-weight: bold;
		letter-spacing: -0.0064em;
		text-align: center;
		width: 678px;
		margin: 0 auto;
	}
}

.content_button.center {
	display: flex;
	justify-content: center;
}

.button_margin {
	a, button {
		margin: 0 24px;
	}
}

.success_brief {
	button {
		width: 350px;
	}
}

h1.success_brief {
	margin-bottom: 35px;
}

.content_pagination {
	display: flex;
	justify-content: center;
	align-items: flex-start;

	a.back_button {
		margin-right: auto;
		display: inline-flex;
		align-items: center;
		color: #1859FF;
		font-size: 14px;
		line-height: 133.19%;
		text-transform: uppercase;

		span {
			display: block;
			margin-left: 10px;
		}
	}

	ul.pagination_content {
		display: flex;
		align-items: center;
		margin-right: auto;

		li {
			a {
				display: block;
				padding: 0 20px 10px 20px;
				border-bottom: 3px solid #FFFFFF;
				color: #000000;
			}

			&.active {
				a {
					border-bottom: 3px solid #1859FF;
					color: #1859FF;
					font-weight: bold;
				}
			}
		}
	}
}

.background_margin {
	margin-top: 25px;
}

.content_form {
	padding: 70px 50px !important;

	h1, h2 {
		font-size: 30px;
		line-height: 110%;
		text-align: center;
	}
}

.select_one_block{
	display: flex;
	justify-content: space-between;
	width: 100%;
	.select_one_block_item{
		background: linear-gradient(134.17deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
		box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(166, 180, 200, 0.7);
		border-radius: 35px;
		width: calc(100% / 3 - 24px);
		height: 347px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		input{
			display: none;
		}
		p{
			font-weight: bold;
			font-size: 17px;
			line-height: 20px;
			color: #000000;
			margin: 24px 0 20px 0;
		}
		&:hover{
			.cat_image{
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease-in-out;
			}
			.cat_image_active{
				opacity: 1;
				visibility: visible;
				transition: all 0.3s ease-in-out;
			}
		}
	}

	.cat_image{
		opacity: 1;
		visibility: visible;
		position: absolute;
		transition: all 0.3s ease-in-out;
		background: linear-gradient(134.17deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
		box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(166, 180, 200, 0.7);
		border-radius: 35px;
		width: 160px;
		height: 160px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: -80px;
	}

	.cat_image_active{
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease-in-out;
		background: linear-gradient(134.17deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
		box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(166, 180, 200, 0.7);
		border-radius: 35px;
		width: 160px;
		height: 160px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: -60px;
	}

	input:checked ~ .cat_image {
		opacity: 0;
		visibility: hidden;
	}

	input:checked ~ .cat_image_active {
		opacity: 1;
		visibility: visible;
	}

	button{
		position: absolute;
		bottom: 35px;
	}

}

.custom_checkbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px -16px -7px -16px;

	.custom_checkbox_item {
		margin: 0 7px 35px 7px;
		background: linear-gradient(134.17deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
		box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(166, 180, 200, 0.7);
		border-radius: 35px;
		width: 242px;
		height: 338px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 20px;
		flex-direction: column;
		position: relative;

		&:hover{
			.cat_image{
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease-in-out;
			}
			.cat_image_active{
				opacity: 1;
				visibility: visible;
				transition: all 0.3s ease-in-out;
			}
		}

		.cat_image{
			opacity: 1;
			visibility: visible;
			position: absolute;
			transition: all 0.3s ease-in-out;
			margin-top: -40px;
		}

		.cat_image_active{
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease-in-out;
			margin-top: -40px;
		}

		button{
			position: absolute;
			bottom: 35px;
		}

		p {
			margin: 10px 0 0 0;
			font-weight: 500;
			font-size: 13px;
			line-height: 15px;
			position: absolute;
			bottom: 120px;
			z-index: 40;
		}

		label {
			display: block;
			position: relative;
			cursor: pointer;
			line-height: 0;

			img {
				border-radius: 8px;
			}

			span {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background: #1859FF;
				z-index: 10;
				border-radius: 8px;
				visibility: hidden;
				opacity: 0;
				transition: all 0.3s ease-in-out;
				&.fire_icon:before{
					content: url("../pic/fire-icon.svg");
				}
				&.like_icon:before{
					content: url("../pic/like-icon.svg");
				}
				&.love_icon:before{
					content: url("../pic/love-icon.svg");
				}
			}
		}

		input:checked ~ .cat_image {
			opacity: 0;
			visibility: hidden;
		}

		input:checked ~ .cat_image_active {
			opacity: 1;
			visibility: visible;
		}

		input {
			display: none;
		}
	}
}

.custom_checkbox_title{
	margin-bottom: 8px;
	text-align: left;
	width: 100%;
	font-size: 14px;
	line-height: 133.19%;
	color: #1859FF;
	margin-left: 16px;
	&.first_item{
		margin-top: 48px;
	}
}

.custom_checkbox.small_grid{
	width: 100%;
	margin: 0;
	.custom_checkbox_item{
		width: calc(100% / 5 - 14px);
	}
}

.form_input, .form_element_breif {
	display: flex;
	flex-direction: column;
	span.subtitle {
		display: block;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 133.19%;
		text-transform: uppercase;
		color: #1859FF;
	}

	input, textarea {
		border: none;
		padding: 16px 20px;
		box-sizing: border-box;
		width: 100%;
		font-size: 16px;
		line-height: 134%;
		font-family: 'Roboto', sans-serif;
		background: linear-gradient(169.72deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
		box-shadow: inset 5px 5px 7px rgba(193, 199, 207, 0.55), inset -5px -5px 15px rgba(255, 255, 255, 0.75);
		border-radius: 10px;
		resize: none;
	}
}

.what_product {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;

	span.subtitle {
		text-align: left;
		display: block;
		margin-top: 48px;
	}

	textarea {
		height: 115px;
	}

	h2 {
		margin-bottom: 35px;
	}
}

.form_input {
	textarea {
		height: 115px;
	}
}

.breif_card_position {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-bottom: -48px;
	.breif_card_item {
		width: calc(100% / 3 - 24px);
		background: linear-gradient(134.17deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
		box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(166, 180, 200, 0.7);
		border-radius: 35px;
		padding: 30px;
		box-sizing: border-box;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 48px;
		p {
			font-weight: bold;
			font-size: 17px;
			line-height: 20px;
		}
		p.content{
			font-weight: 500;
			font-size: 13px;
			line-height: 15px;
			color: #959595;
			min-height: 50px;
			margin-top: 15px;
		}
		button {
			height: 51px;
			margin-top: 34px;
			color: #808080;
		}

		button.blue_button {
			color: #ffffff;
		}
		.breif_card_item_pic{
			width: 140px;
			height: 140px;
			border-radius: 50%;
			overflow: hidden;
			background: #FFFFFF;
			box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.8), 7px 7px 14px rgba(144, 165, 194, 0.65);
			margin-bottom: 30px;
			img{
				border-radius: 50%;
			}
		}
	}
}

.form_element_breif {
	margin-top: 50px;
	textarea{
		width: 100%;
		margin-left: 7px;
	}
	span.title {
		font-size: 14px;
		line-height: 133.19%;
		color: #1859FF;
		margin-bottom: 10px;
		display: block;
		margin-left: 7px;
	}

	button {
		width: 184px;
		margin: 0 7px;
	}
}

.input_form_item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 25px;
	width: 100%;

	span.title {
		display: block;
		width: 100%;
		font-size: 13px;
		line-height: 15px;
		margin-bottom: 10px;
	}

	input {
		width: 100%;
		background: linear-gradient(134.17deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
		box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 7px rgba(193, 199, 207, 0.55);
		border-radius: 10px;
		box-sizing: border-box;
		border: none;
		font-size: 16px;
		height: 53px;
		line-height: 19px;
		padding: 19px 14px;
	}

	&.with_button {
		input {
			width: calc(100% - 276px) !important;
		}

		button {
			width: 264px;
		}
	}
}

.input_form_double {
	display: flex;
	justify-content: space-between;

	.input_form_item {
		width: calc(50% - 6px);
	}
}

.photo_input_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 48px -20px 13px;

	.photo_input {
		width: 242px;
		background: linear-gradient(134.17deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
		box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(166, 180, 200, 0.7);
		border-radius: 35px;
		padding: 30px 20px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 10px;

		.photo{
			width: 140px;
			height: 140px;
			display: flex;
			justify-content: center;
			background: #E8E8E8;
			border-radius: 50%;
			margin: 0 auto;
			overflow: hidden;
			box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.8), 7px 7px 14px rgba(144, 165, 194, 0.65);
		}

		a {
			color: #1859FF;
		}

		p {
			font-weight: bold;
			font-size: 17px;
			line-height: 20px;
			text-align: center;
			margin: 24px 0 20px 0;
			&.graphics{
				font-weight: 500;
				font-size: 13px;
				line-height: 15px;
				color: #959595;
				text-align: left;
			}
		}

		p.content {
			font-weight: 500;
			font-size: 13px;
			line-height: 15px;
			color: #959595;
		}

		ul {
			margin-bottom: 60px;
		}

		li {
			font-weight: 500;
			font-size: 13px;
			line-height: 15px;
			position: relative;
			padding-left: 10px;
			color: #959595;
			margin-bottom: 10px;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				width: 3px;
				height: 3px;
				top: 5px;
				background: #959595;
				border-radius: 50%;
			}
		}
	}
}

.need_help_link {
	margin-top: 24px;
	margin-bottom: 13px;

	a {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: #1859FF;
		font-size: 14px;

		img {
			line-height: 0;
			margin-top: -12px;
		}
	}
}

.content_flex_center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loading_content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 100px 0;

	p {
		font-weight: bold;
		font-size: 20px;
		line-height: 133.19%;
		text-align: center;
	}
}

.modal_block {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(160, 175, 213, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;

	.modal {
		max-width: 1048px;
		width: calc(100% - 80px);
		max-height: 80%;
		overflow-y: auto;
		background: #FFFFFF;
		border-radius: 20px;
		padding: 60px;
		box-sizing: border-box;
		transform: scale(0);
		transform-origin: 0 0;
		transition: all 0.3s ease-in-out;

		p.subtitle {
			font-size: 18px;
			line-height: 21px;
			text-align: center;
			letter-spacing: -0.0064em;
		}

		p.modal_title_big {
			font-weight: bold;
			font-size: 30px;
			line-height: 35px;
			text-align: center;
			letter-spacing: -0.0064em;
			margin: 4px 0 0 0;
		}

		.center_block_content {
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;

			p.title {
				font-weight: bold;
				font-size: 20px;
				line-height: 133.19%;
				margin: 24px 0 0 0;
			}

			p.content {
				color: #959595;
				font-size: 17px;
				line-height: 134%;
				margin: 14px 0 0 0;
			}
		}
	}

	&.modal_active {
		visibility: visible;
		opacity: 1;
		transition: all 0.3s ease-in-out;

		.modal {
			transform: scale(1);
			transform-origin: 0 0;
			transition: all 0.3s ease-in-out;
		}
	}
}

.modal_logos_grid {
	display: flex;
	justify-content: space-between;
	margin-top: 48px;

	.grid_item {
		width: calc(100% / 4 - 24px);

		p {
			font-weight: 500;
			font-size: 13px;
			line-height: 15px;
			color: #959595;
			margin: 14px 0 0 0;
		}
	}
}

.content_small_width {
	max-width: 758px;
	width: 100%;
}

.value_grid {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 34px;
}

.value_grid_item{
	margin-left: 16px;
	.value_grid_title{
		font-weight: 500;
		font-size: 13px;
		line-height: 15px;
		text-align: center;
		margin-bottom: 15px;
	}
}

.value_grid_title_block{
	padding: 120px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: right;
}

.value_grid_title_block{
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
}

.value_grid_block {
	width: 256px;
	min-height: 181px;
	padding: 30px 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
	background: linear-gradient(134.17deg, #E4E8EF 4.98%, #FFFFFF 78.03%);
	box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(166, 180, 200, 0.7);
	border-radius: 40px;
	transition: all 0.3s ease-in-out;
	z-index: auto;

	.information_drop{
		justify-content: space-between;
	}

	span.grid_block_line{
		display: block;
		width: 100%;
		height: 4px;
		margin-bottom: 20px;
	}

	.subtitle {
		letter-spacing: -0.0064em;
		font-size: 14px;
		line-height: 16px;
		color: #3C3C3B;
	}

	.title {
		letter-spacing: -0.0064em;
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;
		color: #3C3C3B;
		min-height: 42px;
		margin-top: 8px;
	}

	button {
		width: 139px;
		height: 54px !important;
		margin: 20px auto 0 auto;
		&:before{
			box-shadow: none;
		}
		&:hover:before{
			box-shadow: none;
		}
	}

	&.green {
		span.grid_block_line{
			background: #63B67A;
		}
	}

	&.yellow {
		span.grid_block_line{
			background: #EBC22F;
		}
	}

	&.red {
		span.grid_block_line{
			background: #EB612F;
		}
	}
	&.active{
		box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
	}
}

.rating_box{
	max-width: 830px;
	width: 100%;
	margin-top: 48px;
	margin-bottom: -32px;
	.rating_item{
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;
		margin-bottom: 32px;
		p.title{
			width: 190px;
			color: #1859FF;
			font-size: 14px;
			line-height: 133.19%;
			text-align: right;
			margin-right: 34px;
		}
	}
}

.buttons_list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 190px - 34px);
	button{
		border-radius: 48px;
		width: 48px;
		height: 48px;
		opacity: 0.14;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		letter-spacing: -0.0064em;
		color: #FFFFFF;
		transition: all 0.3s ease-in-out;
		&:nth-child(1){
			background: linear-gradient(134.17deg, #FF9B77 4.98%, #EB6230 94.88%);
			box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(241, 119, 75, 0.5);
		}
		&:nth-child(2){
			background: linear-gradient(134.17deg, #EE925F 4.98%, #EC7330 94.88%);
			box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(236, 115, 48, 0.5);
		}
		&:nth-child(3){
			background: linear-gradient(134.17deg, #FFA664 4.98%, #EC8030 94.88%);
			box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(236, 128, 48, 0.5);
		}
		&:nth-child(4){
			background: linear-gradient(134.17deg, #FFAE5F 4.98%, #EC8D30 94.88%);
			box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(236, 141, 48, 0.5);
		}
		&:nth-child(5){
			background: linear-gradient(134.17deg, #FFC376 4.98%, #EC9A30 94.88%);
			box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(236, 154, 48, 0.5);
		}
		&:nth-child(6){
			background: linear-gradient(134.17deg, #FFD079 4.98%, #DDA338 94.88%);
			box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(222, 165, 59, 0.5);
		}
		&:nth-child(7){
			background: linear-gradient(134.17deg, #E2C969 4.98%, #C0A747 94.88%);
			box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(203, 178, 81, 0.5);
		}
		&:nth-child(8){
			background: linear-gradient(134.17deg, #C9D06C 4.98%, #A6AC56 94.88%);
			box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(203, 178, 81, 0.5);
		}
		&:nth-child(9){
			background: linear-gradient(134.17deg, #B0CF90 4.98%, #8CB166 94.88%);
			box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(149, 185, 112, 0.5);
		}
		&:nth-child(10){
			background: linear-gradient(134.17deg, #9AD6A0 4.98%, #6EB575 94.88%);
			box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(110, 181, 117, 0.5);
		}
		&.active, &:hover{
			opacity: 1;
			transition: all 0.3s ease-in-out;
		}
	}
}

.position_left{
	display: flex;
}

.position_justify_bottom{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.st_buttons{
	width: 780px;
	margin: 0 auto 0 auto;
	button{
		width: calc(100% / 3 - 10px);
		position: relative;
		&:nth-child(2){
			margin-top: -15px;
		}
		span{
			display: block;
		}
		&:nth-child(1){
			margin-left: -30px;
			span:before{
				content: url("../pic/st-button-left.svg");
			}
		}
		&.active:nth-child(1){
			span:before{
				content: url("../pic/st-button-left-active.svg");
			}
		}
		&:nth-child(2){
			span:before{
				content: url("../pic/st-button-center.svg");
			}
		}
		&.active:nth-child(2){
			span:before{
				content: url("../pic/st-button-center-active.svg");
			}
		}
		&:nth-child(3){
			span:before{
				content: url("../pic/st-button-right.svg");
			}
		}
		&.active:nth-child(3){
			span:before{
				content: url("../pic/st-button-right-active.svg");
			}
		}
	}
}

.additional_information{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #C0C5CB;
	padding-bottom: 48px;
	.item{
		max-width: 370px;
		width: 100%;
		margin: 48px 15px 0 15px;
		span{
			display: block;
			&.title{
				font-weight: bold;
				font-size: 17px;
				line-height: 20px;
			}
			&.content{
				color: #959595;
				letter-spacing: -0.0064em;
				font-size: 15px;
				line-height: 100%;
				margin-top: 5px;
			}
		}
		.form_input{
			position: relative;
			margin-top: 24px;
			button{
				position: absolute;
				top: 0;
				right: 0;
				padding: 0 24px;
			}
			input{
				padding: 16px 180px 16px 20px;
				background: #ffffff;
			}
		}
		&.dislike{
			span.title{
				color: #DE5959;
			}
		}
	}
}

.form_upload{
	width: 100%;
	position: relative;
	margin-top: 24px;
	input{
		opacity: 0;
		position: absolute;
		z-index: 200;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	button{
		width: 100%;
	}
}

.additional_information_more{
	max-width: 772px;
	width: 100%;
	margin-top: 28px;
	textarea{
		margin-left: 0;
		height: 114px;
	}
	.form_upload{
		margin-top: 48px;
	}
	.form_input_files{
		margin-top: 48px;
	}
}

.record_file_mic{
	display: flex;
	justify-content: center;
	margin-top: 48px;
	border-bottom: 1px solid #C0C5CB;
	padding-bottom: 48px;
	button{
		display: flex;
		width: 524.88px;
		height: 89.76px;
		background: linear-gradient(134.17deg, #E4E8EF 4.98%, #FFFFFF 78.03%);
		box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(166, 180, 200, 0.7);
		border-radius: 30px;
		justify-content: center;
		align-items: center;
		.button_icon{
			width: 61px;
			height: 61px;
			background: linear-gradient(134.17deg, #BBCEFF 4.98%, #1859FF 94.88%);
			border-radius: 61px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 24px;
			line-height: 0;
		}
	}
	p{
		display: flex;
		flex-direction: column;
		text-align: left;
		span{
			display: block;
		}
		span:first-child{
			font-weight: bold;
			font-size: 17px;
			line-height: 20px;
			color: #000000;
		}
		span:last-child{
			font-size: 15px;
			line-height: 100%;
			color: #959595;
			letter-spacing: -0.0064em;
			margin: 6px 0 0 0;
		}
	}
}

.form_input_files{
	margin-top: 24px;
	border-bottom: 1px solid #C0C5CB;
	.file_item{
		width: 100%;
		justify-content: space-between;
		display: flex;
		align-items: center;
		border-top: 1px solid #C0C5CB;
		padding: 24px 0;
		color: #3B3B3B;
		letter-spacing: -0.0064em;
		font-size: 16px;
		line-height: 19px;
		button{
			background: linear-gradient(134.17deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
			box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.8), 3px 3px 14px rgba(144, 165, 194, 0.65);
			border-radius: 10px;
			width: 48px;
			height: 48px;
			padding: 0;
		}
		p{
			display: flex;
			align-items: center;
			&:before{
				content: url("../pic/uploaded-file-icon.svg");
				margin-right: 10px;
			}
		}
	}
}

.buttons_inline_flex{
	display: inline-flex;
}

.button_group_breif{
	background: linear-gradient(134.17deg, #E4E8EF 4.98%, #FFFFFF 78.03%);
	box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(166, 180, 200, 0.7);
	border-radius: 40px;
	display: inline-flex;
	padding: 8px 5px;
	box-sizing: border-box;
	button{
		border-radius: 50px;
		width: 104px;
		height: 36px;
		font-size: 16px;
		line-height: 100%;
		color: #000000;
		&.active{
			background: linear-gradient(134.17deg, #BBCEFF 4.98%, #1859FF 94.88%);
			border-radius: 50px;
			color: #FFFFFF;
			padding: 0 10px;
		}
	}
}

.consumer_behavior{
	width: 100%;
	background: linear-gradient(134.17deg, #E4E8EF 4.98%, #FFFFFF 78.03%);
	box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(166, 180, 200, 0.7);
	border-radius: 40px;
	padding: 50px 100px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	input{
		display: none;
	}
	.consumer_behavior_buttons{
		display: flex;
		justify-content: space-between;
		width: 100%;
		button{
			font-size: 16px;
			line-height: 100%;
			color: #000000;
			padding: 10px 45px;
			box-sizing: border-box;
			background: transparent;
			border-radius: 50px;
			display: flex;
			justify-content: center;
			&.active{
				background: linear-gradient(134.17deg, #BBCEFF 4.98%, #1859FF 94.88%);
				color: #FFFFFF;
			}
		}
	}
}

button.information_drop_button_head{
	position: absolute;
	right: 0;
	margin-right: -30px;
}

.information_overlay_head{
	position: absolute;
	background: linear-gradient(134.17deg, #F9F9FB 4.98%, #FFFFFF 94.88%);
	border-radius: 10px;
	width: 380px;
	padding: 25px;
	right: -60px;
	top: 50px;
	box-sizing: border-box;
	display: none;
	z-index: 200;
	.title{
		font-weight: bold;
		font-size: 16px;
		line-height: 135%;
	}
	p{
		font-size: 14px;
		line-height: 135%;
		color: #3C3C3B;
		margin-top: 8px;
	}
	&:before{
		content: url('../pic/modal-rib.svg');
		position: absolute;
		right: 15px;
		top: -17px;
		z-index: 300;
	}
	&:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		box-shadow: 0 0 40px rgba(255, 255, 255, 0.8), 0 0 20px rgba(144, 165, 194, 0.65);
		z-index: 9;
		border-radius: 10px;
	}
}

button.information_drop_button{
	width: auto !important;
	height: auto !important;
}

.information_drop.span_drop{
	display: inline-flex;
	margin-bottom: 20px;
	.information_overlay{
		right: auto;
		left: -20px;
		&:before{
			right: auto;
			left: calc(50% + 25px);
		}
	}
	button{
		margin-top: -20px;
		margin-left: -10px;
	}
}

.information_drop{
	display: flex;
	align-items: center;
	position: relative;
	button{
		margin-top: -5px;
		position: absolute;
		right: -10px;
	}
	.information_overlay{
		position: absolute;
		background: linear-gradient(134.17deg, #F9F9FB 4.98%, #FFFFFF 94.88%);
		border-radius: 10px;
		width: 380px;
		padding: 25px;
		left: 50%;
		transform: translate(-50%, 0);
		top: 40px;
		box-sizing: border-box;
		display: none;
		z-index: 200;
		.title{
			font-weight: bold;
			font-size: 16px;
			line-height: 135%;
			min-height: auto;
			margin-top: 0;
		}
		p{
			font-size: 14px;
			line-height: 135%;
			color: #3C3C3B;
			margin-top: 8px;
		}
		&:before{
			content: url('../pic/modal-rib.svg');
			position: absolute;
			right: 65px;
			top: -17px;
			z-index: 300;
		}
		&:after{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			box-shadow: 0 0 40px rgba(255, 255, 255, 0.8), 0 0 20px rgba(144, 165, 194, 0.65);
			z-index: 9;
			border-radius: 10px;
		}
	}
}

.header_drop{
	position: relative;
	z-index: 320;
	.information_overlay{
		z-index: 400;
	}
}

.motiv_grid{
	width: 100%;
	margin: 0 -50px 30px -50px;
	justify-content: space-between;
}

.custom_checkbox_item_motiv {
	width: 190px;
	height: 173px;
	cursor: pointer;
	position: relative;
	background: linear-gradient(134.17deg, #E4E8EF 4.98%, #FFFFFF 78.03%);
	box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(166, 180, 200, 0.7);
	border-radius: 40px;
	span{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 20;
		background: rgba(160, 175, 213, 0.4);
		border-radius: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease-in-out;
	}
	span:before{
		content: url("../pic/motiv.svg");
		display: block;
		position: absolute;
		z-index: 10;
	}
	input{
		display: none;
		&:checked + span{
			opacity: 1;
			visibility: visible;
			transition: all 0.3s ease-in-out;
		}
	}
	img{
		border-radius: 40px;
		position: relative;
		z-index: 9;
	}
}

.need_help_link_drop{
	margin-top: 24px;
	a{
		font-size: 14px;
		line-height: 133.19%;
		color: #1859FF;
	}
}
