// Стили для кнопок и все, что с ними связано
@import "variables";

// Белая кнопка
button.button_white {
	
	box-sizing: border-box;
	background: linear-gradient(163.52deg, #F3F5F8 4.98%, #FCFCFC 64.45%);
	box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
	padding: $button_padding;
	border-radius: $button_radius;
	font-size: $button_font_size;
	//line-height: $button_line_height;
	text-align: center;
	min-height: 59px;
	color: #959595;
	transition: all 0.3s ease-in-out;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	span{
		position: relative;
		z-index: 10;
		line-height: 1.5;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

button.button_white:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: $button_radius;
	background: linear-gradient(166.23deg, #EFF1F7 4.98%, #CFD9EC 94.88%);
	transition: all 0.3s ease-in-out;
	opacity: 0;
}

button.button_white:hover:after{
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

button.button_white:active{
	background: linear-gradient(166.23deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
	box-shadow: 7px 7px 14px rgba(167, 170, 174, 0), -10px -10px 20px rgba(255, 255, 255, 0);
	transition: all 0.1s ease-in-out;
}

// Синяя кнопка
button.button_blue{
	background: linear-gradient(169.87deg, #BBCEFF 4.98%, #1859FF 94.88%);
	box-shadow: 7px 7px 14px rgba(167, 170, 174, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
	box-sizing: border-box;
	border-radius: $button_radius;
	font-size: $button_font_size;
	line-height: $button_line_height;
	text-align: center;
	color: #FFFFFF;
	transition: all 0.3s ease-in-out;
	position: relative;
	display: flex;
	min-height: 59px;
	align-items: center;
	justify-content: center;
	padding: $button_padding;
	z-index: 10;
	span{
		z-index: 10;
		line-height: 1.5;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

button.button_blue:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: $button_radius;
	background: linear-gradient(167.26deg, #8EA8EB 4.98%, #0538B9 94.88%);
	transition: all 0.3s ease-in-out;
	opacity: 0;
}

button.button_blue:hover:after{
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

button.button_blue:active{
	background: linear-gradient(167.26deg, #BBCEFF 4.98%, #1859FF 94.88%);
	box-shadow: 7px 7px 14px rgba(167, 170, 174, 0), -10px -10px 20px rgba(255, 255, 255, 0);
	transition: all 0.1s ease-in-out;
}

// Кнопка закрытия модалки

button.close_modal{
	position: absolute;
	top: 30px;
	right: 35px;
	width: 40px;
	height: 40px;
	background: linear-gradient(134.17deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
	box-shadow: 7px 7px 14px rgba(167, 170, 174, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
	border-radius: 7px;
	line-height: 0;
	span{
		position: relative;
		z-index: 10;
		line-height: 1.5;
	}
}

button.close_modal:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 7px;
	background: linear-gradient(166.23deg, #EFF1F7 4.98%, #CFD9EC 94.88%);
	transition: all 0.3s ease-in-out;
	opacity: 0;
}

button.close_modal:active{
	background: linear-gradient(166.23deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
	box-shadow: 7px 7px 14px rgba(167, 170, 174, 0), -10px -10px 20px rgba(255, 255, 255, 0);
	transition: all 0.1s ease-in-out;
}

button.close_modal svg{
	fill: $color_black;
	transition: fill 0.3s ease-in-out;
}

button.close_modal:hover svg{
	fill: $color_hover;
	transition: fill 0.3s ease-in-out;
}

#modal_nav button.close_modal {
	right: 20px;
	top: 20px;
	display: none;
}

button.close_modal.close_modal_video{
	box-shadow: none;
	background: #C0CAE3;
	transition: all 0.3s ease-in-out;
}

button.close_modal.close_modal_video:hover{
	background: #F3F5F8;
	transition: all 0.3s ease-in-out;
}

button.close_modal.close_modal_video svg{
	fill: $color_black;
}

// Кнопка с иконокой

button.button_round{
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 41px;
	padding: 8px 45px 8px 20px;
	position: relative;
	transition: all 0.3s ease-in-out;
	span{
		display: block;
		text-align: left;
		font-size: 12px;
		line-height: 100%;
		color: $color_black;
	}
	.button_round_icon{
		position: absolute;
		right: 3px;
		top: 3px;
		width: 34px;
		height: 34px;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 0;
		background: linear-gradient(134.17deg, #BBCEFF 4.98%, #1859FF 94.88%);
		box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
		transition: all 0.3s ease-in-out;
		border-radius: 50%;
		z-index: 20;
		img{
			position: relative;
			z-index: 20;
		}
	}
}

.button_round_icon:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(167.26deg, #8EA8EB 4.98%, #0538B9 94.88%);
	transition: all 0.3s ease-in-out;
	border-radius: 50%;
	opacity: 0;
}

button.button_round:hover > .button_round_icon:after{
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

button.button_round:active > .button_round_icon:after{
	background: linear-gradient(167.26deg, #BBCEFF 4.98%, #1859FF 94.88%);
	box-shadow: 7px 7px 14px rgba(167, 170, 174, 0), -10px -10px 20px rgba(255, 255, 255, 0);
	transition: all 0.1s ease-in-out;
}

button.button_round#main_video_popup .button_round_icon img{
	position: absolute;
	margin-left: 2px;
}

@media only screen and (max-width: 700px) {

	button.button_white:hover:after{
		display: none;
	}

	button.close_modal{
		right: 20px;
		top: 20px;
	}

	.modal_social_buttons button{
		padding: 10px 20px !important;
	}

}
