span.dot {
	z-index: 20;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

span.dot.red {
	background: #FF6700;
	animation-name: animate_dot_vertical;
	right: 30%;
	top: 20px;
}

span.dot.blue {
	background: #1859FF;
	left: 50%;
	bottom: 0;
	animation-name: animate_dot_horizontal;
}

span.dot.pale_blue {
	background: rgba(24, 89, 255, 0.4);
	top: 110px;
	left: 173px;
	animation-name: animate_dot_horizontal;
	animation-direction: alternate-reverse;
}

@keyframes animate_dot_vertical {
	from {
		margin-top: 0;
	}
	to {
		margin-top: 60px;
	}
}

@keyframes animate_dot_horizontal {
	from {
		margin-left: 0;
	}
	to {
		margin-left: 60px;
	}
}

@media only screen and (max-width: 768px) {

	section.main2_title span.dot.red{
		right: 40px;
	}

	section.main2_title span.dot.pale_blue{
		top: -30px;
	}

	section.main2_title span.dot.blue{
		bottom: auto;
		top: 30%;
		left: 80%;
	}

}

@media only screen and (max-width: 700px) {

	section.main2_title span.dot.blue {
		top: 35%;
	}

	section.main2_title span.dot.pale_blue{
		left: 30px;
	}

}
