form {
	display: flex;
	flex-direction: column;
}

input {
	background: linear-gradient(173.88deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
	box-shadow: inset 5px 5px 10px rgba(166, 180, 200, 0.75), inset -5px -5px 15px rgba(255, 255, 255, 0.75);
	border-radius: 10px;
	padding: 18px 30px;
	box-sizing: border-box;
	width: 100%;
	border: none;
	margin: 12.5px 0;
	font-size: 16px;
	line-height: 140%;
}

.custom_checkbox {
	position: relative;

	input {
		display: none;
	}

	span {
		padding-left: 45px;
		display: flex;
		align-items: center;
	}
	p{
		font-weight: 300;
		font-size: 12px;
		line-height: 14px;
		color: #959595;
	}
	span:before{
		content: '';
		width: 30px;
		height: 30px;
		background: linear-gradient(133.16deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
		box-shadow: inset 5px 5px 10px rgba(166, 180, 200, 0.75), inset -5px -5px 15px rgba(255, 255, 255, 0.75);
		border-radius: 10px;
		position: absolute;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 0;
	}
	a{
		text-decoration-line: underline;
		color: #959595;
	}
	input:checked + span:before{
		content: url("../pic/checkbox-active.svg");
	}
}

::-webkit-input-placeholder {
	color: #959595;
}

::-moz-placeholder {
	color: #959595;
}

/* Firefox 19+ */
:-moz-placeholder {
	color: #959595;
}

/* Firefox 18- */
:-ms-input-placeholder {
	color: #959595;
}
