@import "variables";

// Стили шапки

header {
	width: 100%;
	padding-top: 32px;
	box-sizing: border-box;
	position: relative;
	z-index: 80;
	button#login_button{
		min-height: 48px;
		height: 48px;
	}
}

#header.open{
	position: relative;
	z-index: 810;
	header{
		padding-bottom: 40px;
	}
}

header.header_index{
	z-index: 9999;
	position: relative;
}

.header_position{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav.main_nav ul {
	display: flex;
}

nav.main_nav > ul > li {
	position: relative;
	margin: 0 24px;
	font-size: 16px;
	line-height: 133.19%;
}

nav.main_nav > ul > li > a {
	color: $color_black;
	transition: color 0.3s ease-in-out;
}

nav.main_nav > ul > li:hover > a {
	color: $color_hover;
	transition: color 0.3s ease-in-out;
}

ul.main_nav_drop {
	position: absolute;
	display: flex;
	flex-direction: column;
	background: #FEFEFF;
	box-shadow: 4px 4px 10px #CDD2E9;
	border-radius: 10px;
	padding: 0 12px 10px 12px;
	box-sizing: border-box;
	margin-top: 10px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	z-index: 100;
	li.active a{
		color: $color_hover;
	}
}

nav.main_nav > ul > li:hover > ul.main_nav_drop{
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

ul.main_nav_drop li a {
	display: block;
	white-space: pre;
	border-bottom: 1px solid #B8B8B8;
	margin-top: 25px;
	padding: 0 15px 19px 15px;
	transition: color 0.3s ease-in-out;
}

ul.main_nav_drop li a:hover {
	color: $color_hover;
	transition: color 0.3s ease-in-out;
}

ul.main_nav_drop li:last-child a {
	border-bottom: none;
}

button.button_white#mobile_nav_button{
	padding: 0;
	width: 40px;
	height: 40px;
	display: none;
	min-height: 40px;
}

button.button_white#mobile_nav_button span:after{
	content: url('../pic/mobile-nav.svg');
	display: block;
	position: relative;
}

button.button_white#mobile_nav_button.active span:after{
	content: url("../pic/mobile-nav-close.svg");
}

.password_show_hide {
	position: relative;
	input{
		padding: 18px 60px 18px 30px;
	}
	button{
		position: absolute;
		right: 20px;
		top: 0;
		line-height: 0;
		span{
			height: 58px;
			position: relative;
			display: flex;
			align-items: center;
			width: 30px;
			top: 14px;
		}
		span:after{
			content: url("../pic/hide-password-icon.svg");
		}
	}
}

.password_show_hide.active{
	button{
		span:after{
			content: url("../pic/show-password-icon.svg");
			display: block;
		}
	}
}

@media only screen and (max-width: 780px) {

	nav.main_nav, button#login_button{
		display: none;
	}

	button.button_white#mobile_nav_button{
		display: block;
	}
}

// BODY HEADER LOGIN BUTTON

.design_body header button.button_white{
	box-shadow: 7px 7px 14px rgba(169, 211, 211, 0.55), -10px -10px 20px rgba(255, 255, 255, 0.4);
}

.brand_body header button.button_white{
	box-shadow: 7px 7px 14px rgba(105, 144, 246, 0.5), -10px -10px 20px #D7E2FF;
}

.market_body header button.button_white{
	box-shadow: 7px 7px 14px rgba(118, 215, 140, 0.7), -10px -10px 20px #E4FFEA;
}

.audit_body header button.button_white{
	box-shadow: 7px 7px 14px rgba(212, 114, 79, 0.5), -10px -10px 20px #FCEFED;
}

.package_body header button.button_white{
	box-shadow: 7px 7px 14px rgba(165, 154, 224, 0.65), -10px -10px 20px #E8E3F8;
}

// END BODY HEADER LOGIN BUTTON
