// Карточки на главной

section.important_budget{
	padding: 96px 0 0 0;
	h3.title{
		margin: 0;
	}
	.subtitle{
		font-size: 18px;
		line-height: 115%;
		padding-top: 15px;
		max-width: 767px;
		width: 100%;
	}
}

section.important_budget.main2_im_budget{
	h3.title{
		font-size: 36px;
		line-height: 110%;
	}
}

span.important_budget_item_overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	border-radius: 40px;
	transition: all 0.3s ease-in-out;
}

.important_budget_grid{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 30px -15px 0 -15px;
}

.important_budget_item:after{
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: .5;
	z-index: 1;
	border-radius: 40px;
	transition: all 0.3s ease-in-out;
	box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
}

.important_budget_item:nth-child(1){
	max-width: calc(50% - 30px);
}

.important_budget_item:nth-child(1):after{
	background: linear-gradient(134.75deg, #E2E9FB 0%, #487BFD 100%);
}

.important_budget_item:nth-child(2){
	max-width: calc(25% - 30px);
	.important_budget_item_position{
		flex-direction: column;
		align-items: flex-start;
	}
}

.important_budget_item:nth-child(2):after{
	background: linear-gradient(123.22deg, #EEFCFF 4.98%, #BFF8FF 94.88%);
}

.important_budget_item:nth-child(3){
	max-width: calc(25% - 30px);
	.important_budget_item_position{
		flex-direction: column;
		align-items: flex-start;
	}
}

.important_budget_item:nth-child(3):after{
	background: linear-gradient(121.52deg, #FBE1DA 0%, #FB9A7A 100%);
}

.important_budget_item:nth-child(4){
	max-width: calc(50% - 30px);
}

.important_budget_item:nth-child(4):after{
	background: linear-gradient(139.67deg, #CFF7CA 0%, #9FFC89 100%);
}

.important_budget_item:nth-child(5){
	max-width: calc(50% - 30px);
}

.important_budget_item:nth-child(5):after{
	background: linear-gradient(148.59deg, #EAE9FC 0%, #8F7FFF 100%);
}

.important_budget_item:active:after{
	box-shadow: 10px 10px 20px rgba(166, 180, 200, 0), -12px -12px 20px rgba(255, 255, 255, 0);
	transition: all 0.1s ease-in-out;
}

.important_budget_item:hover:after{
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

.important_budget_item{
	width: 100%;
	margin: 15px;
	border-radius: 40px;
	padding: 50px 30px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
	transition: all 0.3s ease-in-out;
	position: relative;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	.important_budget_item_top{
		position: relative;
		z-index: 10;
		.title{
			font-weight: bold;
			font-size: 30px;
			line-height: 1.2;
			color: $color_black;
		}
		.subtitle{
			font-size: 16px;
			line-height: 140%;
			color: #3C3C3B;
			padding-top: 20px;
		}
	}
	.important_budget_item_bottom{
		position: relative;
		z-index: 10;
		padding-top: 145px;
		.important_budget_item_link{
			padding-top: 20px;
			white-space: nowrap;
		}
	}
	.important_budget_item_position{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		.important_budget_item_left{
			width: 100%;
			span{
				display: block;
				font-size: 18px;
				line-height: 115%;
				color: $color_black;
				margin-top: 5px;
			}
		}
		.important_budget_item_link{
			display: block;
			font-size: 18px;
			line-height: 135%;
			color: $color_black;
		}
	}
}

.important_budget_item:hover{
	box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
	transition: all 0.3s ease-in-out;
	overflow: hidden;
}

a.important_b_link{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 20;
}

a.important_b_link:hover + span.important_budget_item_overlay{
	opacity: 1 !important;
	visibility: visible !important;
	transition: all 0.3s ease-in-out;
}

.important_budget_item.new_price{
	.important_budget_item_left{
		span.new_price{
			visibility: hidden;
		}
		span{
			display: flex;
			align-items: flex-start;
			p{
				margin: 0 0 0 5px;
				text-decoration-line: line-through;
			}
			b{
				margin-left: 5px;
				color: $color_black;
				visibility: visible;
			}
		}
	}
}

@media only screen and (max-width: 768px) {

	.important_budget_item .important_budget_item_bottom{
		padding-top: 20px;
	}

}

@media only screen and (max-width: 700px) {


	.important_budget_item .important_budget_item_top .title{
		font-weight: normal;
	}

	.important_budget_item_top{
		.title{
			font-size: 30px;
		}
	}

	section.important_budget{
		padding: 40px 0 0 0;
	}

	.important_budget_item .important_budget_item_position{
		flex-direction: column;
		align-items: flex-start;
	}

	.important_budget_item{
		max-width: 100% !important;
	}

}
