@import "variables";

html, body {
	padding: 0;
	margin: 0;
	line-height: normal;
	font-weight: normal;
	width: 100%;
	color: $color_black;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
	min-height: 100%;
	height: 100%;
}

.center_block {
	max-width: $content_block;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.small_center_block{
	max-width: 950px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

* {
	outline: none;
}

button{
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

img{
	max-width: 100%;
	height: auto;
}
