// Стили связанные с ссылками (в виде кнопок)
@import "variables";

// Синяя кнопка-ссылка
a.link_buttons{
	padding: 20px 30px;
	box-sizing: border-box;
}

a.link_button_blue{
	display: inline-block;
	background: linear-gradient(166.44deg, #BBCEFF 4.98%, #1859FF 94.88%);
	box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 110%;
	transition: all 0.3s ease-in-out;
	position: relative;
	span{
		position: relative;
		z-index: 10;
	}
}

a.link_button_blue:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 10px;
	background: linear-gradient(167.26deg, #8EA8EB 4.98%, #0538B9 94.88%);
	transition: all 0.3s ease-in-out;
	opacity: 0;
}

a.link_button_blue:hover:after{
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

a.link_button_blue:active{
	background: linear-gradient(167.26deg, #BBCEFF 4.98%, #1859FF 94.88%);
	box-shadow: 7px 7px 14px rgba(144, 165, 194, 0), -10px -10px 20px rgba(255, 255, 255, 0);
	transition: all 0.1s ease-in-out;
}

// Круглая ссылка с иконкой

a.button_round{
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 41px;
	padding: 8px 45px 8px 20px;
	position: relative;
	transition: all 0.3s ease-in-out;
	display: inline-block;
	cursor: pointer;
	span{
		display: block;
		text-align: left;
		font-size: 12px;
		line-height: 100%;
		color: $color_black;
	}
	.button_round_icon{
		position: absolute;
		right: 3px;
		top: 3px;
		width: 34px;
		height: 34px;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 0;
		background: linear-gradient(134.17deg, #BBCEFF 4.98%, #1859FF 94.88%);
		box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
		transition: all 0.3s ease-in-out;
		border-radius: 50%;
		z-index: 20;
		img{
			position: relative;
			z-index: 20;
		}
	}
}

.button_round_icon:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(167.26deg, #8EA8EB 4.98%, #0538B9 94.88%);
	transition: all 0.3s ease-in-out;
	border-radius: 50%;
	opacity: 0;
}

a.button_round:hover > .button_round_icon:after{
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

a.button_round:active > .button_round_icon:after{
	background: linear-gradient(167.26deg, #BBCEFF 4.98%, #1859FF 94.88%);
	box-shadow: 7px 7px 14px rgba(167, 170, 174, 0), -10px -10px 20px rgba(255, 255, 255, 0);
	transition: all 0.1s ease-in-out;
}
