@import "variables";

section.main_title{
	h1.title{
		margin: 0;
		width: 100%;
		font-weight: 900;
		font-size: 145px;
		line-height: 97.5%;
		letter-spacing: 0.015em;
		text-transform: uppercase;
		color: #F2F6FB;
		display: block;
		padding: 40px 0;
	}
}

h1.title span{
	animation-name: header_shadow;
	animation-duration: 1.2s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
	position: relative;
	bottom: -5px;
}

h1.title span:nth-child(1){
	animation-delay: 250ms;
}

h1.title span:nth-child(2){
	animation-delay: 500ms;
}

h1.title span:nth-child(3){
	animation-delay: 750ms;
}

h1.title span:nth-child(4){
	animation-delay: 1000ms;
}

h1.title span:nth-child(5){
	animation-delay: 1250ms;
}

// HEADER ANIMATION

@keyframes header_shadow {
	0%{
		text-shadow: 1px 1px 5px rgba(144, 165, 194, 0), -2px -2px 10px rgba(255, 255, 255, 0);
	}
	100%{
		bottom: 0;
		text-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
	}
}

// END HEADER ANIMATION

h2.title, h3.title{
	font-size: 48px;
	line-height: 110%;
	font-weight: bold;
}

#main_video_popup{
	white-space: nowrap;
}

.main_title_position{
	display: flex;
	align-items: center;
	justify-content: space-between;
	.subtitle{
		max-width: 576px;
		width: 100%;
		font-size: 18px;
		line-height: 115%;
		color: #3C3C3B;
	}
}

.try_now_button{
	display: flex;
	justify-content: center;
	padding-top: 60px;
	padding-bottom: 110px;
}

.slogan_box{
	width: 100%;
	min-height: 380px;
	padding: 60px 0;
	box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), inset 0 6px 12px #889DD2;
	background: linear-gradient(159.12deg, #BBCEFF 4.98%, #1859FF 94.88%);
	position: relative;
	display: flex;
	align-items: center;
	span{
		max-width: 940px;
		width: 100%;
		position: relative;
		z-index: 10;
		display: block;
		margin: 0 auto;
		text-align: center;
		font-size: 28px;
		line-height: 133.19%;
		color: #FFFFFF;
		padding: 0 20px;
	}
}

#slogan_box_round{
	background: linear-gradient(134.17deg, #BBCEFF 4.98%, #1859FF 94.88%);
	box-shadow: 7px 7px 14px #486ECE, -10px -10px 20px #94B2FF;
	border-radius: 187px;
	width: 380px;
	height: 380px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

section.main_presentation_slider{
	padding-top: 116px;
}

.main_presentation_slider_position{
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	h2.title{
		color: $color_black
	}
}

section.main_infographics_block{
	width: 100%;
	background: linear-gradient(153.54deg, #BBCEFF 4.98%, #1859FF 94.88%);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25), inset 0 4px 22px rgba(15, 72, 154, 0.65);
	padding: 120px 0 150px 0;
	h2.title{
		color: #FFFFFF;
	}
}

.main_infographics_block_position{
	display: flex;
	justify-content: space-between;
	padding-top: 66px;
}

.main_infographics_block_item.visible{
	animation-name: show_opacity_item;
	animation-duration: 800ms;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
}

.main_infographics_block_item{
	width: 25%;
	box-sizing: border-box;
	opacity: 0;
	position: relative;
	span{
		display: block;
	}
	img{
		max-width: 100%;
		max-height: 130px;
		height: auto;
	}
	span.count_item{
		height: 130px;
	}
	span.count_title{
		font-weight: bold;
		font-size: 20px;
		line-height: 110%;
		color: #FFFFFF;
		padding-top: 10px;
	}
	span.count_subtitle{
		font-size: 16px;
		line-height: 110%;
		color: #FFFFFF;
		padding-top: 10px;
		opacity: 0.7;
	}
}

@keyframes show_opacity_item {
	0%{
		opacity: 0;
		bottom: -10px;
	}
	100%{
		opacity: 1;
		bottom: 0;
	}
}

.main_infographics_block_item.visible:nth-child(1){
	animation-delay: 0ms;
}

.main_infographics_block_item.visible:nth-child(2){
	animation-delay: 250ms;
}

.main_infographics_block_item.visible:nth-child(3){
	animation-delay: 500ms;
}

.main_infographics_block_item.visible:nth-child(4){
	animation-delay: 750ms;
}

.main_infographics_block_item:first-child{
	padding: 0 10px 0 0;
}

.main_infographics_block_item:last-child{
	padding: 0 0 0 10px;
}

.main_infographics_block_item{
	padding: 0 10px;
}

#all_project_link{
	width: 175px;
}

// Остались вопросы блок

section.need_help{
	padding-top: 95px;
	.need_help_position{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		.need_help_left{
			width: calc(100% - 340px);
			padding-right: 40px;
			box-sizing: border-box;
			span{
				font-size: 18px;
				line-height: 118.69%;
				color: $color_black;
				display: block;
				margin: 5px 0;
				a{
					text-decoration-line: underline;
				}
			}
			h3.title{
				font-weight: bold;
				font-size: 48px;
				line-height: 110%;
				color: $color_black;
				padding-bottom: 20px;
			}
		}
		.need_help_right{
			width: 340px;
			margin-top: -30px;
			img{
				max-width: 100%;
				height: auto;
			}
		}
	}
}

@media only screen and (max-width: 1024px) {

	section.main_title{
		h1.title{
			font-size: 126px;
			line-height: 102%;
		}
	}

}

@media only screen and (max-width: 768px) {

	section.main_title{
		h1.title{
			font-size: 94px;
			line-height: 105%;
		}
	}

	.main_infographics_block_position{
		flex-wrap: wrap;
		.main_infographics_block_item{
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin: 0 0 40px 0;
			padding: 0;
			span.count_item{
				width: 90px;
				padding-right: 0 !important;
				display: flex;
				justify-content: flex-start;
			}
			.main_infographics_block_item_position{
				width: calc(100% - 110px);
				span{
					width: 100%;
				}
			}
		}
		.main_infographics_block_item:first-child{
			padding: 0;
		}
		.main_infographics_block_item:nth-child(3), .main_infographics_block_item:nth-child(4){
			margin-bottom: 0;
		}
	}

	.important_budget_item:first-child{
		max-width: 100%;
	}

	.important_budget_item:nth-child(2), .important_budget_item:nth-child(3){
		max-width: calc(50% - 30px);
	}

}

@media only screen and (max-width: 700px) {



	.slogan_box span{
		font-size: 20px;
		line-height: 133.19%;
	}

	.main_title_position .subtitle{
		font-size: 16px;
		line-height: 167.69%;
	}

	.main_infographics_block_item span.count_title{
		font-size: 14px;
		line-height: 133.19%;
	}

	.main_infographics_block_item span.count_subtitle{
		font-size: 14px;
		line-height: 133.19%;
	}

	section.main_title{
		h1.title{
			font-size: 52px;
			line-height: 97.5%;
		}
	}

	section.main_infographics_block{
		padding: 45px 0 70px 0;
	}

	.try_now_button{
		padding-bottom: 40px;
	}

	#slogan_box_round{
		width: 152px;
		height: 152px;
	}

	.slogan_box{
		min-height: 152px;
		padding: 60px 0;
	}

	.main_title_position{
		flex-direction: column;
		align-items: flex-start;
		button{
			margin-top: 30px;
		}
	}

	section.main_presentation_slider{
		padding-top: 50px;
	}

	.main_presentation_slider_position{
		flex-direction: column;
		align-items: flex-start;
		a{
			margin-top: 30px;
		}
	}

	.main_infographics_block_position{
		flex-direction: column;
	}

	.main_infographics_block_item span.count_item{
		height: auto;
	}

	.main_infographics_block_item{
		display: flex;
		width: 100% !important;
		align-items: center;
		margin-bottom: 40px !important;
	}

	.main_infographics_block_item:last-child{
		margin-bottom: 0 !important;
	}

	.main_infographics_block_item img{
		max-width: 90px;
		height: auto;
	}

	.main_infographics_block_item{
		flex-direction: row;
	}
	.main_infographics_block_item span.count_item{
		padding-right: 20px;
	}

	.need_help_position{
		flex-direction: column;
	}

	section.need_help .need_help_position .need_help_left{
		width: 100%;
	}

	section.need_help .need_help_position .need_help_right{
		width: 100%;
		padding-top: 40px;
		display: flex;
		justify-content: center;
		img{
			max-width: 80%;
			height: auto;
		}
	}

	section.need_help .need_help_position .need_help_left{
		padding-right: 0;
	}

	section.need_help{
		padding-top: 40px;
	}

}

@media only screen and (max-width: 500px) {

	section.main_title h1.title {
		font-size: 60px;
		line-height: 100.5%;
	}

}
