section.main2_title {
	position: relative;
	min-height: 540px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	a.main2_make_brand {
		width: 274px;
		text-align: center;
		margin-top: 54px;
		position: relative;
		z-index: 20;
		height: 52px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	> img {
		max-width: 100%;
		height: auto;
		position: absolute;
		right: 0;
		bottom: 0;
	}

	h1.title2 {
		font-weight: bold;
		font-size: 64px;
		line-height: 103.2%;
		max-width: 586px;
		width: 100%;
		position: relative;
		z-index: 20;
	}

	p {
		max-width: 515px;
		width: 100%;
		font-size: 20px;
		line-height: 115%;
		padding-top: 25px;
		position: relative;
		z-index: 20;
	}
}

section.main2_subtitle {
	max-width: 758px;
	width: 100%;
	margin: 0 auto;
	padding-top: 85px;
	text-align: center;
	font-size: 28px;
	line-height: 133.19%;
}

h2.title2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 110%;
}

section.services_grid {
	margin-top: 125px;

	h2.title2 {
		padding-bottom: 65px;
	}

	.main2_show_more {
		text-align: center;

		a {
			height: 52px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			margin-top: 59px;
		}
	}
}

section.easier_and_more_block {
	padding-top: 124px;

	.easier_and_more_block_position {
		padding-top: 84px;
		display: flex;
		justify-content: space-between;

		.easier_and_more_block_pic {
			width: calc(100% - 657px);

			> img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}

.easier_and_more_block_content {
	display: flex;
	justify-content: space-between;
	width: 572px;
	align-items: center;
	flex-wrap: wrap;

	.easier_and_more_item {
		width: calc(50% - 10px);
		display: flex;
		flex-direction: column;
		margin-bottom: 35px;

		span:nth-child(1) {
			font-weight: bold;
			font-size: 14px;
			line-height: 133.19%;
			text-transform: uppercase;
			color: #1859FF;
		}

		span:nth-child(2) {
			font-weight: bold;
			font-size: 24px;
			line-height: 110%;
			padding-top: 5px;
		}

		span:nth-child(3) {
			font-size: 20px;
			line-height: 115%;
			padding-top: 10px;
		}
	}

	.easier_and_more_item:nth-child(3), .easier_and_more_item:nth-child(4) {
		margin-bottom: 0;
	}
}

.how_is_simple_block_video{
	top: -100px;
	right: -340px;
	position: absolute;
	z-index: 1;
	video{
		width: 100% !important;
	}
	@media only screen and (max-width: 950px) {
		right: -500px;
	}
	@media only screen and (max-width: 815px) {
		right: -600px;
	}
	@media only screen and (max-width: 815px) {
		position: relative;
		right: 0;
		top: -80px;
		margin-bottom: -80px;
	}
	@media only screen and (max-width: 768px) {
		top: -224px;
		margin-bottom: -224px;
	}
}

.how_is_simple_block {
	position: absolute;
	z-index: 20;
	right: 40px;
	top: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
	@media only screen and (max-width: 815px) {
		left: 40px;
		right: auto;
		align-items: flex-start;
		flex-direction: column-reverse;
	}

	span.simple_text {
		width: 80px;
		text-align: center;
		display: block;
		font-size: 10px;
		line-height: 91.7%;
		margin-top: 180px;
		@media only screen and (max-width: 815px) {
			width: 115px;
			margin-top: 0;
			margin-right: 40px;
			text-align: left;
			margin-bottom: 10px;
			font-size: 14px;
			line-height: 110%;
		}
	}

	> span:before {
		content: url("../pic/main2-how-simple-arrow.svg");
		position: absolute;
		top: 100px;
		left: 40px;
		@media only screen and (max-width: 815px) {
			display: none;
		}
	}

	button#simple_video {
		width: 72px;
		height: 72px;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 0;
		background: linear-gradient(134.17deg, #BBCEFF 4.98%, #1859FF 94.88%);
		box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
		border-radius: 50%;
		position: relative;

		span {
			position: relative;
			z-index: 10;
		}

	}

	button#simple_video:before {
		content: '';
		background: linear-gradient(167.26deg, #8EA8EB 4.98%, #0538B9 94.88%);
		box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		transition: all 0.3s ease-in-out;
		opacity: 0;
	}

	button#simple_video:hover:before {
		opacity: 1;
		transition: all 0.3s ease-in-out;
	}
}

.important_budget.main2_im_budget {
	.important_budget_item {
		position: relative;
		overflow: hidden;
	}

	.important_budget_item:before {
		position: absolute;
	}

	.important_budget_item:nth-child(1):before {
		content: url("../pic/main2-budget1.png");
		z-index: 10;
		right: 20px;
		bottom: -50px;
	}

	.important_budget_item:nth-child(2):before {
		content: url("../pic/main2-budget2.png");
		z-index: 10;
		right: -140px;
		bottom: -30px;
	}

	.important_budget_item:nth-child(3):before {
		position: absolute;
		content: url("../pic/main2-budget3.png");
		z-index: 10;
		right: -80px;
		bottom: -20px;
	}

	.important_budget_item:nth-child(4):before {
		position: absolute;
		content: url("../pic/main2-budget4.png");
		z-index: 10;
		right: -100px;
		bottom: -100px;
	}

	.important_budget_item:nth-child(5):before {
		position: absolute;
		content: url("../pic/main2-budget5.png");
		z-index: 10;
		right: 20px;
		bottom: -100px;
	}

	.important_budget_item:nth-child(1) .subtitle {
		max-width: 255px;
		width: 100%;
	}

	.important_budget_item:nth-child(5) .subtitle {
		max-width: 290px;
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {

	.easier_and_more_block {
		h2.title2 {
			text-align: center;
		}
	}

	.easier_and_more_block_position {
		flex-direction: column;

		.easier_and_more_block_pic {
			width: 100% !important;
			display: flex;
			justify-content: center;
		}

		.easier_and_more_block_content {
			width: 100%;
			margin-top: 40px;
		}
	}

	section.main2_title {
		margin-top: 40px;
	}

	.how_is_simple_block {
		position: relative;
		right: auto;
		top: auto;
		margin: 0 auto 0 auto;
	}

	section.main2_title p {
		max-width: 100%;
		text-align: center;
	}

	section.main2_title a.main2_make_brand {
		margin: 40px auto 0 auto;
	}

	section.main2_title > img {
		position: relative;
		right: auto;
		bottom: auto;
		margin-top: 20px;
	}

	section.services_grid {
		margin-top: 40px;
	}

}

@media only screen and (max-width: 700px) {

	section.main2_title h1.title2 {
		font-size: 25px;
		line-height: 115.19%;
		width: 224px;
	}

	section.main2_title p {
		text-align: left;
		font-size: 16px;
		line-height: 167.69%;
		padding-top: 0;
	}

	.how_is_simple_block {
		position: absolute;
		right: auto;
		top: 20px;
		margin: 0 auto 0 auto;
	}

	.how_is_simple_block_video {
		top: 0;
		margin-bottom: 140px;
	}

	.how_is_simple_block_video video {
		width: 100%;
		transform: scale(2);
	}

	.how_is_simple_block{
		left: 0;
	}

	section.main2_title a.main2_make_brand {
		width: 100%;
	}

	section.main2_subtitle {
		font-size: 16px;
		line-height: 167.69%;
		text-align: left;
		padding-top: 40px;
	}

	section.services_grid .main2_show_more a {
		width: 100%;
		margin-top: 20px;
	}

	.how_is_simple_block button#simple_video {
		width: 55px;
		height: 55px;
	}

	.easier_and_more_block h2.title2 {
		font-size: 20px;
		line-height: 125%;
	}

	section.easier_and_more_block, section.easier_and_more_block .easier_and_more_block_position {
		padding-top: 50px;
	}

	.easier_and_more_block_content {
		flex-direction: column;
	}

	.easier_and_more_block_content .easier_and_more_item {
		width: 100%;
	}

	.easier_and_more_block_content .easier_and_more_item span:first-child {
		font-weight: 300;
		font-size: 14px;
		line-height: 133.19%;
	}

	.easier_and_more_block_content .easier_and_more_item span:nth-child(2) {
		font-size: 14px;
		line-height: 133.19%;
	}

	.easier_and_more_block_content .easier_and_more_item span:nth-child(3) {
		font-size: 14px;
		line-height: 133.19%;
		color: #959595;
	}

	.easier_and_more_item {
		margin-bottom: 30px !important;
	}

	.easier_and_more_item:last-child {
		margin-bottom: 0 !important;
	}

	.easier_and_more_block_pic img {
		max-width: 90% !important;
		height: auto;
	}

	section.important_budget.main2_im_budget h3.title {
		font-size: 20px;
		line-height: 125%;
	}

	section.important_budget .subtitle {
		font-size: 14px;
		line-height: 133.19%;
	}

	.talking_about_slider_item .talking_about_slider_item_content p {
		font-size: 12px;
		line-height: 167.69%;
	}

	.talking_about_slider_item .talking_about_slider_item_content span.name {
		font-size: 14px;
		line-height: 133.19%;
	}

	section.services_grid h2.title2 {
		font-size: 20px;
		line-height: 125%;
		padding-bottom: 30px;
	}

	.talking_about_slider_item .talking_about_slider_item_content span.project {
		font-size: 12px;
		line-height: 110%;
		padding-bottom: 0 !important;
	}

	.customers_talking_count_position {
		margin-top: 30px;
	}

	.important_budget_item:nth-child(3):before {
		right: -50px !important;
		bottom: -20px;
	}
	.important_budget_item:nth-child(4):before {
		right: -150px !important;
		bottom: -100px;
	}
	.important_budget_item:nth-child(5):before {
		bottom: -140px !important;
	}

}

@media only screen and (max-width: 500px) {
	.how_is_simple_block_video video {
		transform: scale(2.2);
	}
}


