// Стили для модального окна

.modal {
	max-width: 623px;
	width: calc(100% - 40px);
	background: linear-gradient(128.6deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
	box-shadow: 7px 7px 14px rgba(167, 170, 174, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
	border-radius: 15px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: scale(0) translate(-50%, -50%);
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	transform-origin: 0 0;
	max-height: 94%;
	overflow-y: auto !important;
}

.modal#modal_nav{
	z-index: 801 !important;
}

.modal_content_block{
	padding: 20px 35px 60px 35px;
	overflow-y: auto;
	box-sizing: border-box;
	height: 100%;
}

.modal#modal_nav {
	width: 100%;
	bottom: 0;
	top: auto;
	left: 0;
	border-radius: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: translate(0, 0);
	background: #F2F6FB !important;
}

.modal_nav_logo {
	position: absolute;
	left: 20px;
	top: 25px;
}

#modal_nav_position {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	min-height: 250px;
	max-height: 60vh;
	margin-top: 40px;
	padding: 0 40px 0 40px;
	overflow-y: auto !important;
	ul > li {
		text-align: center;
		line-height: 29px;
		margin-bottom: 50px;
	}

	ul > li:last-child{
		margin-bottom: 0 !important;
	}

	ul li > a {
		font-size: 25px;
	}
}

button.button_white#login_button_mobile {
	margin-top: 30px;
	width: 228px;
}

.modal.modal_right.active_modal {
	left: 50%;
	transform: scale(1) translate(calc(50% - (1110px + 20px + 20px) / 3), -50%);
}

.modal.active_modal {
	opacity: 1;
	transform: scale(1) translate(-50%, -50%);
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.modal_title {
	font-size: 30px;
	line-height: 110%;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 30px;
}

.modal_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(160, 175, 213, 0.31);
	top: 0;
	left: 0;
	z-index: 9998;
}

#modal_video_block {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(160, 175, 213, 0.9);
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

#modal_video_block.active_modal{
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.modal_video_position{
	position: relative;
	max-width: 944px;
	top: 50%;
	left: 50%;
	transform: scale(1) translate(-50%, -50%);
	padding: 0 20px;
	box-sizing: border-box;
}

.modal_video_youtube {
	position: relative;
	padding: 0 0 56.25% 0;
	height: 0;
	overflow: hidden;
}

.modal_video_youtube iframe, .modal_video_youtube object, .modal_video_youtube embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal.modal_right{
	top: 100px;
	transform: scale(0) translate(-11%, 0);
}

.modal.modal_right.active_modal {
	opacity: 1;
	transform: scale(1) translate(-11%, 0);
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

// MODAL NAV ANIMATION

#modal_nav_position{
	li.open{
		opacity: 0;
		position: relative;
		bottom: -10px;
		animation-name: modal_animation_links;
		animation-duration: 400ms;
		animation-fill-mode: forwards;
		margin-bottom: 30px;
		a{
			font-size: 20px;
			line-height: 23px;
			color: #3C3C3B;
			transition: all 0.3s ease-in-out;
		}
	}
	li:nth-child(1) {
		animation-delay: 150ms;
	}
	li:nth-child(2) {
		animation-delay: 300ms;
	}
	li:nth-child(3) {
		animation-delay: 450ms;
	}
	li:nth-child(4) {
		animation-delay: 600ms;
	}
}

#modal_nav_position{
	li{
		margin-bottom: 30px !important;
	}
}

#modal_nav_position.service_active{
	li a{
		color: #CECECE;
		transition: all 0.3s ease-in-out;
	}
	ul.mobile_drop_nav{
		li a{
			color: #3C3C3B;
		}
	}
}

@keyframes modal_animation_links {
	0%{

	}
	100%{
		opacity: 1;
		bottom: 0;
	}
}

ul.mobile_drop_nav{
	display: none;
	margin-top: 30px;
}

@media only screen and (max-width: 1280px) {

	#modal_login .modal_login_buttons .custom_checkbox,
	.modal#modal_registration .custom_checkbox{
		padding-top: 20px !important;
	}

	.service_questions{
		bottom: 70px;
		right: 30px;
		zoom: .8;
	}

	.service_questions.active{
		bottom: 30px;
	}

}

@media only screen and (max-width: 1140px) {

	.modal.modal_right.active_modal {
		left: auto !important;
		right: 20px;
		transform: scale(1) translate(0, 0);
	}

}

@media only screen and (max-height: 780px) {

	.modal{
		max-width: 430px;
		input{
			height: 43px;
			padding: 13px 17px;
			margin: 6px 0;
		}
		.password_show_hide input{
			padding: 13px 60px 13px 17px;
		}
	}

	.password_show_hide, .password_show_hide span{
		height: 43px;
	}

	.password_show_hide span{
		top: 0 !important;
	}

	.password_show_hide button{
		right: 17px;
	}

	.modal.modal_right{
		button.close_modal{
			width: 26px;
			height: 26px;
		}
	}

	.modal.modal_right.active_modal{
		left: 64%;
	}

	.modal_social_buttons{
		margin-top: 10px;
		button{
			width: calc(100% / 3 - 10px);
			line-height: 0;

			padding: 6px 20px !important;
		}
	}

	.modal_content_block{
		padding: 20px 45px;
		.modal_title{
			font-weight: bold;
			font-size: 24px;
			line-height: 110%;
			padding-top: 0;
		}
		.modal_login_icon img{
			height: 156.08px;
			object-fit: cover;
		}
	}

	.modal_login_buttons button{
		margin-top: 14px !important;
	}

	.modal_account_sub{
		padding-top: 14px !important;
	}

	button.close_modal{
		top: 20px;
		right: 20px;
	}


}

@media only screen and (max-width: 780px) {

	.modal {
		width: 100%;
		max-width: 100% !important;
		bottom: auto;
		min-height: 100%;
		left: 50% !important;
		top: 50% !important;
		right: auto !important;
		transform: scale(0) translate(-50%,-50%) !important;
	}

	.modal.active_modal, .modal.modal_right.active_modal{
		transform: scale(1) translate(-50%,-50%) !important;
	}

	.modal.modal_right.active_modal{
		right: auto !important;
		left: 50% !important;
		top: 50% !important;
		margin-top: 0 !important;
	}

	.modal.modal_right{
		top: 0;
		right: auto !important;
		margin-top: 20px;
		width: calc(100% - 40px);
		min-height: calc(100% - 40px);
	}

	.modal#modal_registration .custom_checkbox{
		padding-top: 20px !important;
	}

	.modal_title {
		font-size: 22px;
		line-height: 1.6;
		padding: 0 25px 30px 25px;
	}


}
