.services_audit_slider{
	margin-top: 55px;
	.owl-stage-outer{
		padding-bottom: 30px;
		padding-right: 40px;
		margin-right: -25px;
	}
}

.audit_expert_item{
	text-align: center;
	background: linear-gradient(124.19deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
	box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
	border-radius: 40px;
	box-sizing: border-box;
	padding: 40px 20px;
	margin: 10px;
	.audit_expert_item_pic{
		display: flex;
		justify-content: center;
		img{
			width: 139px !important;
			height: 139px;
			display: block;
			box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
			border-radius: 120px;
		}
	}
	.audit_expert_item_title{
		margin-top: 20px;
	}
	.audit_expert_item_title a{
		font-weight: bold;
		font-size: 24px;
		line-height: 135%;
	}
	.audit_expert_item_content{
		font-size: 14px;
		line-height: 130%;
		color: #959595;
		margin-top: 15px;
		min-height: 158px;
	}
	.audit_expert_item_link{
		margin-top: 30px;
		a{
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 0;
			background: linear-gradient(164.37deg, #EFF2F8 4.98%, #F3F5F8 17.62%, #FCFCFC 94.88%);
			box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
			border-radius: 10px;
			height: 47px;
			width: 173px;
			margin: 0 auto;
			img{
				width: 21px;
				height: 21px;
				margin-right: 8px;
			}
		}
	}
}
