section.services_footer_content, section.services_blog{
	margin-top: 90px;
	h3{
		font-weight: bold;
		font-size: 30px;
		line-height: 125%;
	}
}

#services_footer_content_slider{
	margin-top: 40px;
	.services_footer_content_slider_item{
		position: relative;
		a{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		.pic{
			overflow: hidden;
			img{
				max-width: 100%;
				height: auto;
				object-position: center center;
				object-fit: fill;
				transition: all 0.3s ease-in-out;
			}
		}
		span{
			display: block;
			font-weight: bold;
			font-size: 20px;
			line-height: 133.19%;
			margin-top: 20px;
		}
	}
}

.services_footer_content_slider_item:hover .pic img{
	transform: scale(1.2);
	transition: all 0.3s ease-in-out;
}

.services_blog_list{
	margin-top: 30px;
	.services_blog_item{
		margin-bottom: 30px;
		span, a{
			display: block;
		}
		span.date{
			font-size: 12px;
			line-height: 140%;
			color: #959595;
		}
		a{
			font-weight: 500;
			font-size: 26px;
			line-height: 110%;
			margin-top: 7px;
		}
		p{
			font-size: 18px;
			line-height: 135%;
			color: #959595;
			margin: 7px 0 0 0;
		}
	}
	.services_blog_item:last-child{
		margin-bottom: 0;
	}
}

section.need_help_v2{
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	.need_help_v2_item:nth-child(1){
		h3{
			font-weight: bold;
			font-size: 30px;
			line-height: 125%;
			margin-bottom: 28px;
		}
		span{
			display: block;
			font-size: 18px;
			line-height: 118.69%;
			margin: 10px 0;
		}
	}
	.need_help_v2_item{
		position: relative;
		span.dot.red{
			left: 40%;
			animation-name: animate_dot_horizontal;
		}
		span.dot.pale_blue{
			right: auto;
			left: 0;
			animation-name: animate_dot_vertical;
		}
	}
}

@media only screen and (max-width: 600px) {

	.stages_shadow_block.stages_final_position{
		padding: 30px 25px;
	}

	#services_footer_content_slider{
		margin-top: 30px;
	}

	section.services_blog, section.services_footer_content{
		margin-top: 60px;
	}

	section.services_blog h3, section.services_footer_content h3{
		font-size: 20px;
		line-height: 125%;
	}

	.services_blog_list .services_blog_item a{
		font-size: 14px;
		line-height: 133.19%;
	}

	.services_blog_list .services_blog_item p{
		font-size: 14px;
		line-height: 133.19%;
	}

	section.need_help_v2{
		margin-top: 60px;
		flex-direction: column;
		align-items: center;
	}

	section.need_help_v2 .need_help_v2_item:first-child h3{
		font-size: 20px;
		line-height: 118.69%;
	}

	.need_help_v2_item{
		width: 100%;
		img{
			max-width: 280px;
		}
	}

	.need_help_v2_item:last-child{
		display: flex;
		justify-content: center;
		margin-top: 35px;
	}

	section.need_help_v2 .need_help_v2_item:first-child span{
		font-size: 18px;
		line-height: 118.69%;
	}

	section.need_help_v2 .need_help_v2_item span.dot.pale_blue{
		left: 50%;
	}

}


