@import "variables";

body.services{
	background-color: $background_services_color;
}

.services_important_block{
	margin-top: 44px;
	section{
		padding: 0;
	}
	h1{
		font-weight: bold;
		font-size: 36px;
		line-height: 110%;
	}
}

.not_found_service{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 113px;
	h2{
		font-weight: bold;
		font-size: 30px;
		line-height: 125%;
	}
	p{
		max-width: 472px;
		width: 100%;
		text-align: center;
		margin: 30px 0 45px 0;
	}
}

.make_brand_link a{
	border-radius: 10px;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
}

body.brand_body{
	ul.main_nav_drop{
		box-shadow: 7px 7px 14px rgba(105,144,246,0.5), -10px -10px 20px #D7E2FF;
	}
	.make_brand_link a{
		background: linear-gradient(166.15deg, #9EB8FD 4.98%, #4075FB 94.88%);
		box-shadow: 10px 10px 20px rgba(105, 144, 246, 0.5), -12px -12px 20px #D7E2FF;
		transition: all 0.3s ease-in-out;
	}
	.make_brand_link a:hover{
		box-shadow: 10px 10px 20px rgba(105, 144, 246, 0), -12px -12px 20px #D7E2FF;
		transition: all 0.3s ease-in-out;
		opacity: 0.7;
	}
}

body.design_body{
	ul.main_nav_drop{
		box-shadow: 7px 7px 14px rgba(169,211,211,0.55), -10px -10px 20px rgba(255,255,255,0.4);
	}
	.make_brand_link a{
		background: linear-gradient(166.15deg, #9FE1EE 4.98%, #49C5C8 94.88%);
		box-shadow: 7px 7px 14px rgba(169, 211, 211, 0.55), -10px -10px 20px rgba(255, 255, 255, 0.1);
		transition: all 0.3s ease-in-out;
	}
	.make_brand_link a:hover{
		transition: all 0.3s ease-in-out;
		opacity: 0.7;
	}
	.make_brand_link a:active{
		box-shadow: 7px 7px 14px rgba(169, 211, 211, 0), -10px -10px 20px rgba(255, 255, 255, 0);
		transition: all 0.3s ease-in-out;
	}
}

body.audit_body{
	ul.main_nav_drop{
		box-shadow: 7px 7px 14px rgba(212,114,79,0.5), -10px -10px 20px #FCEFED;
	}
}

body.market_body{
	ul.main_nav_drop{
		box-shadow: 7px 7px 14px rgba(118,215,140,0.7), -10px -10px 20px #E4FFEA;
	}
	.make_brand_link a{
		background: linear-gradient(166.15deg, #94EFA9 4.98%, #53C06C 94.88%);
		box-shadow: 10px 10px 20px rgba(96, 178, 115, 0.7), -12px -12px 20px #E4FFEA;
		transition: all 0.3s ease-in-out;
	}
	.make_brand_link a:hover{
		transition: all 0.3s ease-in-out;
		opacity: 0.7;
	}
	.make_brand_link a:active{
		box-shadow: 10px 10px 20px rgba(96, 178, 115, 0), -12px -12px 20px #E4FFEA;
		transition: all 0.3s ease-in-out;
	}
}

body.package_body{
	ul.main_nav_drop{
		box-shadow: 7px 7px 14px rgba(165,154,224,0.65), -10px -10px 20px #E8E3F8;
	}
	.make_brand_link a{
		background: linear-gradient(166.15deg, #BBAFFF 4.98%, #613FFF 94.88%);
		box-shadow: 10px 10px 20px rgba(165, 154, 224, 0.65), -12px -12px 20px #E8E3F8;
		transition: all 0.3s ease-in-out;
	}
	.make_brand_link a:hover{
		transition: all 0.3s ease-in-out;
		opacity: 0.7;
	}
	.make_brand_link a:active{
		box-shadow: 10px 10px 20px rgba(165, 154, 224, 0), -12px -12px 20px #E8E3F8;
		transition: all 0.3s ease-in-out;
	}
}

section.services_header{
	min-height: 490px;
	margin-top: -120px;
	padding-top: 120px;
	.center_block{
		position: relative;
		span.red{
			right: auto;
			left: 50%;
			animation-name: animate_dot_horizontal;
		}
		span.pale_blue{
			right: auto;
			left: -40px;
			top: 40px;
			animation-name: animate_dot_vertical;
		}
	}
}

.package_header{
	background: linear-gradient(153.71deg, #F1F2FE 0%, #C5BFFF 100%);
}

.brand_header{
	background: linear-gradient(153.71deg, #EFF3FD 0%, #B3C9FE 100%, #B3C9FE 100%);
}

.design_header{
	background: linear-gradient(153.71deg, #F3FCFF 0%, #DBF9FF 100%);
}

.market_header{
	background: linear-gradient(153.71deg, #E3F9E4 0%, #CCFCC4 100%);
}

.audit_header{
	background: linear-gradient(153.71deg, #FAEEEC 0%, #FACCBE 100%);
}

.service_brand_color_item{
	width: 130px;
	margin-bottom: 20px;
	margin-right: 20px;
	> img{
		max-width: 100%;
		height: auto;
	}
	.service_brand_color_round{
		border-radius: 44px;
		width: 60px;
		height: 60px;
	}
	.service_brand_color_content{
		margin-top: 20px;
		.title{
			font-weight: 500;
			font-size: 14px;
			line-height: 133.19%;
			color: #3C3C3B;
			margin-bottom: 3px;
		}
		.item{
			font-size: 10px;
			line-height: 133.19%;
			display: block;
			margin-top: 2px;
			span {
				color: #959595;
			}
		}
	}
}

.services_header_buttons{
	padding: 70px 0;
	display: flex;
	a{
		margin-right: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 0;
		border-radius: 10px;
		height: 47px;
		padding: 0 40px;
	}
	a:last-child{
		margin-right: 0;
	}
	a.services_download{
		background: linear-gradient(167.86deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
		font-size: 15px;
		line-height: 18px;
	}
	a.services_package{
		box-shadow: 7px 7px 14px rgba(165, 154, 224, 0.65), -10px -10px 20px #E8E3F8;
		transition: all 0.3s ease-in-out;
	}
	a.services_package:hover{
		box-shadow: 7px 7px 14px rgba(165, 154, 224, 0), -10px -10px 20px #E8E3F8;
		transition: all 0.3s ease-in-out;
	}
	a.services_market{
		box-shadow: 7px 7px 14px rgba(118, 215, 140, 0.7), -10px -10px 20px #E4FFEA;
		transition: all 0.3s ease-in-out;
	}
	a.services_market:hover{
		box-shadow: 7px 7px 14px rgba(118, 215, 140, 0), -10px -10px 20px #E4FFEA;
		transition: all 0.3s ease-in-out;
	}
	a.services_design{
		box-shadow: 7px 7px 14px rgba(169, 211, 211, 0.55), -10px -10px 20px rgba(255, 255, 255, 0.4);
		transition: all 0.3s ease-in-out;
	}
	a.services_design:hover{
		box-shadow: 7px 7px 14px rgba(169, 211, 211, 0), -10px -10px 20px rgba(255, 255, 255, 0);
		transition: all 0.3s ease-in-out;
	}
	a.services_brand{
		box-shadow: 7px 7px 14px rgba(105, 144, 246, 0.5), -10px -10px 20px #D7E2FF;
		transition: all 0.3s ease-in-out;
	}
	a.services_brand:hover{
		box-shadow: 7px 7px 14px rgba(105, 144, 246, 0), -10px -10px 20px #D7E2FF;
		transition: all 0.3s ease-in-out;
	}
	a.services_audit{
		box-shadow: 7px 7px 14px rgba(212, 114, 79, 0.5), -10px -10px 20px #FCEFED;
		transition: all 0.3s ease-in-out;
	}
	a.services_audit:hover{
		box-shadow: 7px 7px 14px rgba(212, 114, 79, 0), -10px -10px 20px #FCEFED;
		transition: all 0.3s ease-in-out;
	}
	a.services_download:before{
		content: url("../pic/services-download.svg");
		display: block;
		margin-right: 10px;
	}
	a.services_link{
		font-size: 15px;
		line-height: 18px;
		color: #FFFFFF;
	}

	a.services_сustom_link{
		background: linear-gradient(167.26deg, #BBCEFF 4.98%, #1859FF 94.88%);
		box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 100;
		&:before{
			content: '';
			background: linear-gradient(167.26deg, #8EA8EB 4.98%, #0538B9 94.88%);
			box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			visibility: hidden;
			opacity: 0;
			z-index: -100;
			transition: all 0.3s ease-in-out;
			position: absolute;
			border-radius: inherit;
		}
		&:hover{
			&:before{
				opacity: 1;
				visibility: visible;
			}
		}
	}

	a.services_package_link{
		background: linear-gradient(166.15deg, #BBAFFF 4.98%, #613FFF 94.88%);
		box-shadow: 10px 10px 20px rgba(165, 154, 224, 0.65), -12px -12px 20px #ECE6FF;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 100;
		&:before{
			content: '';
			background: linear-gradient(166.15deg, #CFC9F2 4.98%, #A392F2 94.88%);
			box-shadow: 10px 10px 20px rgba(165, 154, 224, 0.3), -12px -12px 20px rgba(236, 230, 255, 0.5);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			visibility: hidden;
			opacity: 0;
			z-index: -100;
			transition: all 0.3s ease-in-out;
			position: absolute;
			border-radius: inherit;
		}
		&:hover{
			&:before{
				opacity: 1;
				visibility: visible;
			}
		}
	}

	a.services_brand_link{
		background: linear-gradient(166.15deg, #9EB8FD 4.98%, #4075FB 94.88%);
		box-shadow: 10px 10px 20px rgba(105, 144, 246, 0.5), -12px -12px 20px #DBE5FF;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 100;
		&:before{
			content: '';
			background: linear-gradient(166.15deg, #C0CDEF 4.98%, #91ACEE 94.88%);
			box-shadow: 10px 10px 20px rgba(105, 144, 246, 0.3), -12px -12px 20px rgba(219, 229, 255, 0.5);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			visibility: hidden;
			opacity: 0;
			z-index: -100;
			transition: all 0.3s ease-in-out;
			position: absolute;
			border-radius: inherit;
		}
		&:hover{
			&:before{
				opacity: 1;
				visibility: visible;
			}
		}
	}

	a.services_design_link{
		background: linear-gradient(166.15deg, #9FE1EE 4.98%, #49C5C8 94.88%);
		box-shadow: 7px 7px 14px rgba(169, 211, 211, 0.55), -10px -10px 20px #E5FAFD;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 100;
		&:before{
			content: '';
			background: linear-gradient(166.15deg, #C0E2E8 4.98%, #97D4D6 94.88%);
			box-shadow: 7px 7px 14px rgba(169, 211, 211, 0.3), -10px -10px 20px rgba(229, 250, 253, 0.5);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			visibility: hidden;
			opacity: 0;
			z-index: -100;
			transition: all 0.3s ease-in-out;
			position: absolute;
			border-radius: inherit;
		}
		&:hover{
			&:before{
				opacity: 1;
				visibility: visible;
			}
		}
	}

	a.services_market_link{
		background: linear-gradient(166.15deg, #94EFA9 4.98%, #53C06C 94.88%);
		box-shadow: 10px 10px 20px rgba(96, 178, 115, 0.7), -12px -12px 20px #E4FFEA;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 100;
		&:before{
			content: '';
			background: linear-gradient(166.15deg, #BCE9C5 4.98%, #9BD1A7 94.88%);
			box-shadow: 10px 10px 20px rgba(96, 178, 115, 0.3), -12px -12px 20px rgba(228, 255, 234, 0.5);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			visibility: hidden;
			opacity: 0;
			z-index: -100;
			transition: all 0.3s ease-in-out;
			position: absolute;
			border-radius: inherit;
		}
		&:hover{
			&:before{
				opacity: 1;
				visibility: visible;
			}
		}
	}

	a.services_audit_link{
		background: linear-gradient(166.15deg, #FFBB8A 4.98%, #E66C41 94.88%);
		box-shadow: 10px 10px 20px rgba(212, 114, 79, 0.5), -12px -12px 20px #FCEFED;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 100;
		&:before{
			content: '';
			background: linear-gradient(166.15deg, #F2CEB7 4.98%, #E4A793 94.88%);
			box-shadow: 10px 10px 20px rgba(212, 114, 79, 0.3), -12px -12px 20px rgba(252, 239, 237, 0.5);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			visibility: hidden;
			opacity: 0;
			z-index: -100;
			transition: all 0.3s ease-in-out;
			position: absolute;
			border-radius: inherit;
		}
		&:hover{
			&:before{
				opacity: 1;
				visibility: visible;
			}
		}
	}

}

.services_title{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	position: relative;
	h1.title{
		font-weight: bold;
		font-size: 30px;
		line-height: 125%;
		max-width: 507px;
		width: 100%;
	}
	.services_title_left{
		position: relative;
		z-index: 10;
	}
	.services_title_left > p{
		font-size: 18px;
		line-height: 135%;
		color: #3C3C3B;
		opacity: 0.7;
		max-width: 507px;
		width: 100%;
	}
}

.services_title_pic{
	position: absolute;
	right: 0;
}

.services_title_position{
	display: flex;
	justify-content: flex-start;
	p{
		font-size: 18px;
		line-height: 150%;
		color: #3C3C3B;
		span{
			font-weight: bold;
			font-size: 18px;
			line-height: 150%;
			color: #3C3C3B;
			margin-left: 5px;
		}
		span.old_price{
			font-weight: normal;
			text-decoration-line: line-through;
			margin-right: 5px;
		}
	}
	p:last-child{
		margin-left: 25px;
	}
}

section.inside_package{
	padding-top: 90px;
	h2.package_title{
		font-weight: bold;
		font-size: 30px;
		line-height: 125%;
		text-align: center;
	}
}

.inside_package_position{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 55px;
	.inside_package{
		display: flex;
		flex-direction: column;
		text-align: center;
		background: linear-gradient(133.9deg, #E4E8EF 4.98%, #FFFFFF 78.03%);
		box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
		border-radius: 40px;
		box-sizing: border-box;
		padding: 40px;
		span{
			display: block;
		}
		span.title{
			font-size: 24px;
			line-height: 135%;
			padding-top: 30px;
			font-weight: bold;
		}
		.inside_package_pic{
			height: 80px;
		}
		span.content{
			font-size: 18px;
			line-height: 135%;
			padding-top: 5px;
		}
	}
}

h2.package_title.package_subtitle{
	padding-top: 90px;
	font-weight: bold;
	font-size: 30px;
	line-height: 125%;
}

.inside_package_position.package_inside .inside_package{
	width: calc((100% / 3) - 30px);
	display: flex;
	justify-content: flex-start;
}

.inside_package_position.brand_inside .inside_package{
	width: calc((100% / 4) - 30px);
	display: flex;
	justify-content: flex-start;
}

.audit_icon_block .inside_package{
	align-content: flex-start;
	width: calc(100% / 5 - 30px);
	span.title{
		font-size: 18px;
		line-height: 135%;
		font-weight: normal;
		padding-top: 0;
	}
	.inside_package_pic{
		height: 53px !important;
		margin-bottom: 26px;
	}
}



@media only screen and (max-width: 1100px) {

	.inside_package_position.audit_icon_block{
		justify-content: flex-start;
	}

	.audit_icon_block .inside_package {
		width: calc(100% / 3 - 20px);
		margin-bottom: 30px;
		margin-right: 30px;
	}

	.audit_icon_block .inside_package:nth-child(3){
		margin-right: 0;
	}

}

@media only screen and (max-width: 1024px) {

	.inside_package_position.brand_inside .inside_package{
		width: calc((100% / 2) - 10px);
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}

}

@media only screen and (max-width: 900px) {

	.inside_package_position .inside_package span.title {
		font-size: 16px;
		line-height: 133.19%;
		padding-top: 25px;
	}

	.inside_package_position .inside_package span.content{
		font-size: 14px;
		line-height: 133.19%;
		padding-top: 10px;
	}

}

@media only screen and (max-width: 768px) {


	.inside_package_position.package_inside .inside_package{
		width: calc((100% / 3) - 20px);
	}

}

@media only screen and (max-width: 700px) {

	.inside_package img{
		max-width: 85px;
		height: auto;
	}

	.inside_package_position .inside_package .inside_package_pic,
	.inside_package_position.audit_icon_block .inside_package .inside_package_pic{
		height: auto !important;
	}

	.audit_icon_block .inside_package .inside_package_pic{
		margin-bottom: 0;
	}

	.inside_package_position.package_inside .inside_package, .inside_package_position.brand_inside .inside_package,
	.inside_package_position.audit_icon_block .inside_package{
		flex-wrap: wrap;
		span{
			width: 100%;
		}
	}

	section.inside_package{
		padding-top: 35px;
	}

	.inside_package_position{
		margin-top: 30px;
	}

	h2.package_title.package_subtitle{
		padding-top: 30px;
	}

}

@media only screen and (max-width: 600px) {

	.inside_package_position.audit_icon_block{
		justify-content: space-between;
	}

	.audit_icon_block .inside_package{
		width: calc(100% / 2 - 10px);
		margin-right: 0;
	}

	.audit_icon_block .inside_package:last-child{
		width: 100%;
	}

	.audit_expert_item .audit_expert_item_content{
		min-height: auto !important;
	}

	.service_brand_color_item{
		width: calc(50% - 10px);
		margin-right: 0;
	}

}

@media only screen and (max-width: 400px) {

	.inside_package_position.brand_inside .inside_package{
		width: 100%;
	}

	.audit_icon_block .inside_package {
		width: 100%;
		margin-bottom: 30px;
		margin-right: 0;
	}

}
