@import "variables";

// 1 тип шаблона

.service_questions {
	position: fixed;
	bottom: 70px;
	right: 70px;
	z-index: 800;
	max-width: 70px;
	transition: all 0.3s ease-in-out;

	> button {
		background: linear-gradient(134.17deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
		box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
		border-radius: 200px;
		width: 70px;
		height: 70px;
		line-height: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.template1 #service_questions_button:before{
	content: url("../pic/service-block-question-icon.svg");
}

#service_questions_button:before{
	content: url("../pic/service-block-question-icon-main.svg");
}

// 2 тип шаблона


// Общие стили

.service_questions.active {
	max-width: 532px;
	width: 100%;
	transition: all 0.2s ease-in-out;

	.service_questions_block {
		height: auto;
		opacity: 1;
		visibility: visible;
		transition: opacity 0.3s ease-in-out;
	}
}

.service_questions_block {
	position: relative;
	width: 100%;
	margin-top: 30px;
	background: linear-gradient(125.82deg, #F3F6FC 4.98%, #F3F5F8 94.88%);
	box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	opacity: 0;
	visibility: hidden;
	height: 0;
	transition: opacity 0.3s ease-in-out;

	> .title {
		font-weight: bold;
		font-size: 30px;
		line-height: 125%;
		text-align: center;
		color: #3C3C3B;
		padding-top: 30px;
	}
}

.service_questions_content {
	margin-top: 20px;
	height: 450px;
	overflow-y: auto;
	padding: 0 30px 30px 30px;
	margin-right: 30px;
	box-sizing: border-box;
}

.service_questions_content::-webkit-scrollbar {
	width: 12px;
	height: 3px;
}

.service_questions_content::-webkit-scrollbar-button {
	display: none
}

.service_questions_content::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 30px;
}

.service_questions_content::-webkit-scrollbar-track-piece {
	background: linear-gradient(80.75deg, #FFFFFF -30.86%, #ECF1F7 -10.72%, #CFDCEB 112.31%);
	box-shadow: inset 4px 4px 6px rgba(18, 46, 101, 0.1), inset -4px -4px 4px rgba(255, 255, 255, 0.7);
	border-radius: 30px;
}

.service_questions_content::-webkit-scrollbar-thumb {
	background: linear-gradient(171.84deg, #F3F5F8 4.98%, #FCFCFC 64.45%);
	box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
	border-radius: 30px;
	transform: rotate(90deg);
}

.service_questions_content::-webkit-scrollbar-corner {
	background-color: transparent;
	border-radius: 30px;
}

.service_questions_content::-webkit-resizer {
	background-color: transparent;
	border-radius: 30px;
}

.service_questions_content_position {
	display: flex;
	justify-content: space-between;
	text-align: left;
	position: relative;
}

.service_questions_icon {
	width: 87px;
	height: 87px;

	img {
		max-width: 100%;
		height: auto;
		border-radius: 10px;
	}

	position: absolute;
	left: 0;
}

.service_questions_content_item {
	position: relative;
	min-height: 127px;
	background: linear-gradient(162.42deg, #F9F9FB 4.98%, #FFFFFF 94.88%);
	box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	padding: 20px 25px;
	box-sizing: border-box;
	margin-top: 20px;
}

.service_questions_content_item.service_admin.no_login, {
	min-height: auto;
	width: calc(100% - 37px);
}

.service_questions_content_item.service_user.no_login {
	min-height: auto;
	width: calc(100% - 100px);
	margin-left: auto;
}

.service_questions_content_item.service_admin.has_login {
	width: calc(100% - 37px);
	margin-right: auto;

	.service_questions_message {
		padding-left: 107px;
		width: calc(100% - 107px);
	}
}

.service_questions_content_item.service_user.has_login {
	width: calc(100% - 100px);
	margin-left: auto;

	.service_questions_message {
		padding-left: 107px;
		width: calc(100% - 107px);
	}
}

.service_questions_title {
	font-weight: bold;
	font-size: 16px;
	line-height: 140%;
	color: $color_black;
}

.service_questions_text {
	font-size: 16px;
	line-height: 140%;
	color: $color_black;
}

.service_questions_content_item_timer {
	width: 100%;
	font-size: 16px;
	line-height: 140%;
	color: #959595;
	margin-top: 20px;
}

.service_questions_content_item_timer.service_user {
	text-align: right;
}

.service_questions_content_item_timer.service_admin {
	text-align: left;
}

.service_questions_form {
	padding: 30px;
	box-sizing: border-box;
}

.service_questions_form input {
	height: 54px;
	font-size: 16px;
	line-height: 140%;
}

.service_questions.active > {
	button#service_questions_button {
		display: none;
	}
}

@media only screen and (max-height: 800px) {
	.service_questions{
		right: 20px;
		bottom: 20px;
	}

	.service_questions_content{
		height: 400px;
	}
}

@media only screen and (max-width: 700px) {

	.service_questions {
		right: 20px;
		bottom: 20px;

	}

	.service_questions.active{
		bottom: 20px;
	}

	.service_questions.active {
		max-width: calc(100% - 40px);
		width: calc(100% - 40px);
		left: 20px;
	}

	.service_questions_block > .title{
		font-size: 20px;
		text-align: left;
		padding-left: 20px;
	}

	.service_questions_content{
		padding: 0 20px 20px 20px;
	}

	.service_questions_block button.close_modal{
		top: 20px;
		right: 20px;
	}

	.service_questions_content_item.service_user.no_login,
	.service_questions_content_item.service_user.has_login,
	.service_questions_content_item.service_admin.has_login,
	.service_questions_content_item.service_admin.no_login {
		width: calc(100% - 15px);
	}

	.service_questions_icon img {
		max-width: 45px;
	}

	.service_questions_content_item.service_admin.has_login .service_questions_message,
	.service_questions_content_item.service_user.has_login .service_questions_message {
		padding-left: 60px;
		width: calc(100% - 60px);
	}

	.service_questions_content{
		margin-right: 0;
	}


}
