section.stages_block {
	background: #EDF5FF;
	padding: 106px 0 90px 0;
	margin-top: 55px;
	position: relative;
}

.stages_block_item {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.stages1 {
	align-items: center;
}

.stages1:after {
	content: url("../pic/stage1.svg");
	position: absolute;
	right: 80px;
	z-index: 10;
	top: -40px;
}

.stages_page_pic{
	width: calc(100% - 344px);
	padding-right: 60px;
	box-sizing: border-box;
}

.stages_page_pic, .page_text_item {
	position: relative;
	z-index: 20;
}

.stages_slider_block{
	position: relative;
	.owl-dots{
		display: flex;
		justify-content: center;
		margin-top: 40px;
		align-items: center;
		button{
			width: 20px;
			height: 20px;
			background: linear-gradient(134.17deg, #EFF2F8 4.98%, #F3F5F8 17.62%, #FCFCFC 94.88%) !important;
			box-shadow: 2px 2px 7px rgba(144, 165, 194, 0.65), -4px -4px 10px rgba(255, 255, 255, 0.8);
			border-radius: 10px;
			margin: 0 10px;
			transition: all 0.3s ease-in-out;
		}
		button.active{
			background: linear-gradient(106.79deg, #FFFFFF -62.32%, #C4CDDB 190.73%) !important;
			box-shadow: inset 2px 2px 3px rgba(79, 98, 120, 0.9), inset 3px 3px 5px rgba(213, 230, 245, 0.4);
			border-radius: 26px;
			transition: all 0.3s ease-in-out;
		}
	}
}

.once, .two{
	img{
		border-radius: 20px;
	}
}

.stages_web4{
	margin-top: 60px;
}

.page_text_item {
	max-width: 344px;
	width: 100%;

	span {
		display: block;
	}

	span:nth-child(1) {
		color: #1859FF;
		font-size: 30px;
		line-height: 133.19%;
		text-transform: uppercase;
	}

	span:nth-child(2) {
		font-weight: bold;
		font-size: 24px;
		line-height: 110%;
		margin-top: 10px;
	}

	span:nth-child(3) {
		font-size: 20px;
		line-height: 135%;
		color: #959595;
		margin-top: 10px;
	}
}

.stages_shadow_block {
	background: linear-gradient(126.34deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
	box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
	border-radius: 40px;
	padding: 40px;
	box-sizing: border-box;
	position: relative;
	z-index: 40;
}

.stages_block_item.stages2 {
	.stages_shadow_block {
		max-width: 496px;
		width: 100%;
		margin-right: 40px;

		.stage_shadow_titles {
			margin-bottom: 35px;

			span {
				display: block;
			}

			span:nth-child(1) {
				font-weight: 300;
				font-size: 40px;
				line-height: 135%;
				color: #1859FF;
			}

			span:nth-child(2) {
				font-size: 14px;
				line-height: 142.2%;
				color: #959595;
			}

			span:nth-child(3) {
				font-size: 14px;
				line-height: 142.2%;
				margin-top: 10px;
			}
		}

		.stage_shadow_titles:last-child {
			margin-bottom: 0;
		}
	}
}

.stages_block_item.stages2 {
	margin-top: 40px !important;

	.stages_shadow_block {
		margin-top: 180px;
	}
}

.title_count1 .stage_shadow_titles:nth-child(1) span:nth-child(1) {
	color: #FF6700 !important;
}

.title_count2 .stage_shadow_titles:nth-child(2) span:nth-child(1) {
	color: #FF6700 !important;
}

.title_count3 .stage_shadow_titles:nth-child(3) span:nth-child(1) {
	color: #FF6700 !important;
}

.stages_block_item.stages2 {
	.page_text_item:after {
		content: url("../pic/stage2-1.svg");
		position: relative;
		right: 80px;
		top: 20px;
	}
}

.stages_block_item.stages3 {
	.stage_line {
		margin-left: 80px;
	}
}

.stages_block_item.stages3_center {
	justify-content: flex-end;

	.stage_line {
		margin-right: 120px;
	}
}


.stages_block_item.full_width {
	.stages_shadow_block {
		width: 100%;
	}
}

.stages_tab {
	display: flex;
	justify-content: space-between;

	button.stages_tab_item {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: .3;
		transition: opacity 0.3s ease-in-out;
	}

	button.stages_tab_item.active {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}

.stages_tab_content {
	.stages_tab_content_block {
		flex-wrap: wrap;
		justify-content: space-between;
		display: none;
	}

	.stages_tab_content_block.active {
		display: flex;
	}

	.stages_tab_content_block_item {
		width: calc(50% - 20px);
		margin-top: 60px;

		.title {
			font-weight: 300;
			font-size: 24px;
			line-height: 135%;
			color: #1859FF;
		}

		.content {
			font-size: 14px;
			line-height: 142.2%;
		}
	}
}

.stages_tab_content_block_item.center {
	text-align: center;
}

#stages_tab_line {
	width: 100%;
	height: 12px;
	margin-top: 30px;
	background: linear-gradient(83.55deg, #FFFFFF -30.86%, #ECF1F7 -10.72%, #CFDCEB 112.31%);
	box-shadow: inset 4px 4px 6px rgba(18, 46, 101, 0.1), inset -4px -4px 4px rgba(255, 255, 255, 0.7);
	border-radius: 30px;

	span {
		width: calc(50% - 1px);
		height: 10px;
		display: block;
		margin: 0 1px;
		position: relative;
		top: 1px;
		background: linear-gradient(178.42deg, #EFF2F8 4.98%, #F3F5F8 17.62%, #FCFCFC 94.88%);
		border-radius: 30px;
		transition: all 0.3s ease-in-out;
	}

	span.next {
		margin-left: auto;
		transition: all 0.3s ease-in-out;
	}
}

.stages_block_item.full_width.stages4 {
	flex-direction: column;
	align-items: center;

	.stages_center_line {
		position: relative;
		margin-left: -243px;
	}
}

.stages_block_item.stages5 {
	margin-top: -80px;
}

.stages_center_line.stages5 {
	display: flex;
	justify-content: center;
	margin: 10px 0;
}

.stages_shadow_block.stages_final_position {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 60px 95px;

	.title {
		width: 100%;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.stages_final_box {
		margin-bottom: 60px;
	}

	.stages_final_box:last-child {
		margin-bottom: 0;
	}

	.stages_final_box:nth-child(1) {
		width: 189px;
	}

	.stages_final_box:nth-child(2) {
		width: calc(100% - 250px);

		.content {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			img {
				margin-right: 28px;
			}

			img:last-child {
				margin-right: 0;
			}
		}
	}

	.stages_final_box:last-child {
		.content {
			img {
				border-radius: 20px;
			}
		}
	}
}

.stages_full_width{
	width: 100%;
}

.full_width_flex{
	display: flex;
	flex-wrap: wrap;
}

.stages_icons .icon{
	width: calc(100% / 6);
	text-align: center;
	padding: 0 10px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	img{
		max-width: 100%;
		height: auto;
	}
}

.stages_pictures{
	justify-content: space-between;
	margin-bottom: -20px;
	flex-wrap: wrap;
	.icon{
		margin-bottom: 20px;
		img{
			height: 260px;
		}
	}
}

.full_width_brand{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.package_grid{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px 10px;
	div{
		position: relative;
		padding: 0 0 71.3% 0;
		overflow: hidden;
		border-radius: 20px;
	}
	div:nth-child(1){
		padding: 0 0 34.5% 0;
	}
	img{
		width: 100% !important;
		height: 100% !important;
		position: absolute;
		object-fit: cover;
		transition: all 0.3s ease-in-out;
	}
	img:hover{
		transition: all 0.3s ease-in-out;
		transform: scale(1.1);
	}
	.span-col-2{grid-column: span 2 / auto;}
	.span-row-2{grid-row: span 2 / auto;}
}

.brand_grid{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px 10px;
	div{
		position: relative;
		padding: 0 0 71.3% 0;
		overflow: hidden;
		border-radius: 20px;
	}
	div:nth-child(1){
		padding: 0 0 34.5% 0;
	}
	img{
		width: 100% !important;
		height: 100% !important;
		position: absolute;
		object-fit: cover;
		transition: all 0.3s ease-in-out;
	}
	img:hover{
		transition: all 0.3s ease-in-out;
		transform: scale(1.1);
	}
	.span-col-2{grid-column: span 2 / auto;}
	.span-row-2{grid-row: span 2 / auto;}
}



.stages_final_box:last-child{
	width: 100%;
}

.stages_page_pic.mobile_display{
	display: none;
}

.stages_final_box {
	.title {
		font-size: 14px;
		line-height: 130%;
		color: #959595;
	}
	.content {
		margin-top: 24px;
	}
}

.stages_block_item.stage_last{
	padding-top: 60px;
	max-width: 760px;
	width: 100%;
	margin: 0 auto;
	flex-wrap: wrap;
	.page_text_item{
		padding-top: 140px;
	}
}
.stages_block_item.stage_last:before{
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: 140px;
	transform: translate(-50%, 0);
	content: url("../pic/last-line.svg");
}

.make_brand_button, .make_brand_link{
	max-width: 344px;
	width: 100%;
	margin-left: auto;
	a{
		width: 195px;
		height: 47px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media only screen and (max-width: 930px) {

	.stages_shadow_block.stages_final_position{
		padding: 60px 70px;
	}

	.stages_shadow_block.stages_final_position .stages_final_box:nth-child(2){
		width: calc(100% - 230px);
	}

}

@media only screen and (max-width: 880px) {

	.stages_shadow_block.stages_final_position{
		padding: 60px 40px;
	}

}

@media only screen and (max-width: 768px) {

	.stages_page_pic{
		width: calc(100% - 344px);
		padding-right: 0;
	}

	.stages_pictures{
		justify-content: flex-start;
		.icon{
			width: auto;
			img{
				height: 244px;
			}
		}
	}

	.stages_block_item.stage_last:before{
		margin-left: 50px;
	}

	.page_text_item span:nth-child(3){
		font-size: 14px;
		line-height: 133.19%;
	}

	.stages_block_item.stage_last .stages_page_pic{
		width: 40%;
	}

	.stages_block_item.stage_last .page_text_item, .make_brand_button, .make_brand_link{
		max-width: 50%;
	}


	.stages_block_item.stage_last .page_text_item{
		padding-top: 100px;
	}


}

@media only screen and (max-width: 767px) {

	.stages_pictures{
		.icon{
			img{
				height: auto;
			}
		}
	}

}

@media only screen and (max-width: 700px) {

	.stages_icons .icon{
		width: 33.333% !important;
		margin-bottom: 20px;
	}

	.stages_icons{
		margin-bottom: -20px;
	}

	.services_title{
		flex-direction: column;
		.services_title_left{
			width: 100%;
		}
		.services_title_pic{
			position: relative;
			display: flex;
			justify-content: center;
			img{
				height: 250px;
			}
		}
	}

	.services_header_buttons {
		flex-direction: column;

		a {
			width: 100%;
			box-sizing: border-box;
			margin-bottom: 20px;
		}

		a:last-child {
			margin-bottom: 0;
		}
	}

	.stages_shadow_block.stages_final_position .stages_final_box:first-child, .stages_shadow_block.stages_final_position .stages_final_box:nth-child(2){
		width: 100%;
	}

}

@media only screen and (max-width: 610px) {

	.make_brand_button, .make_brand_link{
		margin-top: 20px;
	}

}

@media only screen and (max-width: 600px) {

	.stages_block_item.stages2{
		.page_text_item{
			padding-top: 35px;
		}
	}

	.stages_page_pic{
		width: 100%;
		padding-right: 0;
	}

	section.stages_block{
		margin-top: 30px;
		padding: 30px 0 45px 0;
	}

	.stages_page_pic{
		display: none;
	}

	.stages_block_item.stage_last{
		padding-top: 35px;
	}

	.make_brand_button, .make_brand_link, .stages_block_item.stage_last .page_text_item{
		max-width: 100%;
	}

	.stages_block_item.stage_last .page_text_item{
		padding-top: 0;
	}

	.stages_page_pic.mobile_display{
		display: flex;
		justify-content: center;
		width: 100% !important;
		margin-top: 35px;
	}

	.make_brand_button, .make_brand_link{
		display: flex;
		justify-content: center;
		margin-top: 35px;
	}

	.stages1:after, .stages_block_item.stages2 .page_text_item:after, .stage_line, .stages_center_line, .stages_center_line.stages5, .stages_block_item.stage_last:before{
		display: none;
	}

	.stages_tab_content .stages_tab_content_block{
		flex-direction: column;
	}

	.stages_block_item.stages5, .stages_block_item.full_width.stages6{
		margin-top: 35px;
	}

	.stages_tab_content .stages_tab_content_block_item{
		width: 100%;
		margin-top: 35px;
	}

	.stages_block_item.full_width.stages4{
		margin-top: 35px;
	}

	.stages_block_item.stages3, .stages_block_item.stages2{
		margin-top: 35px !important;
	}

	.stages_shadow_block.title_count3{
		margin-bottom: 35px;
	}

	.stages_block_item.stages2 .stages_shadow_block{
		margin-top: 0;
	}

	.stages_block_item.stages2 .stages_shadow_block{
		max-width: 100%;
	}

	.stages_block_item{
		flex-direction: column;
		justify-content: flex-start;
		align-content: flex-start;
	}

	.page_text_item{
		max-width: 100%;
	}

	section.inside_package h2.package_title{
		font-size: 20px;
		line-height: 125%;
		text-align: left;
	}

	.inside_package_position.package_inside .inside_package{
		width: calc((100% / 2) - 10px);
		flex-direction: column;
		margin-bottom: 30px;
	}

	.inside_package_position.package_inside .inside_package:last-child{
		width: 100%;
	}

	.inside_package_position.package_inside .inside_package:last-child{
		margin-bottom: 0;
	}

	.stages_shadow_block.stages_final_position .stages_final_box:last-child{
		.content img{
			width: 100% !important;
			margin-top: 0 !important;
			margin-bottom: 10px !important;
		}

	}

}

@media only screen and (max-width: 500px) {

	.stages_tab_item img{
		max-width: 70%;
		height: auto;
	}

	section.package_design_header .center_block span.red{
		top: -20px;
	}

	.services_title h1.title{
		font-size: 25px;
		line-height: 115.19%;
	}

	.services_title .services_title_left>p{
		font-size: 16px;
		line-height: 167.69%;
	}

	.stages_block_item.stages2 .stages_shadow_block .stage_shadow_titles span:first-child{
		font-weight: 300;
		font-size: 20px;
		line-height: 135%;
	}

	.stages_block_item.full_width.stages4 {
		.stages_shadow_block{
			padding: 30px 25px;
		}
	}

	.stages_tab_content .stages_tab_content_block_item .title{
		font-weight: 300;
		font-size: 20px;
		line-height: 135%;
	}

	.page_text_item span:first-child{
		font-weight: 300;
		font-size: 14px;
		line-height: 133.19%;
	}

	.page_text_item span:nth-child(2){
		font-size: 14px;
		line-height: 133.19%;
		margin-top: 2px;
	}

	.services_title_position p{
		font-size: 16px;
		line-height: 167.69%;
	}

	.services_title_pic{
		margin-top: 30px;
	}

	.services_grid_block{
		display: flex !important;
		flex-direction: column;
		.stage_final_pic{
			margin-bottom: 20px;
		}
		.stage_final_pic:last-child{
			margin-bottom: 0;
		}
	}

	.services_header_buttons{
		padding: 50px 0 45px 0;
	}

	.breadcrumbs_block{
		display: none;
	}

}

@media only screen and (max-width: 400px) {

	.inside_package_position{
		flex-direction: column;
	}

	.inside_package_position.package_inside .inside_package{
		width: 100%;
	}


}
