.blue_button{
	background: linear-gradient(165.76deg, #BBCEFF 4.98%, #1859FF 94.88%);
	box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
	color: #FFFFFF;
	&:before{
		background: linear-gradient(167.26deg, #8EA8EB 4.98%, #0538B9 94.88%);
		box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
	}
	&:active{
		background: linear-gradient(167.26deg, #BBCEFF 4.98%, #1859FF 94.88%);
		box-shadow: 7px 7px 14px rgba(144, 165, 194, 0), -10px -10px 20px rgba(255, 255, 255, 0);
	}
	&:disabled{
		background: linear-gradient(167.26deg, #DAE4FF 4.98%, #97B4FF 94.88%);
		box-shadow: 7px 7px 14px rgba(144, 165, 194, 0), -10px -10px 20px rgba(255, 255, 255, 0);
	}
}

.red_button{
	background: linear-gradient(163.23deg, #FFBBBB 4.98%, #FF4F18 94.88%);
	box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
	color: #ffffff;
	&:before{
		background: linear-gradient(163.23deg, #FFBBBB 4.98%, #FF4F18 94.88%);
		box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
	}
	&:active{
		background: linear-gradient(163.23deg, #FFBBBB 4.98%, #FF4F18 94.88%);
		box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
	}
	&:hover{
		background: linear-gradient(163.23deg, #FFBBBB 4.98%, #FF4F18 94.88%);
		box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
	}
}

.white_button{
	background: #EBEFF7;
	box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
	&:before{
		background: linear-gradient(166.23deg, #EFF1F7 4.98%, #CFD9EC 94.88%);
		box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
	}
	&:active{
		background: linear-gradient(166.23deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
		box-shadow: 7px 7px 14px rgba(144, 165, 194, 0), -10px -10px 20px rgba(255, 255, 255, 0);
	}
	&:disabled{
		box-shadow: 7px 7px 14px rgba(144, 165, 194, 0), -10px -10px 20px rgba(255, 255, 255, 0);
		background: linear-gradient(166.23deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
	}
}

a.button, button.button{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	border-radius: 10px;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: -0.0064em;
	height: 53px;
	padding: 0 40px;
	img{
		margin: 0 10px;
	}
	&:before{
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;
		z-index: -100;
		transition: all 0.3s ease-in-out;
		position: absolute;
		border-radius: inherit;
	}
	&:hover{
		&:before{
			opacity: 1;
			visibility: visible;
		}
	}
}
