@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import "variables";
@import "init";
@import "header";
@import "form";
@import "buttons";
@import "modal";
@import "links";
@import "service-questions";
@import "important-budget";
@import "talking-about-slider";
@import "services";
@import "breadcrumbs";
@import "stages";
@import "service-footer-content";
@import "dots";
@import "services-audit";
@import "custom-service";
@import "main-v1"; // Стили для главной страницы 1 версия
@import "main-v2"; // Стили для главной страницы 2 версия

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.body_blue {
	background-color: $background_blue_color;
}

span.dot{
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

h1, h2, h3, h4{
	margin: 0;
}

a {
	text-decoration: none;
	color: $color_black;
}

.modal_login_icon{
	margin-top: -20px;
	display: flex;
	justify-content: center;
}

.responsive_pic img{
	max-width: 100%;
	height: auto;
}

.modal_login_buttons{
	max-width: 342px;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 10px;
}

.modal_login_buttons button{
	margin-top: 30px;
}

.modal_social_buttons{
	display: flex;
	justify-content: space-between;
	button{
		padding: 10px 30px;
	}
}

.modal_account_sub{
	text-align: center;
	padding-top: 40px;
}

.modal_account_sub, .modal_account_sub button{
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	button{
		color: $color_hover;
		margin: 0;
	}
}

.modal#modal_registration .custom_checkbox{
	width: 240px;
	margin: 0 auto;
	padding-top: 40px;
}

.forgot_password{
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.forgot_password, .forgot_password button{
	p{
		margin: 0;
		line-height: 140%;
	}
	display: flex;
	align-items: flex-start;
	font-size: 14px;
	line-height: 140%;
	color: #959595;
	button{
		margin-left: 5px;
		text-decoration: underline;
	}
}

#modal_login .modal_login_buttons .custom_checkbox {
	margin: 0 auto;
	padding-top: 10px;
}

.project_item{
	span{
		display: block;
	}
	span.project_pic{
		width: 100%;
		max-height: 400px;
		overflow: hidden;
		img{
			max-width: 100%;
			height: auto;
			object-position: center center;
			object-fit: fill;
			transition: all 0.3s ease-in-out;
		}
		img:hover{
			transform: scale(1.2);
			transition: all 0.3s ease-in-out;
		}
	}
	span.title{
		font-weight: bold;
		font-size: 24px;
		line-height: 110%;
		color: #3C3C3B;
		padding-top: 10px;
	}
	span.content{
		font-size: 18px;
		line-height: 110%;
		color: #3C3C3B;
		padding-top: 10px;
	}
}

.project_slider_items{
	padding: 40px 0 110px 0;
	display: flex;
}

.services_grid_position{
	display: flex;
	flex-wrap: wrap;
	margin-right: -25px;
	.project_item{
		max-width: calc(100% / 3 - 25px);
		width: 100%;
		margin-right: 25px;
		margin-bottom: 25px;
		position: relative;
	}
}

.wrapped_block{
	min-height: 100%;
	height: 100%;
}

.wrapped_block.lock{
	overflow: hidden;
	display: none;
}

// FOOTER

.template1 footer{
	margin-top: 230px;
}

footer{
	margin-top: 90px;
	padding: 30px 0;
	.footer_year{
		display: block;
		padding-top: 10px;
	}
	.footer_position{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.footer_links ul{
		display: flex;
		li{
			margin: 0 12px;
		}
	}
	.footer_social_links ul{
		display: flex;
		li{
			margin-left: 12px;
			line-height: 0;
		}
	}
}

@media only screen and (max-width: 1024px) {

	h2.title, h3.title, section.need_help .need_help_position .need_help_left h3.title{
		font-size: 44px;
	}

}

@media only screen and (max-width: 768px) {

	footer{
		margin-top: 40px;
	}

	h2.title, h3.title, section.need_help .need_help_position .need_help_left h3.title{
		font-size: 32px;
	}

}

@media only screen and (max-width: 700px) {

	.services_grid_position .project_item{
		max-width: 100%;
	}

	.project_item span.content{
		padding-top: 20px;
	}

	section.need_help .need_help_position .need_help_left span{
		font-size: 14px;
		line-height: 133.19%;
	}

	h2.title, h3.title, section.need_help .need_help_position .need_help_left h3.title{
		font-size: 20px;
		line-height: 125%;
	}

	footer {
		.footer_position{
			flex-direction: column;
			align-items: flex-start;
		}
		.footer_links ul{
			padding-top: 30px;
			flex-direction: column;
			li{
				margin: 0;
			}
		}
		.footer_social_links{
			padding-top: 30px;
			li:first-child{
				margin: 0;
			}
		}
	}

	.project_slider_items{
		padding: 40px 20px 40px 20px;
	}

}
