section.customers_talking_about{
	position: relative;
	padding-top: 125px;
	h3.title {
		font-size: 30px;
		line-height: 125%;
	}
}

.customers_talking_about_slider{
	position: relative;
	margin-top: 35px;
	.owl-nav{
		display: flex;
		align-items: center;
		button{
			width: 38px;
			height: 38px;
			background: linear-gradient(134.88deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
			box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
			border-radius: 50%;
			line-height: 0;
			position: relative;
			transition: box-shadow 0.3s ease-in-out;
			display: flex;
			align-items: center;
			justify-content: center;
			span{
				position: relative;
				z-index: 10;
			}
		}
		button:before{
			content: '';
			width: 38px;
			height: 38px;
			border-radius: 50%;
			top: 0;
			left: 0;
			position: absolute;
			background: linear-gradient(166.23deg, #EFF1F7 4.98%, #CFD9EC 94.88%);
			box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}
		button:hover{
			box-shadow: 7px 7px 14px rgba(144, 165, 194, 0), -10px -10px 20px rgba(255, 255, 255, 0);
			transition: box-shadow 0.3s ease-in-out;
		}
		button:hover:before{
			opacity: 1;
			transition: opacity 0.3s ease-in-out;
		}
		button:active{
			background: linear-gradient(166.23deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
			transition: all 0s ease-in-out;
		}
		button:active:before{
			background: linear-gradient(166.23deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
			box-shadow: 7px 7px 14px rgba(144, 165, 194,0), -10px -10px 20px rgba(255, 255, 255, 0);
			transition: all 0s ease-in-out;
		}
		button.owl-prev{
			right: 34px;
			position: relative;
		}
	}
}

.customers_talking_count_position{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}

#customers_talking_dots{
	button.owl-dot{
		width: 10px;
		height: 2px;
		background: #B8B8B8;
	}
	button.owl-dot.active{
		background: #3C3C3B;
	}
}

#customers_talking_count{
	display: flex;
	align-items: center;
	div{
		margin-right: 5px;
		line-height: 0;
	}
}

.talking_about_slider_item{
	display: inline-flex;
	justify-content: space-between;
	position: relative;
	.talking_about_slider_item_pic{
		width: 390px;
		> img{
			max-width: 100%;
			border-radius: 20px;
			height: 280px;
			object-fit: fill;
			object-position: center;
		}
	}
	.talking_about_slider_item_content{
		width: calc(100% - 420px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		p{
			font-size: 18px;
			line-height: 110%;
		}
		span{
			display: block;
		}
		span.name{
			font-weight: bold;
			font-size: 20px;
			line-height: 133.19%;
		}
		span.project{
			font-size: 18px;
			line-height: 110%;
			padding-top: 2px;
			padding-bottom: 40px;
		}
	}
}

@media only screen and (max-width: 768px) {

	section.customers_talking_about{
		padding-top: 40px;

	}

	.talking_about_slider_item{
		flex-direction: column;
		.talking_about_slider_item_pic{
			display: none;
		}
		.talking_about_slider_item_content{
			width: 100%;
			background: linear-gradient(129.39deg, #F3F7FF 4.98%, #E6E9EF 94.88%);
			box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
			border-radius: 10px;
			padding: 30px;
			box-sizing: border-box;
		}
	}

}

@media only screen and (max-width: 600px) {

	.talking_about_slider_item_content{
		p{
			font-size: 12px;
			line-height: 167.69%;
		}
		span.name{
			font-size: 14px;
			line-height: 133.19%;
		}
		span.project{
			font-size: 12px;
			line-height: 110%;
		}
	}

}
