$color_black: #3C3C3B;
$color_hover: #1859FF;
$background_blue_color: #F8FBFF;
$background_services_color: #F8FBFF;
$content_block: calc(1110px + 20px + 20px);
$button_padding: 16px 50px;
$button_radius: 10px;
$button_font_size: 16px;
$button_line_height: 140%;
