.rainbow_slider .irs--flat .irs-from, .rainbow_slider .irs--flat .irs-to, .rainbow_slider .irs--flat .irs-single {
		background: linear-gradient(90deg, #FF7A7A 6.73%, #FFB91B 53.37%, #A7FF99 100%), #C4C4C4 !important;
		border-radius: 21px !important;
}