@charset "UTF-8";
.service_full_submit {
		display: flex;
		justify-content: flex-end;
		margin-top: 40px;
}
@media only screen and (max-width: 900px) {
		.service_full_submit {
				margin-top: 20px;
				justify-content: center;
		}
}

#promo_code_service {
		padding-bottom: 50px;
		margin-bottom: 50px;
		border-bottom: 1px solid #CECECE;
}
#promo_code_service .promo_position {
		display: flex;
		justify-content: space-between;
		align-items: center;
}
@media only screen and (max-width: 768px) {
		#promo_code_service .promo_position {
				flex-direction: column;
				align-items: flex-start;
		}
}
#promo_code_service .promo_left {
		font-size: 24px;
		line-height: 135%;
}
@media only screen and (max-width: 770px) {
		#promo_code_service .promo_left {
				font-size: 20px;
		}
}
#promo_code_service .promo_form {
		display: flex;
		align-items: center;
		position: relative;
}
@media only screen and (max-width: 650px) {
		#promo_code_service .promo_form {
				flex-direction: column;
				width: 100%;
		}
}
#promo_code_service .promo_form .success {
		position: absolute;
		bottom: -10px;
		left: 20%;
		transform: translate(-20%, 0);
		color: #59B13A;
		font-size: 16px;
		line-height: 140%;
}
@media only screen and (max-width: 650px) {
		#promo_code_service .promo_form .success {
				bottom: 65px;
				left: 30px;
		}
}
#promo_code_service .promo_form input {
		width: 324px;
		height: 51px;
}
@media only screen and (max-width: 650px) {
		#promo_code_service .promo_form input {
				width: 100%;
		}
}
#promo_code_service .promo_form button {
		margin-left: 21px;
		min-height: auto;
		height: 51px;
}
@media only screen and (max-width: 650px) {
		#promo_code_service .promo_form button {
				width: 100%;
				margin-top: 30px;
				margin-left: 0;
		}
}

#cart_total_price {
		font-size: 50px;
		line-height: 110%;
		font-weight: bold;
		text-align: right;
}
@media only screen and (max-width: 600px) {
		#cart_total_price {
				text-align: left;
				font-size: 24px;
				line-height: 125%;
		}
}
#cart_total_price:before {
		content: url("../pic/cart-custom.svg");
		margin-right: 25px;
}
@media only screen and (max-width: 600px) {
		#cart_total_price:before {
				content: url("../pic/cart-custom-small.svg");
				margin-right: 10px;
		}
}

.service_full_pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 18px;
}
.service_full_pagination button {
		width: 40px;
		height: 40px;
		padding: 0;
		line-height: 0;
		min-height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: -100px;
}
.service_full_pagination button span {
		width: inherit;
		height: inherit;
		line-height: 0;
}
.service_full_pagination ul {
		display: flex;
		align-items: center;
		margin-right: 18px;
}
.service_full_pagination ul li {
		font-size: 16px;
		line-height: 100%;
}
.service_full_pagination ul li:first-child:after {
		content: "/";
}

.service_full_item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 27px;
}
@media only screen and (max-width: 600px) {
		.service_full_item {
				flex-direction: column;
				align-items: flex-start;
		}
}
.service_full_item:last-child {
		margin-bottom: 0;
}
.service_full_item .service_price_title_block {
		width: 60%;
		display: flex;
		align-items: center;
		justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
		.service_full_item .service_price_title_block {
				width: calc(100% - 280px);
		}
}
@media only screen and (max-width: 768px) {
		.service_full_item .service_price_title_block {
				width: calc(100% - 210px);
		}
}
@media only screen and (max-width: 600px) {
		.service_full_item .service_price_title_block {
				width: 100%;
				flex-direction: column;
		}
}
.service_full_item .title {
		font-size: 24px;
		line-height: 135%;
		color: #3C3C3B;
		padding-right: 55px;
		box-sizing: border-box;
}
@media only screen and (max-width: 1024px) {
		.service_full_item .title {
				font-size: 16px;
				line-height: 133.19%;
		}
}
@media only screen and (max-width: 600px) {
		.service_full_item .title {
				padding-right: 0;
		}
}
.service_full_item .price {
		min-width: 110px;
		font-weight: bold;
		font-size: 24px;
		line-height: 135%;
		text-align: center;
		color: #3C3C3B;
		border-bottom: 1px solid #CECECE;
}
@media only screen and (max-width: 1024px) {
		.service_full_item .price {
				font-size: 16px;
				line-height: 133.19%;
		}
}
@media only screen and (max-width: 600px) {
		.service_full_item .price {
				width: 100%;
				margin-top: 10px;
				text-align: left;
		}
}
.service_full_item .bc_buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
		.service_full_item .bc_buttons {
				padding-left: 20px;
				box-sizing: border-box;
		}
}
@media only screen and (max-width: 600px) {
		.service_full_item .bc_buttons {
				padding-left: 0;
				width: 100%;
				margin-top: 20px;
		}
}
.service_full_item .bc_buttons input {
		border-radius: 10px;
		width: 85px;
		height: 40px;
		text-align: center;
}
.service_full_item .bc_buttons button {
		width: 40px;
		height: 40px;
		padding: 0;
		line-height: 0;
		min-height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
}
.service_full_item .bc_buttons button span {
		line-height: 0;
}
.service_full_item .bc_buttons button.sub {
		margin-right: 10px;
}
.service_full_item .bc_buttons button.add {
		margin-left: 10px;
}

section.constructor_prev {
		margin-top: 110px;
}
section.constructor_prev h2 {
		font-weight: bold;
		font-size: 30px;
		line-height: 125%;
		text-align: center;
}
section.constructor_prev .constructor_prev_position {
		display: flex;
		justify-content: space-between;
		margin-top: 55px;
		margin-bottom: 90px;
}
section.constructor_prev .constructor_prev_position .constructor_prev_position_item {
		width: calc(100% / 3 - 25px);
}
section.constructor_prev .constructor_prev_position .constructor_prev_position_item span {
		font-size: 14px;
		line-height: 135%;
		text-transform: uppercase;
		color: #1859FF;
}
section.constructor_prev .constructor_prev_position .constructor_prev_position_item p {
		font-size: 18px;
		line-height: 135%;
		color: #3C3C3B;
		margin: 5px 0 0 0;
}

section.calculator_project {
		padding: 50px 0 90px 0;
		background: #EDF5FF;
}
section.calculator_project h2 {
		font-weight: bold;
		font-size: 30px;
		line-height: 125%;
		text-align: center;
}

.calculator_block {
		width: 100%;
		padding: 70px 60px;
		box-sizing: border-box;
		background: linear-gradient(155.9deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
		box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
		border-radius: 40px;
		margin-top: 50px;
}

.basics_custom_block_item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 80px;
}
.basics_custom_block_item .logo_title {
		display: flex;
		align-items: center;
		justify-content: flex-start;
}
.basics_custom_block_item .logo_title .bc_logo {
		width: 80px;
}
.basics_custom_block_item .logo_title .bc_title {
		display: flex;
		flex-direction: column;
		width: 220px;
		margin-left: 20px;
}
.basics_custom_block_item .logo_title .bc_title span {
		display: block;
}
.basics_custom_block_item .logo_title .bc_title span:first-child {
		font-weight: bold;
		font-size: 24px;
		line-height: 135%;
}
.basics_custom_block_item .logo_title .bc_title span:last-child {
		font-size: 18px;
		line-height: 135%;
}
.basics_custom_block_item .bc_line {
		width: 20%;
		border-bottom: 2px solid #CECECE;
}
.basics_custom_block_item .bc_buttons_price {
		display: flex;
		align-items: center;
		width: 330px;
}
.basics_custom_block_item .bc_buttons_price .bc_buttons {
		display: flex;
		align-items: center;
		width: 180px;
}
.basics_custom_block_item .bc_buttons_price .bc_buttons button {
		width: 40px;
		height: 40px;
		padding: 0;
		line-height: 0;
		min-height: auto;
		margin-top: -5px;
}
.basics_custom_block_item .bc_buttons_price .bc_buttons button span {
		line-height: 0;
}
.basics_custom_block_item .bc_buttons_price .bc_buttons input {
		width: 85px;
		height: 40px;
		margin: 0 10px;
		text-align: center;
}
.basics_custom_block_item .bc_buttons_price .bc_price {
		margin-left: 50px;
		font-size: 20px;
		line-height: 135%;
		text-align: right;
		font-weight: bold;
}

.calculator_block_total {
		width: 100%;
		border-top: 1px solid #CECECE;
		padding-top: 25px;
}
.calculator_block_total .bc_block_total {
		justify-content: flex-end;
		display: flex;
}
.calculator_block_total .bc_block_total span {
		font-size: 20px;
		line-height: 135%;
		display: block;
		margin-top: 3px;
}
.calculator_block_total .bc_block_total #bc_block_total, .calculator_block_total .bc_block_total #ad_block_total {
		font-size: 24px;
		line-height: 135%;
		margin-left: 10px;
		font-weight: bold;
}
.calculator_block_total .bc_block_total .bc_block_total_item_total {
		display: flex;
}

.ad_checkbox_block {
		display: flex;
		flex-wrap: wrap;
		margin-left: -14px;
		margin-right: -14px;
}
@media only screen and (max-width: 550px) {
		.ad_checkbox_block {
				margin-left: 0;
				margin-right: 0;
		}
}
.ad_checkbox_block .sc_checkbox_box {
		position: relative;
		width: calc(100% / 3 - 28px);
		margin: 0 14px 28px 14px;
		display: flex;
		align-items: center;
		justify-content: center;
}
@media only screen and (max-width: 550px) {
		.ad_checkbox_block .sc_checkbox_box {
				width: 100%;
				margin: 0 0 28px 0;
		}
}
.ad_checkbox_block .service_full_block {
		width: 100%;
		border-radius: 40px;
		padding: 50px 60px;
		background: #F5F6F8;
		margin-bottom: 28px;
		box-shadow: 10px 10px 20px rgba(166, 180, 200, 0.7), -12px -12px 20px rgba(255, 255, 255, 0.8);
		position: relative;
}
.ad_checkbox_block .service_full_block.center:before {
		left: 50%;
		transform: translate(-50%, 0);
}
.ad_checkbox_block .service_full_block.right:before {
		right: 68px;
}
@media only screen and (max-width: 550px) {
		.ad_checkbox_block .service_full_block.right:before {
				left: 50%;
				transform: translate(-50%, 0);
		}
}
.ad_checkbox_block .service_full_block:before {
		content: url("../pic/modal-rib-gradient.svg");
		position: absolute;
		top: -20px;
		z-index: 300;
}
@media only screen and (max-width: 550px) {
		.ad_checkbox_block .service_full_block:before {
				left: 50%;
				transform: translate(-50%, 0);
		}
}
.ad_checkbox_block .service_full_block:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		box-shadow: 0 0 40px rgba(255, 255, 255, 0.8), 0 0 20px rgba(144, 165, 194, 0.65);
		z-index: 9;
		border-radius: 40px;
}
@media only screen and (max-width: 600px) {
		.ad_checkbox_block .service_full_block {
				padding: 40px 30px;
		}
}
.ad_checkbox_block .sc_checkbox {
		width: 100%;
		position: relative;
		background: linear-gradient(158.93deg, #F9F9FB 4.98%, #F3F5F8 94.88%);
		box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
		border-radius: 10px;
		padding: 20px 20px;
		box-sizing: border-box;
		min-height: 90px;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		display: flex;
		align-items: center;
}
.ad_checkbox_block .sc_checkbox .title {
		width: 100%;
		font-weight: bold;
		font-size: 18px;
		line-height: 135%;
		text-align: center;
}
.ad_checkbox_block .sc_checkbox span.price {
		font-size: 14px;
		line-height: 135%;
		display: block;
		margin-top: 5px;
}
.ad_checkbox_block .sc_checkbox .price_icon:after {
		margin-left: 5px;
}
.ad_checkbox_block .sc_checkbox input {
		display: none;
}
.ad_checkbox_block .sc_checkbox.active {
		background: linear-gradient(158.93deg, #BBCEFF 4.98%, #1859FF 94.88%);
		box-shadow: 7px 7px 14px rgba(144, 165, 194, 0.65), -10px -10px 20px rgba(255, 255, 255, 0.8);
		transition: all 0.3s ease-in-out;
}
.ad_checkbox_block .sc_checkbox.active .title {
		color: #FFFFFF;
}
.ad_checkbox_block .sc_checkbox.active span.price {
		color: #FFFFFF;
}

.calculator_block_total.ad_checkbox {
		margin-top: 30px;
}
.calculator_block_total.ad_checkbox .bc_block_total {
		flex-direction: column;
		align-items: flex-end;
		text-align: right;
}
.calculator_block_total.ad_checkbox .bc_block_total .bc_block_total_item {
		display: flex;
}
.calculator_block_total.ad_checkbox .bc_block_total .bc_block_total_item span {
		display: block;
}
.calculator_block_total.ad_checkbox .bc_block_total .bc_block_total_item span:first-child {
		font-size: 20px;
		line-height: 135%;
		color: #959595;
}
.calculator_block_total.ad_checkbox .bc_block_total .bc_block_total_item span:last-child {
		width: 120px;
		font-weight: bold;
		font-size: 20px;
		line-height: 135%;
		color: #3C3C3B;
		margin-left: 10px;
		text-align: right;
}

.bc_block_total_item_total {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 20px;
}
.bc_block_total_item_total span {
		font-size: 20px;
		line-height: 135%;
		color: #3C3C3B;
}
.bc_block_total_item_total #ad_block_total {
		width: 120px;
		font-weight: bold;
		font-size: 24px;
		line-height: 135%;
		text-align: right;
		margin-left: 10px;
}

.calculator_block.total_cart .total_title {
		font-weight: bold;
		font-size: 30px;
		line-height: 125%;
}

.total_item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
}
.total_item .title {
		font-size: 24px;
		line-height: 135%;
		width: calc(100% - 320px);
}
.total_item .price_button {
		display: flex;
		align-items: center;
		text-align: right;
}
.total_item .price_button .price {
		font-weight: bold;
		font-size: 24px;
		line-height: 135%;
		margin-right: 30px;
}
.total_item .confirm_buttons {
		display: none;
}

.delete_confirm_service p {
		margin: 0;
		color: #FF6700;
		font-size: 12px;
		line-height: 14px;
}

.total_item.confirm .confirm_buttons {
		display: flex;
		align-items: center;
}
.total_item.confirm .confirm_buttons button.delete_confirm {
		color: #FF6700;
}
.total_item.confirm .confirm_buttons button {
		height: 35px;
		padding: 0 30px;
		min-height: auto;
		margin-left: 15px;
		color: #3C3C3B;
		font-size: 12px;
		line-height: 14px;
		box-sizing: border-box;
}
.total_item.confirm .confirm_buttons button span {
		display: flex;
		align-items: center;
}
.total_item.confirm .confirm_buttons button img {
		margin-right: 10px;
}

.total_line {
		width: 100%;
		display: block;
		border-bottom: 1px solid #CECECE;
		padding-bottom: 50px;
		margin-bottom: 50px;
}

.total_item.confirm .title {
		color: #CECECE;
}
.total_item.confirm .price_button {
		display: none;
}

.total_item:first-child {
		margin-top: 30px;
}

.total_item:last-child {
		margin-bottom: 0;
}

.total_service_position {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
}
.total_service_position .total_service_left {
		max-width: 480px;
		width: 100%;
}
.total_service_position .total_service_left button:disabled {
		opacity: 0.5;
		cursor: default;
}
.total_service_position .total_service_left p {
		margin: 0;
		color: #747474;
		font-size: 20px;
		line-height: 145%;
}
.total_service_position .total_service_left p a {
		color: #747474;
		text-decoration: underline;
}
.total_service_position .total_service_left button {
		max-width: 250px;
		padding: 16px 40px;
}
.total_service_position .total_service_left form {
		margin-top: 47px;
}
.total_service_position .total_service_right {
		width: 410px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
}
@media only screen and (max-width: 600px) {
		.total_service_position .total_service_right {
				width: 100%;
		}
}
.total_service_position .total_service_right .item {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;
}
.total_service_position .total_service_right .item:last-child {
		margin-bottom: 0;
}
.total_service_position .total_service_right .item .title {
		width: 150px;
		font-size: 24px;
		line-height: 125%;
		font-weight: normal;
}
.total_service_position .total_service_right .item .price {
		font-weight: bold;
		font-size: 24px;
		line-height: 125%;
		text-align: right;
		margin-left: 47px;
}
@media only screen and (max-width: 600px) {
		.total_service_position .total_service_right .item .price {
				margin-left: 0;
		}
}

.price_icon:after {
		content: "₽";
		margin-left: 10px;
}

@media only screen and (max-width: 1024px) {
		.ad_checkbox_block .sc_checkbox_box .sc_helper_modal:before {
				left: 70px;
		}
}
@media only screen and (max-width: 980px) {
		.basics_custom_block_item .bc_line {
				width: 10%;
		}
}
@media only screen and (max-width: 910px) {
		.basics_custom_block_item .bc_buttons_price .bc_price {
				margin-left: 20px;
		}
}
@media only screen and (max-width: 870px) {
		.basics_custom_block_item .bc_line {
				display: none;
		}
}
@media only screen and (max-width: 770px) {
		.basics_custom_block_item {
				flex-direction: column;
				align-items: flex-start;
				width: calc(50% - 20px);
		}

		.ad_checkbox_block .sc_checkbox_box .sc_helper_modal {
				top: 50px;
		}

		.ad_checkbox_block .sc_checkbox_box .sc_helper_modal:before {
				left: 60px;
		}

		.ad_checkbox_block .sc_checkbox_box:nth-child(3) .sc_helper_modal:before, .ad_checkbox_block .sc_checkbox_box:nth-child(6) .sc_helper_modal:before, .ad_checkbox_block .sc_checkbox_box:nth-child(9) .sc_helper_modal:before, .ad_checkbox_block .sc_checkbox_box:nth-child(12) .sc_helper_modal:before {
				right: 0;
		}

		.calculator_block {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
		}

		.calculator_block {
				padding: 40px;
		}

		.basics_custom_block_item .bc_buttons_price {
				flex-direction: column;
				align-items: flex-start;
				margin-top: 20px;
		}

		.basics_custom_block_item .bc_buttons_price .bc_price {
				margin-left: 0;
				margin-top: 20px;
		}

		.ad_checkbox_block .sc_checkbox .title {
				width: 100%;
				font-size: 16px;
				box-sizing: border-box;
				min-height: 62px;
				display: flex;
				align-items: center;
				justify-content: center;
		}

		.calculator_block_total.ad_checkbox {
				margin-top: 40px;
				padding-top: 10px;
		}

		.calculator_block.total_cart .total_title {
				font-size: 25px;
		}

		.total_item .title {
				font-size: 20px;
		}

		.total_item:first-child {
				margin-top: 20px;
		}

		.total_item .price_button .price {
				font-size: 20px;
		}

		.total_item .title {
				width: calc(100% - 280px);
		}

		.ad_checkbox_block .sc_checkbox_box button.sc_helper_button {
				top: 10px;
				right: 10px;
		}

		section.calculator_project h2 {
				margin-top: -80px;
		}

		.total_service_position {
				flex-direction: column-reverse;
		}

		.total_service_position .total_service_left,
.total_service_position .total_service_right {
				max-width: 100%;
				width: 100%;
				padding-left: 0;
		}

		section.calculator_project#calc_first h2 {
				margin-top: 0;
		}

		section.constructor_prev .constructor_prev_position .constructor_prev_position_item p {
				font-size: 17px;
		}

		.total_service_position .total_service_left form {
				margin-top: 37px;
		}

		.total_service_position .total_service_left {
				margin-top: 20px;
		}
}
@media only screen and (max-width: 750px) {
		section.calculator_project h2 {
				margin-top: -30px;
		}

		.calculator_block {
				flex-direction: column;
		}

		.basics_custom_block_item .logo_title .bc_title span:first-child {
				font-size: 16px;
				line-height: 133.19%;
		}

		.basics_custom_block_item .logo_title .bc_title span:last-child {
				font-size: 14px;
		}

		.basics_custom_block_item .logo_title .bc_logo {
				width: 60px;
		}

		.basics_custom_block_item:first-child {
				padding-bottom: 35px;
				border-bottom: 1px solid #CECECE;
				margin-bottom: 35px;
		}

		.basics_custom_block_item .bc_buttons_price .bc_buttons,
.basics_custom_block_item .bc_buttons_price,
.basics_custom_block_item,
.basics_custom_block_item .bc_buttons_price .bc_price {
				width: 100%;
		}

		.basics_custom_block_item .bc_buttons_price .bc_buttons input {
				width: calc(100% - 100px);
		}

		.basics_custom_block_item .bc_buttons_price .bc_price {
				font-size: 14px;
				line-height: 133.19%;
		}

		.calculator_block_total .bc_block_total {
				flex-direction: column;
				text-align: right;
		}

		#package_item.basics_custom_block_item {
				margin-bottom: 25px;
		}

		.calculator_block_total .bc_block_total span {
				font-size: 14px;
				line-height: 135%;
		}

		.calculator_block_total {
				padding-top: 20px;
		}

		.calculator_block_total .bc_block_total #ad_block_total, .calculator_block_total .bc_block_total #bc_block_total {
				font-size: 18px;
				line-height: 135%;
				margin-top: 5px;
		}

		section.calculator_project {
				padding: 50px 0 30px 0;
		}
}
@media only screen and (max-width: 600px) {
		section.constructor_prev .constructor_prev_position {
				flex-direction: column;
		}

		section.constructor_prev .constructor_prev_position .constructor_prev_position_item {
				width: 100%;
				margin-bottom: 30px;
		}

		section.constructor_prev .constructor_prev_position .constructor_prev_position_item:last-child {
				margin-bottom: 0;
		}

		section.constructor_prev .constructor_prev_position {
				margin-bottom: 50px;
		}

		section.constructor_prev h2 {
				font-size: 20px;
				line-height: 125%;
				text-align: left;
				margin-top: -60px;
		}

		.calculator_block_total.ad_checkbox .bc_block_total .bc_block_total_item span:first-child {
				font-size: 14px;
				line-height: 133.19%;
		}

		.calculator_block_total.ad_checkbox .bc_block_total .bc_block_total_item {
				flex-direction: column;
				margin-bottom: 15px;
		}

		.calculator_block_total.ad_checkbox .bc_block_total .bc_block_total_item:last-child {
				margin-bottom: 0;
		}

		.calculator_block_total.ad_checkbox .bc_block_total .bc_block_total_item span:last-child {
				font-size: 14px;
				line-height: 133.19%;
				width: 100%;
				margin-top: 5px;
				padding-right: 10px;
				margin-left: 0;
		}

		.bc_block_total_item_total #ad_block_total {
				font-size: 18px;
				line-height: 133.19%;
				margin-top: 5px;
		}

		.bc_block_total_item_total {
				flex-direction: column;
				align-items: flex-end;
		}

		.bc_block_total_item_total span {
				font-size: 14px;
				line-height: 133.19%;
		}

		.calculator_block.total_cart .total_title {
				font-size: 20px;
				line-height: 125%;
		}

		.total_item .title {
				font-size: 16px;
				line-height: 133.19%;
				width: 100%;
				margin-bottom: 10px;
		}

		.total_item {
				flex-direction: column;
				align-items: flex-start;
		}

		.total_item.confirm .confirm_buttons {
				margin-top: 20px;
		}

		.total_item.confirm .confirm_buttons button {
				margin-left: 0;
				margin-right: 20px;
		}

		section.calculator_project h2 {
				font-size: 20px;
				line-height: 125%;
		}

		.total_service_position .total_service_right .item {
				flex-direction: column;
				width: 100%;
				align-items: flex-start;
		}

		.total_service_position .total_service_right .item .title {
				font-size: 16px;
				line-height: 133.19%;
		}

		.total_service_position .total_service_left p {
				font-size: 14px;
				line-height: 133.19%;
		}
}
@media only screen and (max-width: 450px) {
		.ad_checkbox_block .sc_checkbox_box button.sc_helper_button {
				top: 10px;
				right: 10px;
		}

		.ad_checkbox_block .sc_checkbox {
				min-height: auto;
		}

		.ad_checkbox_block .sc_checkbox .title {
				min-height: auto;
		}

		.total_item .title {
				font-size: 16px;
				line-height: 133.19%;
		}

		.total_item .price_button .price {
				font-size: 16px;
				line-height: 133.19%;
		}

		.total_item.confirm .confirm_buttons {
				margin-top: 10px;
		}

		.sc_checkbox_box .sc_helper_modal {
				width: 280px !important;
		}
}