.center_block
	section.need_help_v2
		.need_help_v2_item
			h3.title Остались вопросы?
			span Напишите нам на <a href="mailto:myemail@mydomain.ru">почту</a>, <a href="#" target="_blank">Telegram</a> или <a href="#" target="_blank">WhatsApp</a>
			span Или звоните - <a href="tel:84954142486">8 (495) 414-24-86</a>
		.need_help_v2_item
			img(src="pic/need-help-icon2.svg" alt="Остались вопросы? Давайте обсудим")
			span.dot.red
			span.dot.pale_blue


