.center_block
	section.services_footer_content
		h3.titl2 Проекты
		.owl-carousel#services_footer_content_slider
			.services_footer_content_slider_item
				a(href="#")
				.pic: img(src="pic/services-footer-c1.jpg" alt="Wellroom")
				span Wellroom
			.services_footer_content_slider_item
				a(href="#")
				.pic: img(src="pic/services-footer-c2.jpg" alt="Wellroom")
				span Wellroom
			.services_footer_content_slider_item
				a(href="#")
				.pic: img(src="pic/services-footer-c3.jpg" alt="Wellroom")
				span Wellroom

	section.services_blog
		h3.title Блог
		.services_blog_list
			.services_blog_item
				span.date 17 апреля 2020 г.
				a(href="#") Основные ошибки в разработке логотипа
				p Lorem ipsum dolor sit amet dolor sit amet lorem ipsum dolor sit amet dolor sit amet
			.services_blog_item
				span.date 23 марта 2020 г.
				a(href="#") 12 сервисов для старта бизнеса
				p Lorem ipsum dolor sit amet dolor sit amet lorem ipsum dolor sit amet dolor sit amet
			.services_blog_item
				span.date 16 апреля 2020 г.
				a(href="#") Брендинг - это эффективное самоопределение. А не логотип.
				p Lorem ipsum dolor sit amet dolor sit amet lorem ipsum dolor sit amet dolor sit amet

	section.need_help_v2
		.need_help_v2_item
			h3.title Остались вопросы? Давайте обсудим
			span Напишите нам на <a href="mailto:myemail@mydomain.ru">почту</a>, <a href="#" target="_blank">Telegram</a> или <a href="#" target="_blank">WhatsApp</a>
			span Или звоните - <a href="tel:84954142486">8 (495) 414-24-86</a>
		.need_help_v2_item
			img(src="pic/need-help-icon2.svg" alt="Остались вопросы? Давайте обсудим")
			span.dot.red
			span.dot.pale_blue


