.service_questions#service_questions_block
	button#service_questions_button
	.service_questions_block
		include ../modal/components/button-close-modal
		.title Вопросы о сервисе
		.service_questions_content

			<!-- SERVICE QUESTIONS ADMIN HAS LOGIN -->
			.service_questions_content_item.service_admin.has_login
				.service_questions_content_position
					.service_questions_icon: img(src="pic/message-icon1.jpg" alt="Анна")
					.service_questions_message
						.service_questions_title Анна
						.service_questions_text Здравствуйте! Как я могу вам помочь?
			.service_questions_content_item_timer.service_admin Отправлено 20:22
			<!-- SERVICE QUESTIONS ADMIN HAS LOGIN -->

			<!-- SERVICE QUESTIONS USER HAS LOGIN -->
			.service_questions_content_item.service_user.has_login
				.service_questions_content_position
					.service_questions_icon: img(src="pic/message-icon2.jpg" alt="Иван Иванов")
					.service_questions_message
						.service_questions_title Иван Иванов
						.service_questions_text Хотел узнать о статусе проекта
			.service_questions_content_item_timer.service_user Отправлено 20:22
			<!-- END SERVICE QUESTIONS USER HAS LOGIN -->

			<!-- SERVICE QUESTIONS ADMIN NO LOGIN -->
			.service_questions_content_item.service_admin.no_login
				.service_questions_content_position
					.service_questions_message
						.service_questions_text Здравствуйте! Как я могу вам помочь?
			.service_questions_content_item_timer.service_admin Отправлено 20:22
			<!-- END SERVICE QUESTIONS ADMIN NO LOGIN -->

			<!-- SERVICE QUESTIONS USER HAS LOGIN -->
			.service_questions_content_item.service_user.no_login
				.service_questions_content_position
					.service_questions_message
						.service_questions_text Хотел узнать о статусе проекта
			.service_questions_content_item_timer.service_user Отправлено 20:22
			<!-- END SERVICE QUESTIONS USER HAS LOGIN -->
		.service_questions_form
			form(action="")
				input(type="text" placeholder="Введите вопорс" value="" name="text")

