include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			include ../includes/content-pagination
			form
				.background.background_margin.content_form
					.information_drop.header_drop
						h1 Оцените ваш продукт по Value Grid
						button.information_drop_button_head: img(src="pic/help-icon-shadow.svg")
						.information_overlay_head
							.title Что это такое?
							p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
					.value_grid
						.value_grid_title_block
							p Дороже
							p Та же стоимость
							p Дешевле
						.value_grid_item
							.value_grid_title Меньше ценности
							.value_grid_block.red
								span.grid_block_line
								.information_drop
									p.subtitle Меньше за большее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p Это бренды, которые стараются в короткое время урвать хайп, или выдумывают несуществующие преимущества, потом как правило исчезают или становятся неконкурентоспособными. Не забывайте - ничего плохого в такой стратегии нет, так как это тоже стратегия.
										p Это бренды, которые стараются в короткое время урвать хайп, или выдумывают несуществующие преимущества, потом как правило исчезают или становятся неконкурентоспособными. Не забывайте - ничего плохого в такой стратегии нет, так как это тоже стратегия.
								p.title Пустые обещания
								button.button.white_button: span Выбрать
							.value_grid_block.red
								span.grid_block_line
								.information_drop
									p.subtitle Меньшее за ту же цену
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Несерьезно
								button.button.white_button: span Выбрать
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle Меньше за меньшее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Бюджетное предложение
								button.button.white_button: span Выбрать
						.value_grid_item
							.value_grid_title Та же ценность
							.value_grid_block.red
								span.grid_block_line
								.information_drop
									p.subtitle То же самое за большее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Бренд вспышка
								button.button.white_button: span Выбрать
							.value_grid_block.yellow.active
								span.grid_block_line
								.information_drop
									p.subtitle То же самое за ту же цену
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Паритетный игрок
								button.button.blue_button: span Выбрано
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle То же самое за меньшее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Ценностный раздажитель
								button.button.white_button: span Выбрать
						.value_grid_item
							.value_grid_title Та же ценность
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle Большее за большее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Премиум
								button.button.white_button: span Выбрать
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle Больше за ту же цену
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Ценностный лидер
								button.button.white_button: span Выбрать
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle Больше за меньшее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Взлом ценностей
								button.button.white_button: span Выбрать
				.background.background_margin.content_form
					.content_small_width
						h2 Оцените ваш продукт/услугу относительно конкурентов и категории
						.form_input(style="width: 100%; margin-top: 50px; margin-bottom: 10px")
							span.subtitle Ваш продукт относительно конкурентов и категории
							select(name="competitors_categories")
								option(value="Москва") Москва
								option(value="Тула") Тула
								option(value="Санкт Петербург") Санкт Петербург
								option(value="Москва") Москва
								option(value="Тула") Тула
								option(value="Санкт Петербург") Санкт Петербург
						.form_input(style="width: 100%; margin-top: 50px; margin-bottom: 10px")
							span.subtitle Чем лучше
							select(name="the_better")
								option(value="Москва") Москва
								option(value="Тула") Тула
								option(value="Санкт Петербург") Санкт Петербург
								option(value="Москва") Москва
								option(value="Тула") Тула
								option(value="Санкт Петербург") Санкт Петербург
						.form_input(style="margin-top: 48px")
							textarea(name="than_describe" placeholder="Чем? Опишите.")
					.content_button.center.justify.button_margin.success_brief
						button.button.white_button(style="width: 200px") Пропустить
						button.button.blue_button(style="width: 200px") Далее
		include ../includes/footer
