include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			.content_pagination
				a.back_button(href="#")
					img(src="pic/pagination-back.svg")
					span Назад
			.background.background_margin.content_form
				h1 Укажите тип договора
				.content_button.button_margin.position_justify
					button.button.blue_button(style="width: 300px") Договор с физ. лицом
					button.button.white_button(style="width: 300px") Договор с юр. лицом
			.background.background_margin.content_form
				form(style="width: 760px")
					h2 Заполните реквизиты
					.input_form_item.with_button
						span.title Инн*
						input(name="inn")
						button.button.blue_button Проверить
					.input_form_item
						span.title Название компании
						input(name="company_name")
					.input_form_item
						span.title Юридический адрес
						input(name="legal_address")
					.input_form_item
						span.title Почтовый адрес
						input(name="mailing_address")
					.input_form_item
						span.title ИНН
						input(name="inn_text")
					.input_form_item
						span.title КПП
						input(name="kpp")
					.input_form_item
						span.title ОГРН
						input(name="ogrn")
					.input_form_item
						span.title ОКТМО
						input(name="oktmo")
					.input_form_item
						span.title ОКВЭД
						input(name="okved")
					.input_form_item
						span.title Банк
						input(name="bank")
					.input_form_item
						span.title Рассчетный счет (Р/С)
						input(name="settlement_account")
					.input_form_item
						span.title Корреспондентский счет (К/С)
						input(name="correspondent_account")
					.input_form_item
						span.title БИК
						input(name="bik")
					.content_button.center: button.button.blue_button(style="width: 264px;") Продолжить
		include ../includes/footer
