include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			include ../includes/content-pagination
			.background.background_margin.content_form
				.information_drop.header_drop
					h1 Целевая аудитория
					button.information_drop_button_head: img(src="pic/help-icon-shadow.svg")
					.information_overlay_head
						.title Что это такое?
						p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
				.content_button.button_margin.position_justify
					button.button.white_button(style="width: 300px") Настроить самостоятельно
					button.button.blue_button(style="width: 300px") Выбрать из готового
			.background.background_margin.content_form
				h2 Психографика
				form
					.photo_input_list
						.photo_input
							.photo_top
								.photo: img(src="pic/ps1.jpg")
								p Традиционалисты
								p.graphics Другими словами - консерваторы. Не приемлют инновации, слабо вовлекаются в нюансы и тонкости, знают о товарах и брендах поверхностно, тяжело меняют точку зрения, не любят платить за добавленную ценность
							button.button.white_button Выбрать
						.photo_input
							.photo_top
								.photo: img(src="pic/ps2.jpg")
								p Стремящиеся
								p.graphics Их так же называют имитаторы. Стараются копировать поведение авторитетных групп, ориентируются на общественное мнение, демонстративно потребляют, важен имидж и известность марки, престиж и другие общественно одобряемые параметры
							button.button.blue_button Выбрано
						.photo_input
							.photo_top
								.photo: img(src="pic/ps3.jpg")
								p Обыватели
								p.graphics Пассивные покупатели, не вникающие в продукт глубоко, не умеют оценивать качество, часто "жертвы маркетинговых уловок", оперируют стереотипами, чужим мнением, при этом, не разбираясь в теме по-настоящему, часто изучают отзывы. Подвержены влиянию известности марки в первую очередь
							button.button.white_button Выбрать
						.photo_input
							.photo_top
								.photo: img(src="pic/ps4.jpg")
								p Выживающие
								p.graphics Главное для этого сегмента - цена товара. При чем, зачастую это форма привычки - искать самую низкую цену. В силу низкого дохода, не сильно вникают в вопросы соотношения "цена-качество", не редко покупают осознанно товары с заниженным качеством, понимая, что это равно снижение цены
							button.button.white_button Выбрать
						.photo_input
							.photo_top
								.photo: img(src="pic/ps5.jpg")
								p Беззаботные
								p.graphics Живут полной жизнью, относительно независимые и самобытные, потребляют то, что нравится по совокупности параметров, имеют мало потребительских страхов, как из-за незнания, так и из-за эмоциональности выбора
							button.button.white_button Выбрать
						.photo_input
							.photo_top
								.photo: img(src="pic/ps6.jpg")
								p Новаторы
								p.graphics В первых рядах потребления новинок, как правило вовлекаются в категорию и продукт достаточно глубоко, разбираются во всем хорошо, следят за трендами, задают тренды, важно быть первым, важно делать лучший выбор из возможного
							button.button.white_button Выбрать
						.photo_input
							.photo_top
								.photo: img(src="pic/ps7.jpg")
								p Благополучные
								p.graphics Как правило, покупая товары балуют или награждают себя или близких, демонстрируют успех, имеют стабильность, но при этом, могут быть не вовлечены или мало знать об особенностях товаров - главное внешняя оболочка и коды успешности, высокого качества
							button.button.white_button Выбрать
						.photo_input
							.photo_top
								.photo: img(src="pic/ps8.jpg")
								p Достигшие успеха
								p.graphics Это не обязательно богатые люди - данный сегмент это в целом те, кто самодостаточен и добился определенного признания, авторитета, статуса, вне зависимости от дохода. Они закрыли главные жизненные гештальты, и живут размеренно, спокойно, что позволяет им потреблять разные бренды, но всегда после тщательного анализа, вдумчиво и осознанно. Ценят истинное качество
							button.button.white_button Выбрать

					.content_flex_center
						.content_button.center: button.button.white_button(style="width: 300px;") Другая классификация
						.information_drop.header_drop.need_help_link_drop
							button.information_drop_button_head: img(src="pic/help-icon-shadow.svg")
							a(href="#") нужна подсказка?
							.information_overlay_head
								.title Что это такое?
								p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
						.content_button.button_margin.position_justify
								button.button.white_button(style="width: 200px") Пропустить
								button.button.blue_button(style="width: 200px") Далее
		include ../includes/footer
