include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block.center
			.pic: img(src="pic/breif-1.png" alt="Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.")
			h1 Amet minim mollit non deserunt ullamco est<br/>sit aliqua dolor do amet sint.
			.content_button.center: a.button.blue_button(href="#") Перейти к следующему шагу
		include ../includes/footer
