include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.modal_block.modal_active
			.modal
				.center_block_content
					p.subtitle Меньше за большее
					p.modal_title_big Пустые обещания
					.modal_logos_grid
						.grid_item
							img(src="pic/nike.jpg" alt="logo title")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci egestas amet, pellentesque cursus enim eget volutpat. Arcu sollicitudin tincidunt malesuada a feugiat.
						.grid_item
							img(src="pic/nike.jpg" alt="logo title")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci egestas amet, pellentesque cursus enim eget volutpat. Arcu sollicitudin tincidunt malesuada a feugiat.
						.grid_item
							img(src="pic/nike.jpg" alt="logo title")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci egestas amet, pellentesque cursus enim eget volutpat. Arcu sollicitudin tincidunt malesuada a feugiat.
						.grid_item
							img(src="pic/nike.jpg" alt="logo title")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci egestas amet, pellentesque cursus enim eget volutpat. Arcu sollicitudin tincidunt malesuada a feugiat.

					button.button.blue_button(style="margin-top: 44px") Закрыть
			.modal_overlay
		include ../includes/footer
