include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block.center
			.pic: img(src="pic/breif-1.png" alt="Ты молодец! Отлично справляемся! Бренд будет просто бомба!")
			h1 Ты молодец! Отлично справляемся!<br/>Бренд будет просто бомба!
			.content_button.center: a.button.blue_button(href="#") Перейти к следующему шагу
		include ../includes/footer
