include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block.center
			.pic: img(src="pic/breif-1.png" alt="Ура! Первый шаг сделан, вы на шаг ближе к бренду мечты")
			h1 Ура! Первый шаг сделан, вы на шаг<br/>ближе к бренду мечты
			.content_button.center: a.button.blue_button(href="#") Перейти к следующему шагу
		include ../includes/footer
