include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			.position_justify
				.content_item
					h1 Рождение бренда<br/>трепетный процесс!
					p Впред, заполняйте наш смарт бриф и забудьте обо всем!
				.content_item: img(src="pic/hello-hand.jpg" alt="Рождение бренда трепетный процесс!")
			.content_grid_items
				.item
					p делайте перерывы
					p Вы можете заполнять частично, в несколько подходов, система все сохраняет
				.item
					p используйте подсказки
					p Если что-то сложно, незнакомо или непонятно, система всегда имеет подсказки. Обращайте внимание на такие значки
				.item
					p не стесняйтесь
					p Заполняя бриф максимально подробно, вы помогаете стратегами дизайнерам,и создаете свой бренд своими руками
			.content_button.center: a.button.blue_button(href="#") Начать заполнение
		include ../includes/footer
