include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			.content_pagination
				a.back_button(href="#")
					img(src="pic/pagination-back.svg")
					span Назад
			.background.background_margin.content_form
				h1 Укажите тип договора
				.content_button.button_margin.position_justify
					button.button.blue_button(style="width: 300px") Договор с физ. лицом
					button.button.white_button(style="width: 300px") Договор с юр. лицом
			.background.background_margin.content_form
				h2 Заполните реквизиты
				form(style="width: 760px")
					.input_form_item.with_button
						span.title ИНН*
						input(name="inn" placeholder="8173176412401927")
						button.button.blue_button Проверить
		include ../includes/footer
