include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			include ../includes/content-pagination
			.background.background_margin.content_form
				h1 Укажите тип договора
				.content_button.button_margin.position_justify
					button.button.white_button(style="width: 300px") Договор с физ. лицом
					button.button.white_button(style="width: 300px") Договор с юр. лицом
		include ../includes/footer
