include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			include ../includes/content-pagination
			form
				.background.background_margin.content_form
					.information_drop.header_drop
						h1 Оцените ваш продукт по Value Grid
						button.information_drop_button_head: img(src="pic/help-icon-shadow.svg")
						.information_overlay_head
							.title Что это такое?
							p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
					.value_grid
						.value_grid_title_block
							p Дороже
							p Та же стоимость
							p Дешевле
						.value_grid_item
							.value_grid_title Меньше ценности
							.value_grid_block.red
								span.grid_block_line
								.information_drop
									p.subtitle Меньше за большее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Пустые обещания
								button.button.white_button: span Выбрать
							.value_grid_block.red
								span.grid_block_line
								.information_drop
									p.subtitle Меньшее за ту же цену
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Несерьезно
								button.button.white_button: span Выбрать
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle Меньше за меньшее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Бюджетное предложение
								button.button.white_button: span Выбрать
						.value_grid_item
							.value_grid_title Та же ценность
							.value_grid_block.red
								span.grid_block_line
								.information_drop
									p.subtitle То же самое за большее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Бренд вспышка
								button.button.white_button: span Выбрать
							.value_grid_block.yellow.active
								span.grid_block_line
								.information_drop
									p.subtitle То же самое за ту же цену
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Паритетный игрок
								button.button.blue_button: span Выбрано
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle То же самое за меньшее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Ценностный раздажитель
								button.button.white_button: span Выбрать
						.value_grid_item
							.value_grid_title Та же ценность
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle Большее за большее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Премиум
								button.button.white_button: span Выбрать
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle Больше за ту же цену
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Ценностный лидер
								button.button.white_button: span Выбрать
							.value_grid_block.green
								span.grid_block_line
								.information_drop
									p.subtitle Больше за меньшее
									button.information_drop_button: img(src="pic/help-icon-shadow.svg")
									.information_overlay
										.title Что это такое?
										p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
								p.title Взлом ценностей
								button.button.white_button: span Выбрать
				.background.background_margin.content_form
					.content_small_width
						h2 Оцените ваш продукт/услугу относительно конкурентов и категории
						.form_input(style="width: 100%; margin-top: 50px; margin-bottom: 10px")
							span.subtitle Ваш продукт относительно конкурентов и категории
							select(name="competitors_categories")
								option(value="Москва") Москва
								option(value="Тула") Тула
								option(value="Санкт Петербург") Санкт Петербург
								option(value="Москва") Москва
								option(value="Тула") Тула
								option(value="Санкт Петербург") Санкт Петербург
						.form_input(style="width: 100%; margin-top: 50px; margin-bottom: 10px")
							span.subtitle Чем лучше
							select(name="the_better")
								option(value="Москва") Москва
								option(value="Тула") Тула
								option(value="Санкт Петербург") Санкт Петербург
								option(value="Москва") Москва
								option(value="Тула") Тула
								option(value="Санкт Петербург") Санкт Петербург
						.form_input(style="margin-top: 48px")
							textarea(name="than_describe" placeholder="Чем? Опишите.")
				.background.background_margin.content_form
					h2 Оцените себя по продуктовым параметрам
					.rating_box
						.rating_item
							p.title Органолептика
							.buttons_list
								button 1
								button 2
								button 3
								button 4
								button 5
								button 6
								button 7
								button 8
								button.active 9
								button 10
						.rating_item
							p.title Пищевая ценность
							.buttons_list
								button 1
								button 2
								button 3
								button 4
								button 5
								button 6
								button.active 7
								button 8
								button 9
								button 10
						.rating_item
							p.title Performance
							.buttons_list
								button 1
								button 2
								button 3
								button 4
								button 5
								button.active 6
								button 7
								button 8
								button 9
								button 10
						.rating_item
							p.title Безопасность
							.buttons_list
								button 1
								button 2
								button 3
								button 4
								button 5
								button 6
								button.active 7
								button 8
								button 9
								button 10
						.rating_item
							p.title Стабильность качества
							.buttons_list
								button 1
								button 2
								button 3
								button 4
								button 5
								button 6
								button.active 7
								button 8
								button 9
								button 10
				.background.background_margin.content_form
					h2 Характер бренда
					.gray_slider_position
						.gray_slider
							span.title.first Современный
							.input: input(type="text" data-min="0" data-max="100" class="js-range-slider" name="brand_character1" value="")
							span.title.last Традиционный
						.gray_slider
							span.title.first Доступный
							.input: input(type="text" data-min="0" data-max="100" class="js-range-slider" name="brand_character2" value="")
							span.title.last Дорогой
						.gray_slider
							span.title.first Локальный
							.input: input(type="text" data-min="0" data-max="100" class="js-range-slider" name="brand_character3" value="")
							span.title.last Глобальный
						.gray_slider
							span.title.first Яркий
							.input: input(type="text" data-min="0" data-max="100" class="js-range-slider" name="brand_character4" value="")
							span.title.last Спокойный
						.gray_slider
							span.title.first Эмоциональный
							.input: input(type="text" data-min="0" data-max="100" class="js-range-slider" name="brand_character5" value="")
							span.title.last Рациональный
						.gray_slider
							span.title.first Эксклюзивный
							.input: input(type="text" data-min="0" data-max="100" class="js-range-slider" name="brand_character6" value="")
							span.title.last Массовый
						.gray_slider
							span.title.first Промышленный
							.input: input(type="text" data-min="0" data-max="100" class="js-range-slider" name="brand_character7" value="")
							span.title.last Крафтовый
						.gray_slider
							span.title.first Городской
							.input: input(type="text" data-min="0" data-max="100" class="js-range-slider" name="brand_character8" value="")
							span.title.last Сельский
				.background.background_margin.content_form
					h2 Ассоциативный ряд
					.custom_checkbox_title.first_item Животное
					.custom_checkbox.motiv_grid
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="animal")
								span.fire_icon
								img(src="pic/as1.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="animal")
								span
								img(src="pic/as2.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="animal")
								span
								img(src="pic/as3.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="animal")
								span
								img(src="pic/as4.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="animal")
								span
								img(src="pic/as5.jpg")
					.custom_checkbox_title Авто
					.custom_checkbox.motiv_grid
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="auto")
								span
								img(src="pic/as6.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="auto")
								span
								img(src="pic/as7.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="auto")
								span
								img(src="pic/as8.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="auto")
								span
								img(src="pic/as9.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="auto")
								span
								img(src="pic/as10.jpg")
					.custom_checkbox_title Архитектура
					.custom_checkbox.motiv_grid
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="architecture")
								span
								img(src="pic/as11.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="architecture")
								span
								img(src="pic/as12.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="architecture")
								span
								img(src="pic/as13.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="architecture")
								span
								img(src="pic/as14.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="architecture")
								span
								img(src="pic/as15.jpg")
					.custom_checkbox_title Fashion
					.custom_checkbox.motiv_grid
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="fashion")
								span
								img(src="pic/as16.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="fashion")
								span
								img(src="pic/as17.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="fashion")
								span
								img(src="pic/as18.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="fashion")
								span
								img(src="pic/as19.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="fashion")
								span
								img(src="pic/as20.jpg")
					.custom_checkbox_title Растение
					.custom_checkbox.motiv_grid
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="plant")
								span
								img(src="pic/as21.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="plant")
								span
								img(src="pic/as22.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="plant")
								span
								img(src="pic/as23.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="plant")
								span
								img(src="pic/as24.jpg")
						.custom_checkbox_item_motiv
							label.grid_category_item
								input(type="radio" name="plant")
								span
								img(src="pic/as25.jpg")
					.content_button.center.justify.button_margin.success_brief
						button.button.white_button(style="width: 200px") Пропустить
						button.button.blue_button(style="width: 200px") Далее
		include ../includes/footer
