include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			include ../includes/content-pagination
			.background.background_margin.content_form
				h1 Укажите тип договора
				.content_button.button_margin.position_justify
					button.button.blue_button(style="width: 300px") Договор с физ. лицом
					button.button.white_button(style="width: 300px") Договор с юр. лицом
			.background.background_margin.content_form
				h2 Заполните реквизиты
				form(style="width: 760px")
					.input_form_item
						span.title ФИО*
						input(name="fio")
					.input_form_item
						span.title Номер телефона
						input(name="phone")
					.input_form_double
						.input_form_item
							span.title Серия номер паспорта
							input(name="passport")
						.input_form_item
							span.title Дата выдачи
							input(name="data")
					.input_form_item
						span.title Кем выдан
						input(name="issued_by")
					.input_form_item
						span.title Адрес
						input(name="adress")
					.content_button.center: button.button.blue_button(style="width: 264px;") Продолжить
		include ../includes/footer
