include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			include ../includes/content-pagination
			form
				.background.background_margin.content_form
					h1 Дополнительная информация
					.additional_information
						.item.like
							span.title Дизайн который нравится
							span.content Добавьте ссылки/файлы на то, что Вам нравится
							.form_input_files
								.file_item
									p Filename.pdf
									button.button.white_button: span: img(src="pic/delete-file-icon.svg" alt="Удалить")
							.form_input
								input(placeholder="Вставить ссылку")
								button.button.blue_button
									img(src="pic/link-icon.svg" alt="Прикрепить")
									span Прикрепить
							.form_upload
								input(type="file")
								button.button.blue_button
									img(src="pic/file-icon.svg" alt="Прикрепить файл")
									span Прикрепить файл
						.item.dislike
							span.title Дизайн который нравится
							span.content Добавьте ссылки/файлы на то, что Вам нравится
							.form_input_files
								.file_item
									p Filename.pdf
									button.button.white_button: span: img(src="pic/delete-file-icon.svg" alt="Удалить")
								.file_item
									p Filename.pdf
									button.button.white_button: span: img(src="pic/delete-file-icon.svg" alt="Удалить")
							.form_input
								input(placeholder="Вставить ссылку")
								button.button.red_button
									img(src="pic/link-icon.svg" alt="Прикрепить")
									span Прикрепить
							.form_upload
								input(type="file")
								button.button.red_button
									img(src="pic/file-icon.svg" alt="Прикрепить файл")
									span Прикрепить файл
					.additional_information_more
						.form_element_breif(style="margin-top: 20px")
							textarea(name="additional_information" placeholder="Дополнительная информация")
						.form_input_files
							.file_item
								p Filename.pdf
								button.button.white_button: span: img(src="pic/delete-file-icon.svg" alt="Удалить")
							.file_item
								p Filename.pdf
								button.button.white_button: span: img(src="pic/delete-file-icon.svg" alt="Удалить")
						.form_upload
							input(type="file")
							button.button.blue_button
								img(src="pic/file-icon.svg" alt="Прикрепить файл")
								span Прикрепить файл
						.form_input_files
							.file_item
								p Audio Note.aac
								button.button.white_button: span: img(src="pic/delete-file-icon.svg" alt="Удалить")
						.record_file_mic
							button
								.button_icon: img(src="pic/mic-icon.svg")
								p
									span Записать голосовую заметку
									span Предварительно разрешите сайту доступ к микрофону
						.content_button.button_margin.position_justify
							button.button.blue_button(style="width: 370px")
								img(src="pic/call-icon.svg" alt="Заказать звонок")
								span Заказать звонок
							button.button.blue_button(style="width: 370px")
								img(src="pic/chat-icon.svg" alt="Чат с специалистом")
								span Чат с специалистом
				.content_button.center.justify.button_margin.success_brief
					button.button.blue_button(style="width: 299px") Завершить заполнение брифа
		include ../includes/footer
