include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			include ../includes/content-pagination
			.background.background_margin.content_form
				form
					h1 Выберите категорию бизенса:
					.custom_checkbox
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat1.png")
								.cat_image_active: img(src="pic/category_active/cat1.png")
							p Еда и напитки
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat2.png")
								.cat_image_active: img(src="pic/category_active/cat2.png")
							p HoReCa
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat3.png")
								.cat_image_active: img(src="pic/category_active/cat3.png")
							p Сервисы и технологии
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat4.png")
								.cat_image_active: img(src="pic/category_active/cat4.png")
							p Производство и промышленность
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat5.png")
								.cat_image_active: img(src="pic/category_active/cat5.png")
							p Профессиональные услуги
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat6.png")
								.cat_image_active: img(src="pic/category_active/cat6.png")
							p Бытовая химия
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat7.png")
								.cat_image_active: img(src="pic/category_active/cat7.png")
							p Бьюти
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat8.png")
								.cat_image_active: img(src="pic/category_active/cat8.png")
							p Хозяйственные товары
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat9.png")
								.cat_image_active: img(src="pic/category_active/cat9.png")
							p Мода и одежда
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat10.png")
								.cat_image_active: img(src="pic/category_active/cat10.png")
							p Искусство и культура
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat11.png")
								.cat_image_active: img(src="pic/category_active/cat11.png")
							p Некоммерческие проекты
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat12.png")
								.cat_image_active: img(src="pic/category_active/cat12.png")
							p Девеломпент
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat13.png")
								.cat_image_active: img(src="pic/category_active/cat13.png")
							p Логистика и транспорт
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat14.png")
								.cat_image_active: img(src="pic/category_active/cat14.png")
							p Личный бренд
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat15.png")
								.cat_image_active: img(src="pic/category_active/cat15.png")
							p Развлечения
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat16.png")
								.cat_image_active: img(src="pic/category_active/cat16.png")
							p Наука и образование
							button.button.button_white: span Выбрать
					.what_product
						h2 ...что то другое?
						.form_input(style="width: 758px")
							textarea(name="what_product" placeholder="Sample Title")
					.content_button.center: button.button.blue_button(style="width: 200px;") Далее
		include ../includes/footer
