include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			include ../includes/content-pagination
			.background.background_margin.content_form
				.information_drop.header_drop
					h1 Целевая аудитория
					button.information_drop_button_head: img(src="pic/help-icon-shadow.svg")
					.information_overlay_head
						.title Что это такое?
						p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
				.content_button.button_margin.position_justify
					button.button.white_button(style="width: 300px") Настроить самостоятельно
					button.button.blue_button(style="width: 300px") Выбрать из готового
			.background.background_margin.content_form
				h2 Психографика
				.loading_content
					img(src="pic/breif-1.png" alt="Подбираем наиболее подходящую аудиторию...")
					p Подбираем наиболее подходящую аудиторию...
				.content_flex_center
					.content_button.center: button.button.white_button(style="width: 300px;") Другая классификация
					.information_drop.header_drop.need_help_link_drop
						button.information_drop_button_head: img(src="pic/help-icon-shadow.svg")
						a(href="#") нужна подсказка?
						.information_overlay_head
							.title Что это такое?
							p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.

					.content_button.center: button.button.white_button(style="width: 200px;") Пропустить
		include ../includes/footer
