include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			include ../includes/content-pagination
			.background.background_margin.content_form
				.information_drop.header_drop
					h1 Целевая аудитория
					button.information_drop_button_head: img(src="pic/help-icon-shadow.svg")
					.information_overlay_head
						p Что это такое?
						p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
				.content_button.button_margin.position_justify
					button.button.white_button(style="width: 300px") Настроить самостоятельно
					button.button.white_button(style="width: 300px") Выбрать из готового
			.background.background_margin.content_form.what_product
				.information_drop.header_drop
					h2(style="margin-bottom: 0")  Соц. дем
					button.information_drop_button_head: img(src="pic/help-icon-shadow.svg")
					.information_overlay_head
						.title Что это такое?
						p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
				.content_button.button_margin.position_justify
					button.button.blue_button(style="width: 300px") Настроить самостоятельно
					button.button.white_button(style="width: 300px") Выбрать из готового
				form
					.form_element_breif
						span.title Пол
						.buttons_inline_flex
							.button_group_breif
								button.active М
								button Ж
								button Оба
								button Неважно
					.form_element_breif
						span.title Доход (на человека в месяц в семье)
						.rainbow_slider
							input(type="text" data-min="12500" data-max="150000" class="js-range-slider" name="income" value="")
							.rainbow_slider_title_position
								.item
									span Низкий
									span от 12 500 ₽/мес
								.item
									span Средний
								.item
									span Высокий
									span более 150 000 ₽/мес
					.form_element_breif
						span.title Возраст
						.blue_slider
							input(type="text" data-type="double" data-min="10" data-max="70" class="js-range-slider" name="age" value="")
							.blue_slider_position
								span 10
								span 25
								span 40
								span 55
								span 70
					.form_element_breif
						span.title Дети
						.buttons_inline_flex
							.button_group_breif
								button.active Есть
								button Нет
								button Неважно
					.form_element_breif
						.information_drop.header_drop.span_drop
							span.title Потребительское поведение
							button.information_drop_button: img(src="pic/help-icon-shadow.svg")
							.information_overlay
								p Что это такое?
								p The value grid model was proposed as a means to show that the way firms compete has shifted away from the linear value chain way management theory has traditionally thought about value chain management.
						.consumer_behavior
							input(name="consumer_behavior" value="1")#consumer_input
							#consumer_behavior_image: img(src="pic/consumer1.png")
							.consumer_behavior_buttons
								button(data="consumer1" value="1").active Трендсеттеры
								button(data="consumer2" value="2") Последователи
								button(data="consumer3" value="3") Консерваторы
					.form_element_breif(style="margin-top: 20px")
						span.title Дополнительная информация
						textarea(name="additional_information" placeholder="Дополнительная информация")
			.background.background_margin.content_form.what_product
				h2 Мотивы потребления
				.breif_card_position
					.breif_card_item
						.breif_card_item_pic: img(src="pic/motiv1.jpg" alt="Безопасность")
						p Безопасность
						p.content Те, кто боится купить некачественное
						button.button.blue_button Выбрано
					.breif_card_item
						.breif_card_item_pic: img(src="pic/motiv2.jpg" alt="Безопасность")
						p Полнота жизни
						p.content Те, кто хочет получить максимум вкуса, аромата, пользы и т.п
						button.button.white_button Выбрать
					.breif_card_item
						.breif_card_item_pic: img(src="pic/motiv3.jpg" alt="Безопасность")
						p Контроль
						p.content Те, кому важно знать все о продукте и производителе
						button.button.white_button Выбрать
					.breif_card_item
						.breif_card_item_pic: img(src="pic/motiv4.jpg" alt="Безопасность")
						p Лидерство
						p.content Те, кому важно покупать лучшее
						button.button.blue_button Выбрано
					.breif_card_item
						.breif_card_item_pic: img(src="pic/motiv5.jpg" alt="Безопасность")
						p Единение
						p.content Кому важно потреблять как все, не выделяться, быть частью некоего социума
						button.button.white_button Выбрать
					.breif_card_item
						.breif_card_item_pic: img(src="pic/motiv6.jpg" alt="Безопасность")
						p Изменения
						p.content Те, кто покупая продукт хотят что-то поменять в себе, в жизни, в рационе, пробовать новое и т.п.
						button.button.white_button Выбрать
				.content_button.button_margin.position_justify
					button.button.white_button(style="width: 200px") Пропустить
					button.button.blue_button(style="width: 200px") Далее

		include ../includes/footer
