include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			include ../includes/content-pagination
			form
				.background.background_margin.content_form

					h1 Выберите категорию бизенса:
					.custom_checkbox
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat1.png")
								.cat_image_active: img(src="pic/category_active/cat1.png")
							p Еда и напитки
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat2.png")
								.cat_image_active: img(src="pic/category_active/cat2.png")
							p HoReCa
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat3.png")
								.cat_image_active: img(src="pic/category_active/cat3.png")
							p Сервисы и технологии
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat4.png")
								.cat_image_active: img(src="pic/category_active/cat4.png")
							p Производство и промышленность
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat5.png")
								.cat_image_active: img(src="pic/category_active/cat5.png")
							p Профессиональные услуги
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat6.png")
								.cat_image_active: img(src="pic/category_active/cat6.png")
							p Бытовая химия
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat7.png")
								.cat_image_active: img(src="pic/category_active/cat7.png")
							p Бьюти
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat8.png")
								.cat_image_active: img(src="pic/category_active/cat8.png")
							p Хозяйственные товары
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat9.png")
								.cat_image_active: img(src="pic/category_active/cat9.png")
							p Мода и одежда
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat10.png")
								.cat_image_active: img(src="pic/category_active/cat10.png")
							p Искусство и культура
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat11.png")
								.cat_image_active: img(src="pic/category_active/cat11.png")
							p Некоммерческие проекты
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat12.png")
								.cat_image_active: img(src="pic/category_active/cat12.png")
							p Девеломпент
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat13.png")
								.cat_image_active: img(src="pic/category_active/cat13.png")
							p Логистика и транспорт
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat14.png")
								.cat_image_active: img(src="pic/category_active/cat14.png")
							p Личный бренд
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat15.png")
								.cat_image_active: img(src="pic/category_active/cat15.png")
							p Развлечения
							button.button.button_white: span Выбрать
						.custom_checkbox_item
							label.grid_category_item
								input(type="checkbox" name="business_category")
								.cat_image: img(src="pic/category/cat16.png")
								.cat_image_active: img(src="pic/category_active/cat16.png")
							p Наука и образование
							button.button.button_white: span Выбрать
					.what_product
						h2 ...что то другое?
						.form_input(style="width: 758px")
							textarea(name="what_product" placeholder="Sample Title")
					.content_button.center: button.button.blue_button(style="width: 200px;") Далее
				.background.background_margin.content_form.what_product
					h2 Опишите продукт
					.form_input(style="width: 758px")
						span.subtitle Что у вас за продукт
						textarea(name="what_product" placeholder="Sample Title")
				.background.background_margin.content_form.what_product

					h2 Чем мы можем помочь?
					.select_one_block
						.select_one_block_item
							label.select_one_category_item
								input(type="radio" checked=true name="business_category")
								.cat_image: img(src="pic/h_icon1.svg")
								.cat_image_active: img(src="pic/h_icon1_active.svg")
							p Новый бренд
							button.button.button_blue: span Выбрано
						.select_one_block_item
							label.select_one_category_item
								input(type="radio" name="business_category")
								.cat_image: img(src="pic/h_icon2.svg")
								.cat_image_active: img(src="pic/h_icon2_active.svg")
							p Ребрендинг
							button.button.button_white: span Выбрать
						.select_one_block_item
							label.select_one_category_item
								input(type="radio" name="business_category")
								.cat_image: img(src="pic/h_icon3.svg")
								.cat_image_active: img(src="pic/h_icon3_active.svg")
							p Расширение
							button.button.button_white: span Выбрать

				.background.background_margin.content_form.what_product
					h2 Есть ли у вас название бренда?
					.content_button.center.justify.button_margin.success_brief
						button.button.blue_button Да
						button.button.white_button Нет
					.form_input(style="width: 758px")
						span.subtitle Укажите название
						input(name="brand_title" placeholder="Sample Title")
				.background.background_margin.content_form.what_product
					h2 География присутствия бренда
					.select_one_block
						.select_one_block_item
							label.select_one_category_item
								input(type="radio" checked=true name="geography")
								.cat_image: img(src="pic/geography_icon1.svg")
								.cat_image_active: img(src="pic/geography_icon1_active.svg")
							p Локальный бренд
							button.button.button_blue: span Выбрано
						.select_one_block_item
							label.select_one_category_item
								input(type="radio" name="geography")
								.cat_image: img(src="pic/geography_icon2.svg")
								.cat_image_active: img(src="pic/geography_icon2_active.svg")
							p Федеральный бренд
							button.button.button_white: span Выбрать
						.select_one_block_item
							label.select_one_category_item
								input(type="radio" name="geography")
								.cat_image: img(src="pic/geography_icon3.svg")
								.cat_image_active: img(src="pic/geography_icon3_active.svg")
							p Международный бренд
							button.button.button_white: span Выбрать
					.form_input(style="width: 100%; margin-top: 50px; margin-bottom: 10px")
						select(name="region")
							option(value="Москва") Москва
							option(value="Тула") Тула
							option(value="Санкт Петербург") Санкт Петербург
							option(value="Москва") Москва
							option(value="Тула") Тула
							option(value="Санкт Петербург") Санкт Петербург

					.content_button.center.justify.button_margin.success_brief
						button.button.white_button(style="width: 200px") Неважно
						button.button.blue_button(style="width: 200px") Далее

		include ../includes/footer
