include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.modal_block.modal_active
			.modal
				.center_block_content
					.modal_pic: img(src="pic/breif-1.png" alt="Sample Title")
					p.title Sample Title
					p.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nullam aliquam consectetur consectetur ultricies molestie tincidunt massa phasellus. Neque mauris, id ornare orci enim. Potenti aliquam volutpat porttitor a. Odio elementum semper tempus, odio facilisis tellus.
					button.button.blue_button(style="margin-top: 44px") Закрыть
			.modal_overlay
		include ../includes/footer
