include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block.center
			.pic: img(src="pic/breif-1.png" alt="Много пропущено, будет сложно, но мы справимся!")
			h1 Много пропущено, будет сложно,<br/>но мы справимся!
			.content_button.center: a.button.blue_button(href="#") Перейти к следующему шагу
		include ../includes/footer
