include ../includes/head
body
	section.full_height_position.center_block
		include ../includes/header
		.content_block
			.background.center
				.pic: img(src="pic/breif-1.png" alt="Бриф Завершен!")
				h1.success_brief Бриф Завершен!
				.content_button.center.justify.button_margin.success_brief
					button.button.blue_button
						img(src="pic/b-send.svg" alt="Отправить в работу")
						span Отправить в работу
					button.button.white_button
						img(src="pic/b-edit.svg" alt="Редактировать")
						span Редактировать
			.content_button.center: a(href="#").button.blue_button Создать ещё один бриф
		include ../includes/footer
