include ../includes/head
include ../mixins/buttons/button-round
include ../mixins/buttons/button-blue
include ../mixins/links/link-button-blue
include ../mixins/links/link-button-round
include ../mixins/components/project-item
include ../mixins/components/main-infographics-counter-image
include ../mixins/components/important-budget-item
include ../mixins/components/important-budget-item-new-price

body.body_blue.template1
	include ../includes/header
	.wrapped_block
		.center_block
			section.main_title
				h1.title#header_title
					span Бренд
					span  мечты,
					span <br/>а не
					span  мечты
					span <br/>о бренде!
				.main_title_position
					.subtitle Наконец-то создание бренда автоматизировано и превращено в удобный, современный и приятный сервис, без потери качества и эффективности!
					+button_round('main_video_popup', 'Нет времени читать?', 'Посмотрите как это круто', 'pic/play-button.svg')
				.try_now_button: +link_button_blue('try_now_link', 'Попробовать сейчас же', 'try-now')

		// Блок слогана
		.slogan_box
			#slogan_box_round
			span Brand Hub  переосмыслил процесс заказа и создания бренда. Теперь вместо затратного и  сложного процесса, вы получаете  легко управляемый инструмент  с простыми и эффективными  решениями.

		section.main_presentation_slider
			.center_block
				.main_presentation_slider_position
					h2.title Уже создано и приносит прибыль
					+link_button_round('all_project_link', 'Посмотреть', 'все проекты', 'pic/arrow-icon.svg')
			.project_slider_items
				.owl-carousel#full_width_slider
					+project_item('pic/project-item1.jpg', 'Ration', 'Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')
					+project_item('pic/project-item2.jpg', 'Ration', 'Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')
					+project_item('pic/project-item3.jpg', 'Ration', 'Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')
					+project_item('pic/project-item1.jpg', 'Ration', 'Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')
					+project_item('pic/project-item2.jpg', 'Ration', 'Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')
					+project_item('pic/project-item3.jpg', 'Ration', 'Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')
					+project_item('pic/project-item1.jpg', 'Ration', 'Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')
					+project_item('pic/project-item2.jpg', 'Ration', 'Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')

		section.main_infographics_block
			.center_block
				h2.title Пользоваться сервисом просто
				.main_infographics_block_position
					+main_infographics_counter_image('pic/infographics-1.svg', 'Выберите готовый пакет или услугу.', 'Мы всё подготовили')
					+main_infographics_counter_image('pic/infographics-2.svg', 'Заполните онлайн-бриф в личном кабинете.', 'Это займет около 15 минут.')
					+main_infographics_counter_image('pic/infographics-3.svg', 'Получите свой бренд через 3 недели.', 'Все права передаем.')
					+main_infographics_counter_image('pic/infographics-4.svg', 'Мы будем рядом.', 'По завершению проекта мы будем поддерживать.')

		section.important_budget
			.center_block
				include ../includes/important-budget-block

		section.need_help
			.center_block
				.need_help_position
					.need_help_left
						h3.title Остались вопросы? Давайте обсудим
						span Напишите нам на <a href="mailto:myemail@mydomain.ru">почту</a>, <a href="#" target="_blank">Telegram</a> или <a href="#" target="_blank">WhatsApp</a>
						span Или звоните - <a href="tel:84954142486">8 (495) 414-24-86</a>
					.need_help_right: img(src="pic/need-help-icon1.svg" alt="Остались вопросы? Давайте обсудим")

		include ../includes/footer
