include ../includes/head
include ../mixins/links/link-button-blue
include ../mixins/components/easier-and-more-item
include ../mixins/components/important-budget-item
include ../mixins/components/important-budget-item-new-price
include ../mixins/components/talking-about-slider-item

body.body_blue
	include ../includes/header
	.wrapped_block
		.center_block
			section.main2_title
				span.dot.red
				span.dot.pale_blue
				span.dot.blue
				.simple_main_video
					.how_is_simple_block
						button#simple_video: span: img(src="pic/simple-video-icon.svg" alt="Посмотрите как это просто!")
						span.simple_text Посмотрите как это просто!
					.how_is_simple_block_video
						video(preload="auto" muted playsinline autoplay="autoplay"
							loop="loop")
							source(src="video/video.ogv" type='video/ogg; codecs="theora, vorbis"')
							source(src="video/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
							source(src="video/video.webm" type='video/webm; codecs="vp8, vorbis"')
				.simple_main_content
					h1.title2 Бренд мечты, а не мечты о бренде!
					p Наконец-то создание бренда автоматизировано, и превращено в удобный, современный и приятный сервис, без потери качества и эффективности!
					+link_button_blue('main2_make_brand', 'Создать бренд', '#')

			section.main2_subtitle BrandHub переосмыслил процесс заказа и создания бренда. Теперь вместо затратного и  сложного процесса, вы получаете  легко управляемый инструмент  с простыми и эффективными  решениями.

			section.services_grid#service_grid_main2
				h2.title2 Уже создано и приносит прибыль
				include ../includes/services-grid
				.main2_show_more
					+link_button_blue('main2_show_more', 'Посмотреть все', '#')

			section.easier_and_more_block
				h2.title2 С нами все проще и удобнее
				.easier_and_more_block_position
					.easier_and_more_block_pic: img(src="pic/easier-and-more-block.png" alt="С нами все проще и удобнее")
					.easier_and_more_block_content
						+easier_and_more_item('01', 'Выберите готовый пакет или услугу.', 'Мы всё подготовили')
						+easier_and_more_item('02', 'Заполните онлайн-бриф в личном кабинете.', 'Это займет около 15 минут.')
						+easier_and_more_item('03', 'Получите свой бренд через 3 недели.', 'Все права передаем.')
						+easier_and_more_item('forever', 'Мы будем рядом ', 'По завершению проекта мы будем поддерживать.')

			section.important_budget.main2_im_budget
				include ../includes/important-budget-block

			section.customers_talking_about
				h3.title О нас говорят клиенты
				.customers_talking_about_slider
					.owl-carousel.one_slider_with_nav
						+talking_about_slider_item('pic/clients-talking-pic.jpg', 'Екатерина Волкова', 'проект Сonnective')
						+talking_about_slider_item('pic/clients-talking-pic.jpg', 'Екатерина Волкова', 'проект Сonnective')
						+talking_about_slider_item('pic/clients-talking-pic.jpg', 'Екатерина Волкова', 'проект Сonnective')
						+talking_about_slider_item('pic/clients-talking-pic.jpg', 'Екатерина Волкова', 'проект Сonnective')
						+talking_about_slider_item('pic/clients-talking-pic.jpg', 'Екатерина Волкова', 'проект Сonnective')
					.customers_talking_count_position
						#customers_talking_count
							#customers_talking_count_first 01
							#customers_talking_dots
							#customers_talking_count_last
						#customers_talking_buttons
		include ../includes/footer

