include ../mixins/services/services-title
include ../mixins/services/inside-package-item
include ../mixins/stages/page-text-item
include ../mixins/stages/stage-shadow-titles
include ../mixins/links/link-button-blue

include ../includes/head
body.services.market_body
	include ../includes/header
	.wrapped_block
		section.services_header.market_header
			.center_block
				span.dot.red
				span.dot.pale_blue
				include ../includes/breadcrumbs-block
				+services_title('Маркетплейс – быстро разместиться на онлайн-полке', 'Комплексное решение для грамотной упаковки продукта, соответствующей трендам категории. Эффектно выделит ваш продукт как в рознице, так и на онлайн-витрине', '130 000 ₽', '3 недели', 'pic/market-header.png')
				.services_header_buttons
					a(href="#" target="_blank" class="services_link services_market_link") Создать бренд
					a(href="#" target="_blank" class="services_download services_market") Скачать пример
		.center_block
			section.inside_package
				h2.package_title Что входит в пакет?
				.inside_package_position.package_inside
					+inside_package_item('pic/service-brand2.svg', 'Логотип или этикетка', '2 варианта')
					+inside_package_item('pic/service-market1.svg', 'Дизайн товарных карточек', '5 штук')
					+inside_package_item('pic/service-market2.svg', 'Заведение на маркетплейс', '')
				h2.package_title.package_subtitle Проект проходит через 5 этапов
		section.stages_block
			.small_center_block

				.stages_block_item.stages1
					+page_text_item('01', 'Сбор информации о продукте', 'Мы собираем всю информацию о продукте, конкурентном окружении, трендам и формируем позиционирование бренда.')
					.stages_page_pic: img(src="pic/stages-pic1.png" alt="Сбор информации о продукте")

				.stages_block_item.stages2
					.stages_shadow_block.title_count3
						+stage_shadow_titles('Smellhunt', '“smell” — запах + “hunt” — охота', 'Максимально указательное название, дающее отсылку к уничтожению запахов; охотник за запахами в доме, который ежедневно борется с ними')
						+stage_shadow_titles('Odor Boo', '“odor” — запах + “boo” — бу (междометие), шикать прогонять', 'Метафорично обыгрывается тема с исчезновением / уничтожением неприятных запахов. Запахам здесь не место, они будут изгнаны!')
						+stage_shadow_titles('Wellroom', '“well” — хороший + “room” — комната', 'Средства для того, чтобы комната (дом) всегда была в хорошем состоянии - в порядке')
					+page_text_item('02', 'Нейминг', 'Придумываем варианты названий, отбираем самые яркие и удачные, отправляем на проверку патентоведу, получаем результаты в форме отчета и определяем те варианты, у которых все шансы на регистрацию в качестве товарного знака. В рамках пакета у вас точно будет 3 проверенных варианта, из которых можно выбрать наиболее подходящий.')

				.stages_block_item.stages3
					.stage_line: img(src="pic/stage2-2.svg" alt="Дизайн упаковки")
					+page_text_item('03', 'Дизайн упаковки', 'Разрабатываем 2 варианта логотипа и дизайна лицевой стороны упаковки.')

				.stages_block_item.stages3_center
					.stage_line: img(src="pic/stage2-center.svg" alt="Дизайн упаковки")

				.stages_block_item.full_width.stages4
					.stages_shadow_block
						.stages_tab
							button.stages_tab_item.active: img(src="pic/package-item1.png" alt="Продукт 1")
							button.stages_tab_item: img(src="pic/package-item2.png" alt="Продукт 2")
						#stages_tab_line: span

						.stages_tab_content
							.stages_tab_content_block.active
								.stages_tab_content_block_item
									.title Концепция логотипа
									.content
										p Логотип выполнен крупным болдовым шрифтом и включает название бренда и дескриптор. Цвета логотипа различаются по линейкам.
										p Базовый логотип - нейтрального черного цвета с универсальным знаком. В логотипы по линейкам интегрирован маркер линейки: домик / собака / кот.
										p Маркеры выглядят дружелюбно, подчеркивая атмосферу бренда, и гармонично вписываются в структуру логотипа.
								.stages_tab_content_block_item.center: img(src="pic/tab1-pic.png" alt="Концепция логотипа")

								.stages_tab_content_block_item
									.title Концепция упаковки
									.content
										p Лицевая этикетка продолжает белый цвет упаковки, добавляется яркость за счет цветного написания, выглядит чисто и дружелюбно.
										p Аромат средств демонстрируется соответствующими фото-изображениями.
										p Центральный - логотип, названия средств с назначением и результат.
								.stages_tab_content_block_item.center: img(src="pic/tab1-pic1.png" alt="Концепция упаковки")

							.stages_tab_content_block
								.stages_tab_content_block_item
									.title Концепция логотипа 2
									.content
										p Логотип выполнен крупным болдовым шрифтом и включает название бренда и дескриптор. Цвета логотипа различаются по линейкам.
										p Базовый логотип - нейтрального черного цвета с универсальным знаком. В логотипы по линейкам интегрирован маркер линейки: домик / собака / кот.
										p Маркеры выглядят дружелюбно, подчеркивая атмосферу бренда, и гармонично вписываются в структуру логотипа.
								.stages_tab_content_block_item.center: img(src="pic/tab1-pic1.png" alt="Концепция логотипа")

								.stages_tab_content_block_item
									.title Концепция упаковки 2
									.content
										p Лицевая этикетка продолжает белый цвет упаковки, добавляется яркость за счет цветного написания, выглядит чисто и дружелюбно.
										p Аромат средств демонстрируется соответствующими фото-изображениями.
										p Центральный - логотип, названия средств с назначением и результат.
								.stages_tab_content_block_item.center: img(src="pic/tab1-pic.png" alt="Концепция упаковки")



					.stages_center_line: img(src="pic/stage4-center.svg" alt="Дизайн упаковки")

				.stages_block_item.stages5
					+page_text_item('04', 'Финализация', 'Вы выбираете понравившийся вариант, а мы финализируем упаковку на всех сторонах обоих SKU, на основе предоставленных Вами текстов и информации')
				.stages_center_line.stages5: img(src="pic/line5.svg" alt="Финализация")

				.stages_block_item.full_width.stages6
					.stages_shadow_block.stages_final_position
						.stages_final_box
							.title Динамический логотип
							.content: img(src="pic/dynamic-logo.png" alt="Динамический логотип")
						.stages_final_box.stages_full_width
							.title Варианты логтипа
							.content
								.service_brand_color_item: img(src="pic/var-logo1.png" alt="Варианты логтипа")
								.service_brand_color_item: img(src="pic/var-logo2.png" alt="Варианты логтипа")
								.service_brand_color_item: img(src="pic/var-logo3.png" alt="Варианты логтипа")

						.stages_final_box.stages_full_width
							.title Развертки SKU
							.content.full_width_flex.stages_pictures
								.icon: img(src="pic/var-raz1.png" alt="Развертки SKU")
								.icon: img(src="pic/var-raz2.png" alt="Развертки SKU")

						.stages_final_box
							.title Фирменные носители
							.content.package_grid.services_grid_block
								.stage_final_pic.span-col-2.span-row-2: img(src="pic/firm-pic1.jpg" alt="Фирменные носители")
								.stage_final_pic: img(src="pic/firm-pic2.jpg" alt="Фирменные носители")
								.stage_final_pic: img(src="pic/firm-pic3.jpg" alt="Фирменные носители")
								.stage_final_pic: img(src="pic/firm-pic4.jpg" alt="Фирменные носители")
								.stage_final_pic: img(src="pic/firm-pic5.jpg" alt="Фирменные носители")

				.stages_block_item.stage_last
					.stages_page_pic: img(src="pic/market-final.png" alt="Поздравляем, ваша упаковка готова!")
					+page_text_item('05', 'Поздравляем, ваша упаковка готова!', 'Передаем имущественные права на выбранный вариант и исходники.')
					.stages_page_pic.mobile_display: img(src="pic/market-final.png" alt="Поздравляем, ваша упаковка готова!")
					.make_brand_link: a(href="#") Создать бренд


		include ../includes/service-block/servoces-footer-content
		include ../includes/footer
