include ../mixins/services/services-title-new-price
include ../mixins/services/inside-package-item
include ../mixins/stages/page-text-item
include ../mixins/stages/stage-shadow-titles
include ../mixins/links/link-button-blue
include ../mixins/services/audit-expert

include ../includes/head
body.services.audit_body
	include ../includes/header
	.wrapped_block
		section.services_header.audit_header
			.center_block
				span.dot.red
				span.dot.pale_blue
				include ../includes/breadcrumbs-block
				+services_title_new_price('Аудит бренда – получить рекомендации о том, как улучшить сайт, упаковку или фирменный стиль', 'Как можно улучшить существующий сайт, упаковку или логотип? Насколько ваши фирменные материалы могут работать эффективнее? Мы проанализируем и расскажем как улучшить', '5 000 ₽', '3 дня', 'pic/audit-header.png', '30 000 ₽')

				.services_header_buttons
					a(href="#" target="_blank" class="services_link services_audit_link") Получить аудит
					a(href="#" target="_blank" class="services_download services_audit") Скачать пример
		.center_block
			section.inside_package
				h2.package_title Что входит в пакет?
				.inside_package_position.audit_icon_block
					+inside_package_item('pic/services-audit0.svg', 'Нейминг', '')
					+inside_package_item('pic/services-audit1.svg', 'Стратегия', '')
					+inside_package_item('pic/services-audit2.svg', 'Фирменный стиль', '')
					+inside_package_item('pic/services-audit3.svg', 'Сайт', '')
					+inside_package_item('pic/services-audit4.svg', 'Выводы и рекомендации', '')
				h2.package_title.package_subtitle Эксперты сервиса
			section.audit_experts_list
				.owl-carousel#services_audit.services_audit_slider
					+audit_expert('pic/audit-pic1.jpg', 'Алексей Фадеев', 'Креативный директор Depot branding agency. Академик Российской Академии Рекламы. Состоит в международном клубе арт-директоров ADC. Член жюри различных международных рекламных и дизайнерских фестивалей. Один из самых награждаемых творческих директоров в России.', '#')
					+audit_expert('pic/audit-pic2.jpg', 'Вадим Матюшкин', 'Креативный директор Depot branding agency. Академик Российской Академии Рекламы. Состоит в международном клубе арт-директоров ADC. Член жюри различных международных рекламных и дизайнерских фестивалей. Один из самых награждаемых творческих директоров в России.', '#')
					+audit_expert('pic/audit-pic3.jpg', 'Алексей Михайлов', 'Самый известный критик Рунета aka Kreatin. Более 25 лет в брендинге и рекламе. Лауреат множества наград от ADCR Awards до Каннских львов.', '#')

		include ../includes/service-block/servoces-footer-content
		include ../includes/footer
