include ../includes/head
include ../mixins/components/important-budget-item
include ../mixins/components/important-budget-item-new-price

body.body_blue
	include ../includes/header
	.wrapped_block
		.center_block
			include ../includes/breadcrumbs-block
			.services_important_block
				section.important_budget.main2_im_budget
					h1.title Мы собрали готовые пакеты  услуг
						.important_budget_grid
							+important_budget_item('Новый бренд или ребрендинг','Создать новый бренд или проанализировать и освежить текущий', '150 000', '3 недели', 'services-brand.html')
							+important_budget_item('Дизайн сайта','Cтать заместнее в интернете: разработка дизайна сайта, рекламы и соц. сетей', '99 000', '2 недели', 'services-design.html')
							+important_budget_item_new_price('Аудит бренда','Практические рекомендации как улучшить существу- ющийй бренд.', '30 000', '5 000', '3 дня', 'services-audit.html')
							+important_budget_item('Маркетплейс','Быстро разместиться на онлайн-полке', '130 000', '4-6 недель', 'services-market.html')
							+important_budget_item('Дизайн упаковки','Разработать новый бренд для полки или интернет-витрины', '240 000', '3 недели', 'services-package.html')
			.not_found_service
				h2 Не нашли подходящую услугу?
				p Мы стараемся быть гибкими и подгтовили для вас конструктор услуг, где вы можете сами собрать необходимые для вас услуги в корзину
				button.button.button_white: span Собрать свой пакет
		include ../includes/footer
