include ../mixins/services/services-title
include ../mixins/services/inside-package-item
include ../mixins/stages/page-text-item
include ../mixins/stages/stage-shadow-titles
include ../mixins/links/link-button-blue

include ../includes/head
body.services.brand_body
	include ../includes/header
	.wrapped_block
		section.services_header.brand_header
			.center_block
				span.dot.red
				span.dot.pale_blue
				include ../includes/breadcrumbs-block
				+services_title('Новый бренд или ребрендинг – создать новый бренд или освежить текущий', 'Этот пакет подойдет вам если вам необходмим фирменный стиль.   Комплексная упаковка бизнеса, включающая всё необходимое для старта Вашего бизнеса или обновление и формирование более эффективного бренда, если Вам необходим ребрендинг', '150 000 ₽', '3 недели', 'pic/services-brand.png')
				.services_header_buttons
					a(href="#" target="_blank" class="services_link services_brand_link") Создать бренд
					a(href="#" target="_blank" class="services_download services_brand") Скачать пример
		.center_block
			section.inside_package
				h2.package_title Что входит в пакет?
				.inside_package_position.brand_inside
					+inside_package_item('pic/service-brand1.svg', 'Нейминг', '3 варианта названия')
					+inside_package_item('pic/service-brand2.svg', 'Логотип', '2 варианта')
					+inside_package_item('pic/service-brand3.svg', 'Фирменные носители', '2 варианта')
					+inside_package_item('pic/service-brand4.svg', 'Фирменные носители', '2 варианта')
				h2.package_title.package_subtitle Проект проходит через 5 этапов
		section.stages_block
			.small_center_block

				.stages_block_item.stages1
					+page_text_item('01', 'Сбор информации о продукте', 'Мы собираем всю информацию о продукте, конкурентном окружении, трендам и формируем позиционирование бренда.')
					.stages_page_pic: img(src="pic/stages-pic1.png" alt="Сбор информации о продукте")

				.stages_block_item.stages2
					.stages_shadow_block.title_count1
						+stage_shadow_titles('Smellhunt', '“smell” — запах + “hunt” — охота', 'Максимально указательное название, дающее отсылку к уничтожению запахов; охотник за запахами в доме, который ежедневно борется с ними')
						+stage_shadow_titles('Odor Boo', '“odor” — запах + “boo” — бу (междометие), шикать прогонять', 'Метафорично обыгрывается тема с исчезновением / уничтожением неприятных запахов. Запахам здесь не место, они будут изгнаны!')
						+stage_shadow_titles('Wellroom', '“well” — хороший + “room” — комната', 'Средства для того, чтобы комната (дом) всегда была в хорошем состоянии - в порядке')
					+page_text_item('02', 'Нейминг', 'Придумываем варианты названий, отбираем самые яркие и удачные, отправляем на проверку патентоведу, получаем результаты в форме отчета и определяем те варианты, у которых все шансы на регистрацию в качестве товарного знака. В рамках пакета у вас точно будет 3 проверенных варианта, из которых можно выбрать наиболее подходящий.')

				.stages_block_item.stages3
					.stage_line: img(src="pic/stage2-2.svg" alt="Дизайн упаковки")
					+page_text_item('03', 'Фирменный стиль', 'Переходим к этапу создания фирменного стиля. Разрабатываем в рамках предложения 2 варианта и показываем на примере логотипа и 3-4 бренд-носителей, подходящих для вашей категории и специфики бизнеса.')

				.stages_block_item.stages3_center
					.stage_line: img(src="pic/stage2-center.svg" alt="Дизайн упаковки")

				.stages_block_item.full_width.stages4
					.stages_shadow_block
						.owl-carousel.stages_slider_block.two
							.stages_slider_block_item: img(src="pic/stager-brand-slider-item.jpg" alt="Hobnob")
							.stages_slider_block_item: img(src="pic/stager-brand-slider-item2.jpg" alt="Hobnob")
							.stages_slider_block_item: img(src="pic/stager-brand-slider-item.jpg" alt="Hobnob")
							.stages_slider_block_item: img(src="pic/stager-brand-slider-item2.jpg" alt="Hobnob")
							.stages_slider_block_item: img(src="pic/stager-brand-slider-item.jpg" alt="Hobnob")
							.stages_slider_block_item: img(src="pic/stager-brand-slider-item2.jpg" alt="Hobnob")
							.stages_slider_block_item: img(src="pic/stager-brand-slider-item.jpg" alt="Hobnob")
							.stages_slider_block_item: img(src="pic/stager-brand-slider-item2.jpg" alt="Hobnob")

					.stages_center_line: img(src="pic/stage4-center.svg" alt="Дизайн упаковки")

				.stages_block_item.stages5
					+page_text_item('04', 'Финализация', 'Вы выбираете понравившийся вариант, и мы финализируем концепцию, фиксируем константы бренда')
				.stages_center_line.stages5: img(src="pic/line5.svg" alt="Финализация")

				.stages_block_item.full_width.stages6
					.stages_shadow_block.stages_final_position
						.stages_final_box
							.title Фирменный шрифт
							.content: img(src="pic/service-brand-logo.svg" alt="Фирменный шрифт")
						.stages_final_box
							.title Фирменные цвета
							.content
								.service_brand_color_item
									.service_brand_color_round(style="background-color: #ED3932")
									.service_brand_color_content
										.title Красный коралл
										.item <span>RGB:</span> ED3932
										.item <span>CMYK:</span> 0, 76, 79, 7
										.item <span>Pantone:</span> Warm Red C
								.service_brand_color_item
									.service_brand_color_round(style="background-color: #1F4BE9")
									.service_brand_color_content
										.title Синяя лазурь
										.item <span>RGB:</span> 1F4BE9
										.item <span>CMYK:</span> 87, 68, 0, 9
										.item <span>Pantone:</span> 285 С
								.service_brand_color_item
									.service_brand_color_round(style="background-color: #1E1E1E")
									.service_brand_color_content
										.title Черный графит
										.item <span>RGB:</span> 1E1E1E
										.item <span>CMYK:</span> 0, 0, 0, 88
										.item <span>Pantone:</span> Neutral Black C

						.stages_final_box.stages_full_width
							.title Фирменные иконки
							.content.full_width_flex.stages_icons
								.icon: img(src="pic/s-brand-icon1.svg" alt="Фирменные иконки 1")
								.icon: img(src="pic/s-brand-icon2.svg" alt="Фирменные иконки 2")
								.icon: img(src="pic/s-brand-icon3.svg" alt="Фирменные иконки 3")
								.icon: img(src="pic/s-brand-icon4.svg" alt="Фирменные иконки 4")
								.icon: img(src="pic/s-brand-icon5.svg" alt="Фирменные иконки 5")
								.icon: img(src="pic/s-brand-icon6.svg" alt="Фирменные иконки 6")

						.stages_final_box
							.title Фирменный паттерн
							.content
								img(src="pic/s-brand-pattern.svg" alt="Фирменный паттерн")

						.stages_final_box
							.title Фирменные носители
							.content.brand_grid.services_grid_block
								.stage_final_pic.span-col-2: img(src="pic/brand-pic1.jpg" alt="Фирменные носители")
								.stage_final_pic: img(src="pic/brand-pic2.jpg" alt="Фирменные носители")
								.stage_final_pic.span-row-2: img(src="pic/brand-pic3.jpg" alt="Фирменные носители")
								.stage_final_pic: img(src="pic/brand-pic4.jpg" alt="Фирменные носители")
								.stage_final_pic.span-col-2: img(src="pic/brand-pic5.jpg" alt="Фирменные носители")

				.stages_block_item.stage_last
					.stages_page_pic: img(src="pic/last-pic-brand.png" alt="Поздравляем, ваш бренд готов!")
					+page_text_item('05', 'Поздравляем, ваш бренд готов!', 'Передаем имущественные права на выбранный вариант и исходники.')
					.stages_page_pic.mobile_display: img(src="pic/last-pic-brand.png" alt="Поздравляем, ваш бренд готов!")
					.make_brand_link: a(href="#") Создать бренд

		include ../includes/service-block/servoces-footer-content
		include ../includes/footer
