include ../mixins/services/services-title
include ../mixins/services/inside-package-item
include ../mixins/stages/page-text-item
include ../mixins/stages/stage-shadow-titles
include ../mixins/links/link-button-blue

include ../includes/head
body.services.design_body
	include ../includes/header
	.wrapped_block
		section.services_header.design_header
			.center_block
				span.dot.red
				span.dot.pale_blue
				include ../includes/breadcrumbs-block
				+services_title('Дизайн сайта – стать заметнее в интернете: разработка дизайна сайта, рекламы и соц. сетей', 'Оптимальный пакет для быстрого старта диджитал-проекта, либо проекта с online-присутствием. Содержит все самое необходимое для цифровизации вашего бизнеса', '99 000 ₽', '3 недели', 'pic/services-design.png')
				.services_header_buttons
					a(href="#" target="_blank" class="services_link services_design_link") Создать сайт
					a(href="#" target="_blank" class="services_download services_design") Скачать пример
		.center_block
			section.inside_package
				h2.package_title Что входит в пакет?
				.inside_package_position.package_inside
					+inside_package_item('pic/service-brand2.svg', 'Логотип', '2 варианта')
					+inside_package_item('pic/service-web1.svg', 'Дизайн лендинга', '1 вариант')
					+inside_package_item('pic/service-web2.svg', 'Оформление социальных сетей', 'Обложка, аватар, дизайн-шаблоны для рубрик и постов')
				h2.package_title.package_subtitle Проект проходит через 5 этапов
		section.stages_block
			.small_center_block

				.stages_block_item.stages1
					+page_text_item('01', 'Изучение брифа', 'Формулируем гипотезу позиционирования бренда. На основе утвержденного позиционирования разрабатываем 2 варианта фирменного стиля на примере логотипа.')
					.stages_page_pic: img(src="pic/stages-pic1.png" alt="Сбор информации о продукте")

				.stages_block_item.full_width.stages4.stages_web4
					.stages_shadow_block
						.stages_tab
							button.stages_tab_item.active: img(src="pic/web-tab1.png" alt="Продукт 1")
							button.stages_tab_item: img(src="pic/web-tab2.png" alt="Продукт 2")
						#stages_tab_line: span

						.stages_tab_content
							.stages_tab_content_block.active
								.stages_tab_content_block_item
									.title Концепция логотипа
									.content
										p Логотип состоит из двух основных элементов:
										p 1 - буквы массивного, современного, оригинального начертания;
										p 2 - горизонтальные линии, символизирующие конструктивность и адаптивность услуг компании + ассоциация с конвеерной лентой производства.
										p Логотип хорошо анимируется благодаря движению, смещению, перемещению линий.
								.stages_tab_content_block_item.center: img(src="pic/web-tab-content1.png" alt="Концепция логотипа")

								.stages_tab_content_block_item
									.title Цветовое решение
									.content
										p В фирменном стиле используется два основных цвета - синий и белый.
										p И два дополнительных цвета - светло-голубой и серый.
										p Цветовая гамма подчеркивает открытость, безопасность и уверенность компании.
										p Логотип также может существовать в инверсии, то есть белым начертанием на синем фоне.
								.stages_tab_content_block_item.center: img(src="pic/web-tab-content2.png" alt="Концепция упаковки")

							.stages_tab_content_block
								.stages_tab_content_block_item
									.title Концепция логотипа2
									.content
										p Логотип состоит из двух основных элементов:
										p 1 - буквы массивного, современного, оригинального начертания;
										p 2 - горизонтальные линии, символизирующие конструктивность и адаптивность услуг компании + ассоциация с конвеерной лентой производства.
										p Логотип хорошо анимируется благодаря движению, смещению, перемещению линий.
								.stages_tab_content_block_item.center: img(src="pic/web-tab-content1.png" alt="Концепция логотипа")

								.stages_tab_content_block_item
									.title Цветовое решение2
									.content
										p В фирменном стиле используется два основных цвета - синий и белый.
										p И два дополнительных цвета - светло-голубой и серый.
										p Цветовая гамма подчеркивает открытость, безопасность и уверенность компании.
										p Логотип также может существовать в инверсии, то есть белым начертанием на синем фоне.
								.stages_tab_content_block_item.center: img(src="pic/web-tab-content2.png" alt="Концепция упаковки")



					.stages_center_line: img(src="pic/stage4-center.svg" alt="Дизайн упаковки")

				.stages_block_item.stages5
					+page_text_item('02', 'Макет сайта и соц. сетей', 'Вы выбираете понравившийся вариант и мы развиваем его на макете сайта и социальных сетях.')
				.stages_center_line.stages5: img(src="pic/line5.svg" alt="Макет сайта и соц. сетей")

				.stages_block_item.full_width.stages4
					.stages_shadow_block
						.owl-carousel.stages_slider_block.once
							.stages_slider_block_item: img(src="pic/web-slider.jpg" alt="Rusoleochem")
							.stages_slider_block_item: img(src="pic/web-slider.jpg" alt="Rusoleochem")
							.stages_slider_block_item: img(src="pic/web-slider.jpg" alt="Rusoleochem")
							.stages_slider_block_item: img(src="pic/web-slider.jpg" alt="Rusoleochem")

				.stages_block_item.stage_last
					.stages_page_pic: img(src="pic/web-ready.png" alt="Поздравляем, ваша упаковка готова!")
					+page_text_item('03', 'Поздравляем, ваш сайт готов!', 'Передаем имущественные права на выбранный вариант и исходники.')
					.stages_page_pic.mobile_display: img(src="pic/web-ready.png" alt="Поздравляем, ваш сайт готов!")
					.make_brand_link: a(href="#") Создать сайт


		include ../includes/service-block/servoces-footer-content
		include ../includes/footer
