include ../mixins/services/services-title
include ../mixins/services/inside-package-item
include ../mixins/components/important-budget-item
include ../mixins/components/important-budget-item-new-price

include ../includes/head
body.services.custom_body
	include ../includes/header
	.wrapped_block
		section.services_header.custom_service_header
			.center_block
				span.dot.red
				span.dot.pale_blue
				include ../includes/breadcrumbs-block
				+services_title('Пакет Кастом - опция для тех, кому нужно только самое необходимое', 'Соберите свой пакет услуг  самостоятельно, используя наш удобный конструктор.', '60 000 ₽', '2-4 недели', 'pic/services-custom.png')
				.services_header_buttons
					a(href="#" target="_blank" class="services_link services_сustom_link") Начать заполнение
		.center_block
			section.inside_package
				h2.package_title Что входит в пакет?
				.inside_package_position.package_inside
					+inside_package_item('pic/service-brand2.svg', 'Фирменный стиль', '1 вариант')
					+inside_package_item('pic/custom-package1.svg', 'Дизайн упаковки', '1 вариант на примере 2 SKU')
					+inside_package_item('pic/custom-package2.svg', 'Дополнительные услуги из списка', '')
		section.constructor_prev
			.center_block
				h2.package_title Как собрать бренд в конструкторе
				.constructor_prev_position
					.constructor_prev_position_item
						span Основа вашего проекта
						p Начните с выбора базы проекта: Это может быть разработка фирменного стиля или дизайна упаковки. Вы можете выбрать нужное количество вариантов
					.constructor_prev_position_item
						span Дополнительные услуги
						p Далее добавляйте в корзину любые дополнительные услуги в требуемом количестве
					.constructor_prev_position_item
						span Общая стоимость
						p Итоговая сумма будет будет расчитана в удобном калькуляторе

		include ../includes/service-custom/basics-project
		include ../includes/service-custom/additional-services
		include ../includes/service-custom/total-service
		include ../includes/service-block/servoces-footer-content-small
		include ../includes/footer

