button.close_modal.close_main_nav
	span: svg(width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
		path(d="M4.50311 6L0.313211 1.81011C0.11436 1.61161 0.00250626 1.34224 0.0022583 1.06127C0.00201035 0.780301 0.113387 0.51074 0.311888 0.311888C0.510388 0.113037 0.779753 0.00118391 1.06072 0.000935773C1.34169 0.000687639 1.61125 0.112065 1.81011 0.310565L6 4.50046L10.1899 0.310565C10.3887 0.111714 10.6584 0 10.9397 0C11.2209 0 11.4906 0.111714 11.6894 0.310565C11.8883 0.509417 12 0.779117 12 1.06034C12 1.34155 11.8883 1.61125 11.6894 1.81011L7.49954 6L11.6894 10.1899C11.8883 10.3887 12 10.6584 12 10.9397C12 11.2209 11.8883 11.4906 11.6894 11.6894C11.4906 11.8883 11.2209 12 10.9397 12C10.6584 12 10.3887 11.8883 10.1899 11.6894L6 7.49954L1.81011 11.6894C1.61125 11.8883 1.34155 12 1.06034 12C0.779117 12 0.509417 11.8883 0.310565 11.6894C0.111713 11.4906 0 11.2209 0 10.9397C0 10.6584 0.111713 10.3887 0.310565 10.1899L4.50311 6Z")
