.modal_social_buttons
	button.button_white
		span: a(href="#" target="_blank"): img(src="pic/social-1.svg")
	button.button_white
		span: a(href="#" target="_blank"): img(src="pic/social-2.svg")
	button.button_white
		span: a(href="#" target="_blank"): img(src="pic/social-3.svg")
