.content_pagination
	a.back_button(href="#")
		img(src="pic/pagination-back.svg")
		span Назад
	ul.pagination_content
		li: a(href="#") Шаг 1
		li.active: a(href="#") Шаг 2
		li: a(href="#") Шаг 3
		li: a(href="#") Шаг 4
