footer
	.footer_item
		.logo: a(href="index2.html"): img(src="pic/logo.svg" alt="Brand Hub")
		.footer_nav: ul
			li: a(href="#") Сотрудничество
			li: a(href="#") Контакты
			li: a(href="#") Документы
	.footer_item: ul.footer_social
		li: a(href="#"): img(src="pic/footer-social-1.svg")
		li: a(href="#"): img(src="pic/footer-social-2.svg")
		li: a(href="#"): img(src="pic/footer-social-3.svg")
		li: a(href="#"): img(src="pic/footer-social-4.svg")
	.footer_copyright © 2020
script(src='js/brief-dist.js')
