.dev_cont
	ul
		li: a(href="brief-1-1.html") 1-1.html
		li: a(href="brief-1-2.html") 1-2.html
		li: a(href="brief-1-3.html") 1-3.html
		li: a(href="brief-1-4.html") 1-4.html
		li: a(href="brief-1-5.html") 1-5.html
		li: a(href="brief-1-6.html") 1-6.html
		li: a(href="brief-1-7.html") 1-7.html
		li: a(href="brief-2-1.html") 2-1.html
		li: a(href="brief-2-2.html") 2-2.html
		li: a(href="brief-3-1.html") 3-1.html
		li: a(href="brief-3-2.html") 3-2.html
		li: a(href="brief-4-1.html") 4-1.html
		li: a(href="brief-4-2.html") 4-2.html
		li: a(href="brief-5-1.html") 5-1.html
		li: a(href="brief-5-2.html") 5-2.html
		li: a(href="brief-6.html") 6.html
		li: a(href="brief-7-1.html") 7-1.html
		li: a(href="brief-7-2.html") 7-2.html
		li: a(href="brief-8-1.html") 8-1.html
		li: a(href="brief-8-2.html") 8-2.html
		li: a(href="brief-9-1.html") 9-1.html
		li: a(href="brief-9-2.html") 9-2.html
		li: a(href="brief-9-3.html") 9-3.html
		li: a(href="brief-9-4.html") 9-4.html

header
	.logo: a(href="index.html"): img(src="pic/logo.svg" alt="Brand Hub")
	nav: ul
		li: a(href="#") О нас
		li: a(href="#") Услуги
		li: a(href="#") Проекты
		li: a(href="#") Блог
	.header_right
		.notification
			img(src="pic/notification-icon.svg" alt="Уведомления")
			span.active
		.user: img(src="pic/user.jpg" alt="user name")

