doctype html
html(lang="ru")
	head
		title Brand Hub - Бренд мечты, а не мечты о бренде!
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href='css/brief.css?v=1')
		link(rel="stylesheet" href='css/nice-select.css?v=1')
		link(rel="stylesheet" href='css/ion.rangeSlider.css?v=1')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='js/jquery.nice-select.min.js')
		script(src='js/ion.rangeSlider.min.js')
