mixin important_budget_item(title, subtitle, price, term, link)
	.important_budget_item
		a.important_b_link(href=link)
		.important_budget_item_top
			.title=title
			.subtitle=subtitle
		.important_budget_item_bottom
			.important_budget_item_position
				.important_budget_item_left
					span='Цена: '
						b=price + ' ₽'
					span='Срок: '
						b=term
				.important_budget_item_link Подробнее >
