mixin important_budget_item_new_price(title, subtitle,new_price, price, term, link)
	.important_budget_item.new_price
		a.important_b_link(href=link)
		.important_budget_item_top
			.title=title
			.subtitle=subtitle
		.important_budget_item_bottom
			.important_budget_item_position
				.important_budget_item_left
					span.old_price='Цена: '
						p=new_price + ' ₽'
					span.new_price='Цена: '
						b=price + ' ₽'
					span='Срок: '
						b=term
				.important_budget_item_link Подробнее >
