mixin main_infographics_counter_image(pic, title, subtitle)
	.main_infographics_block_item
		span.count_item: img(src=pic alt=title)
		.main_infographics_block_item_position
			span.count_title=title
			span.count_subtitle=subtitle

