mixin talking_about_slider_item(pic, name, project)
	.talking_about_slider_item
		.talking_about_slider_item_pic: img(src=pic alt=name)
		.talking_about_slider_item_content
			.top
				p Мы решили что компания доросла до того чтобы у нее был полноценный фирменный стиль и логотип. Нашли вашу компанию на Spark, посмотрели портфолио и решили обратиться к вам.
				p Сомнений не было. В итоге логотип и фирменный стиль получились отлично. В процессе работы понравилось то, как все детально продумано. Бриф профессиональный и сразу понятно за что именно ты платишь деньги.
			.bottom
				span.name=name
				span.project=project
