#modal_video_block
	include components/button-close-modal-video
	.modal_video_position
		.modal_video_youtube: iframe(width="904" height="508.5" src="https://www.youtube.com/embed/Z_eaCPZ3v2s?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
