include ../../mixins/buttons/button-white

.modal#modal_nav
	#modal_nav_position
		ul
			li: a(href="#") О нас
			li
				a(href="javascript:void(0)")#mobile_nav_service_button Услуги
				ul.mobile_drop_nav
					li.active: a(href='services-brand.html') Новый бренд
					li: a(href='services-package.html') Дизайн упаковки
					li: a(href='services-design.html') Дизайн сайта
					li: a(href='services-market.html') Маркетплейс
					li: a(href='services-audit.html') Аудит бренда
					li: a(href='services-custom.html') Кастом
			li: a(href="#") Проекты
			li: a(href="#") Блог
	+button_white('login_button_mobile', 'Войти')
