include ../../mixins/buttons/button-blue

.modal.modal_right#modal_login
	include components/button-close-modal
	.modal_content_block
		.modal_title Войдите
		form(action="")
			input(type="email" name="email" placeholder="Электронная почта")
			.password_show_hide
				input(type="password" name="password" placeholder="Пароль")
				button.password_toggle_icon: span
			.forgot_password
				p Забыли пароль?
				button#restore_password_button Восстановить
			.modal_login_buttons
				label.custom_checkbox
					input(type="checkbox")
					span: p Запомнить меня
				+button_blue('button_login', 'Вход')
		.modal_login_buttons
			include components/modal-social-buttons
			include components/modal-no-account
