include ../../mixins/buttons/button-blue

.modal.modal_right#modal_restore_password
	include components/button-close-modal
	.modal_content_block
		.modal_title Восстановление пароля
		form(action='')
			input(type="email" name="email" placeholder="Электронная почта")
			.modal_login_buttons
				+button_blue('reset_password_button', 'Восстановить')
