include ../../mixins/buttons/button-blue

.modal.modal_right#modal_registration
	include components/button-close-modal
	.modal_content_block
		.modal_title Зарегистрируйтесь
		form(action='')
			input(type="text" name="full_name" placeholder="ФИО")
			input(type="email" name="email" placeholder="Электронная почта")
			.password_show_hide
				input(type="password" name="password" placeholder="Пароль")
				button.password_toggle_icon: span
			.check_password_complexity
			label.custom_checkbox
				input(type="checkbox")
				span
					p Согласен&nbsp;
						a(href="#") с условиями обслуживания сервиса Brandhub
		.modal_login_buttons
			+button_blue('register_submit', 'Зарегистрироваться')
			include components/modal-social-buttons
			include components/modal-has-account
