include ../../mixins/buttons/button-blue
include ../../mixins/buttons/button-white

.modal.modal_right#modal_login_welcome
	include components/button-close-modal
	.modal_content_block
		.modal_title В шаге от своего бренда
		.modal_login_icon.responsive_pic: img(src="pic/modal-login-enter.png")
		.modal_login_buttons
			+button_blue('modal_registration_button', 'Регистрация')
			+button_white('modal_login_button', 'Вход')
			include components/modal-social-buttons
			include components/modal-no-account
