mixin audit_expert(pic, name, content, link)
    .audit_expert_item
        .audit_expert_item_pic: img(src= pic alt= name)
        .audit_expert_item_title: a(href= link target="_blank")= name
        .audit_expert_item_content= content
        .audit_expert_item_link
            a(href= link target="_blank")
                img(src="pic/facebook.svg" alt= name)
                span facebook
