mixin services_title(title, subtitle, price, calendar, pic)
	.services_title
		.services_title_left
			h1.title= title
			p=subtitle
			.services_title_position
				p Цена
					span= price
				p Срок
					span= calendar
		.services_title_pic: img(src=pic alt=title)
