mixin services_title_new_price(title, subtitle, price, calendar, pic, old_price)
	.services_title
		.services_title_left
			h1.title= title
			p=subtitle
			.services_title_position
				p Цена
					span.old_price= old_price
					span= price
				p Срок
					span= calendar
		.services_title_pic: img(src=pic alt=title)
