footer
	.center_block
		.footer_position
			.footer_logo
				a(href="index.html"): img(src="pic/footer-logo.svg" alt="Бренд мечты, а не мечты о бренде!")
			.footer_links: ul
				li: a(href="cooperation.html") Сотрудничество
				li: a(href="contacts.html") Контакты
				li: a(href="documents.html") Документы
			.footer_social_links: ul
				li: a(href="cooperation.html"): img(src="pic/footer-social-1.svg" alt="Facebook")
				li: a(href="cooperation.html"): img(src="pic/footer-social-2.svg" alt="Instagram")
				li: a(href="cooperation.html"): img(src="pic/footer-social-3.svg" alt="Telegram")
				li: a(href="cooperation.html"): img(src="pic/footer-social-4.svg" alt="Youtube")
		.footer_year: span © 2020

