include ../mixins/buttons/button-white

include ../includes/modal/modal-nav
include ../includes/modal/modal-login-welcome
include ../includes/modal/modal-registration
include ../includes/modal/modal-login
include ../includes/modal/modal-restore-password
include ../includes/service-questions/service-questions-auth
include ../includes/modal/modal-video-overlay
.center_block#header
	header
		.header_position
			.logo: a(href="index2.html"): img(src="pic/logo.svg")
			nav.main_nav
				ul
					li
						a(href='about.html') О нас
						ul.main_nav_drop
							li: a(href='#') О сервисе
							li: a(href='#') Как работает сервсис?
							li: a(href='#') Чем мы отличаемся?
					li
						a(href='services.html') Услуги
						ul.main_nav_drop
							li.active: a(href='services-brand.html') Новый бренд
							li: a(href='services-package.html') Дизайн упаковки
							li: a(href='services-design.html') Дизайн сайта
							li: a(href='services-market.html') Маркетплейс
							li: a(href='services-audit.html') Аудит
							li: a(href='services-custom.html') Кастом
					li: a(href='projects.html') Проекты
					li: a(href='blog.html') Блог
			+button_white('login_button', 'Войти')
			button.button_white#mobile_nav_button: span

