doctype html
html(lang="ru")
	head
		title Brand Hub - Бренд мечты, а не мечты о бренде!
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href='css/style.css?v=222222222')
		link(rel="stylesheet" href='css/owl.carousel.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='js/main-dist.js?v=222222222')
		script(src="js/modal-dist.js?v=222222222")
		script(src='js/owl.carousel.min.js')
		script(src='js/jquery.viewportchecker.min.js')
		script(src='js/scroll-lock.min.js')
