h3.title Мы знаем как важен бюджет
.subtitle Экономьте время, нервы и деньги, не ломайте голову над лишними заботами, при этом, получайте брендинг серьезного уровня
.important_budget_grid
	+important_budget_item('Новый бренд или ребрендинг','Создать новый бренд или проанализировать и освежить текущий', '150 000', '3 недели', 'services-brand.html')
	+important_budget_item('Дизайн сайта','Cтать заместнее в интернете: разработка дизайна сайта, рекламы и соц. сетей', '99 000', '2 недели', 'services-design.html')
	+important_budget_item_new_price('Аудит бренда','Практические рекомендации как улучшить существу- ющийй бренд.', '30 000', '5 000', '3 дня', 'services-audit.html')
	+important_budget_item('Маркетплейс','Быстро разместиться на онлайн-полке', '130 000', '4-6 недель', 'services-market.html')
	+important_budget_item('Дизайн упаковки','Разработать новый бренд для полки или интернет-витрины', '240 000', '3 недели', 'services-package.html')
