include ../mixins/components/project-item

.services_grid_position
	+project_item('pic/project-item1.jpg', 'Bergen', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus', 'project.html')
	+project_item('pic/project-item2.jpg', 'Buddy', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis', 'project.html')
	+project_item('pic/project-item3.jpg','Тентекс','Позиционирование, нейминг и фирменный стиль сервиса по доставке еды', 'project.html')
	+project_item('pic/project-item4.jpg','Lorem','Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus', 'project.html')
	+project_item('pic/project-item5.jpg','Rum baba','Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus', 'project.html')
	+project_item('pic/project-item6.jpg','Лесная фантазия','Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus', 'project.html')
